<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Unmatched Payments</h2>
		<span class="pull-right" style="color: red">* Required </span><br>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<form style="width: 100%;" name="umnatchedPaymemtsFrm" novalidate="" ng-submit="callFiterData(true)">
					<div class="row custom-row">
						<div class="col-md-6 col-sm-6">
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<md-datepicker class="start-calender" required ng-change="checkValidDate(unmatchedPaymentRpt.fromDate,unmatchedPaymentRpt.toDate)" ng-model="unmatchedPaymentRpt.fromDate" md-placeholder="From*"></md-datepicker>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<!-- ng-disabled="!unmatchedPaymentRpt.fromDate" -->
									<md-datepicker class="start-calender" required md-min-date="unmatchedPaymentRpt.fromDate" ng-model="unmatchedPaymentRpt.toDate" md-placeholder="To*"></md-datepicker>
								</div>
							</div>
						</div>			
						<div class="col-md-4 col-sm-4 column-btn-go">
							<div layout-gt-sm="row" class="layout-gt-sm-row">
								<md-input-container class="md-block flex-gt-sm custom-display" style="margin:5px 0;">
									<md-button type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>
								</md-input-container>
								<md-input-container class="md-block flex-gt-sm custom-display">
									<md-radio-group ng-model="unmatchedPaymentRpt.selectedDate" ng-selected>
										<md-radio-button value="0" class="md-primary">Arrival Date</md-radio-button>
									</md-radio-group>
									<md-radio-group ng-model="unmatchedPaymentRpt.selectedDate">
										<md-radio-button value="1" class="md-primary">Deposit Date</md-radio-button>
									</md-radio-group>
								</md-input-container>
							</div>
						</div>
						<div class="col-md-2">						
							<a class="excel-custom" ng-click="getPDFLink(2)" href="javascript:void(0)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
							<a class="pdf-custom" ng-click="getPDFLink(1)" href="javascript:void(0)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
						</div>
					</div>
				</form>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th class="md-column text-center custom-pending"><span>Type</span></th>
				<th class="md-column text-center"><span>ID</span></th> 
				<th md-column class="text-center" md-order-by="deposit_date"> <span>Deposit Date</span></th>
				<th md-column class="text-center" md-order-by="prop_name"><span>Property Name</span></th>
				<th md-column class="text-center" md-order-by="prop_city"><span>Property City</span></th>
				<th md-column class="text-center" md-order-by="last_name"> <span>Last Name</span></th>
				<th md-column class="text-center" md-order-by="first_name"><span>First Name</span></th>
				<th md-column class="text-center" md-order-by="check_date"> <span>Arrival Date</span></th>
				<th md-column class="text-center" md-order-by="check_num"><span>Check Number</span></th>
				<th md-column class="text-center" md-order-by="confirmation"><span>Confirmation</span></th>
				<th md-column class="text-center" md-order-by="net_act_comm"><span>Actual Commission</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row customBGColor" ng-show="unmatchedPayment.length && !unmatchedPaymentLoading" md-select="unmatchedPayment" ng-repeat-start="data in bookingToFilter() | filter:filterTeams">
				<td class="md-cell" colspan="10"><i ng-click="selectRow[$index] = !selectRow[$index]" ng-class="(!selectRow[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{data.cts_type}}</td>
				<td class="md-cell" style="text-align: right;" ng-init="totalAV = totalAvailableCommsion(unmatchedPayment)">${{totalAV.net_act_comm | number:2}}</td>
			</tr>
			<tr ng-repeat-end ng-show="!selectRow[$parent.$index] && !unmatchedPaymentLoading" class="md-row" ng-repeat="item in unmatchedPayment | filter:{cts_type:data.cts_type}:true"><!-- | orderBy:query.order -->
				<td class="md-cell">{{item.cts_type}}</td>
				<td class="md-cell"><a href="#" title="{{item.paymentID}}" ng-click="showConfirmPopup($event,item,'Unmatched Payments')">{{item.paymentID}}</a></td>
				<td class="md-cell">{{item.deposit_date  | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.prop_name}}</td>
				<td class="md-cell">{{item.prop_city}}</td>
				<td class="md-cell">{{item.last_name}}</td>
				<td class="md-cell">{{item.first_name}}</td>
				<td class="md-cell">{{item.in_date | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.check_num}}</td>
				<td class="md-cell">{{item.confirmation}}</td>
				<td class="md-cell" style="text-align: right;">{{item.net_act_comm | number : 2}}</td>
			</tr>
			<tr class="md-row" ng-if="!unmatchedPayment.length && !unmatchedPaymentLoading">
				<td class="text-center" style="padding: 10px" colspan="12">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="unmatchedPaymentLoading">
				<td class="text-center" style="padding: 10px" colspan="12">Loading...</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination ng-show="unmatchedPayment.length && !unmatchedPaymentLoading" md-limit="query.limit" md-limit-options="limitOptions" md-page="query
.page" md-total="{{unmatchedPaymentTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>

