<!-- <toaster-container toaster-options="tosterOption"></toaster-container> -->
<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Account Maintenance</h2>
		<md-card class="no-margin-h" ng-if="stateName != 'add'">
			<md-card-title style="padding-top: 25px;">
				<div class="col-md-4" ng-if="stateName=='list'">
					<md-input-container class="md-block flex-gt-sm custom-display">
						<md-button type="button" style="padding:0 12px;" ng-click="callAddAccount()" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Add New Account</md-button>
					</md-input-container>
				</div>
				<div class="col-md-6" ng-if="stateName=='list'" style="padding-top: 20px;">
					<form ng-submit="searchData(searchText)">
						<input type="text" name="user_id" ng-model="searchText" ng-trim="false" style="width: 50%; padding: 5px"/>
						<md-button type="submit" class="md-fab md-mini md-primary">
							<md-icon style="margin-bottom: 9px;margin-left: 2px;}"> <i class="fa fa-search" aria-hidden="true"></i> </md-icon>
						</md-button>
					</form>
				</div>
				<div class="col-md-12" ng-if="stateName=='update'">
					<md-input-container class="md-block flex-gt-sm custom-display pull-right">
						<md-button type="button" ng-click="showConfirmPopup($event,commentID)" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Delete Account</md-button>
					</md-input-container>
				</div>

				<div class="col-md-2" ng-if="stateName=='list'">						
					<a class="excel-custom" href="javascript:void(0)" ng-click="getPDFLink(2)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
					<a class="pdf-custom" href="javascript:void(0)" ng-click="getPDFLink(1)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
				</div>
			</md-card-title>
		</md-card>
		<md-card class="no-margin-h" ng-if="stateName=='list'">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th md-column class="text-center" md-order-by="accountCode"><span>Account</span></th> 
				<th md-column class="text-center" md-order-by="description"><span>Description</span></th>
				<th md-column class="text-center" md-order-by="group"><span>Group</span></th>
				<th md-column class="text-center custom-pending" md-order-by="active" ><span>Active</span></th>
				<th class="md-column text-center"><span></span></th>
			</thead>
			<tbody class="md-body">
				<tr class="md-row" md-select="accountList" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="data in accountList" ng-if="!accountListLoading"><!-- | orderBy: query.order -->
					<td md-cell class="text-center" style="text-align: center;">{{data.accountCode}}</td>
					<td md-cell>{{data.description}}</td>
					<td md-cell class="text-center" style="text-align: center;">{{data.group}}</td>
					<td md-cell class="text-center custom-icons-color" style="text-align: center;"><i class="fa" ng-class="(data.active)? 'fa-check' : 'fa-times'" aria-hidden="true"></i></td>
					<td md-cell class="text-center" style="text-align: center;"><a style="font-size: 17px; color: rgba(0,0,0,.87);" ui-sref="main.accountMaintenanceUpdate({id:data.id})" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
				</tr>
				<tr class="md-row" ng-if="!accountList.length && !accountListLoading">
					<td md-cell colspan="11" class="text-center" style="padding: 10px; text-align: center;">{{noData}}</td>
				</tr>
				<tr class="md-row" ng-if="accountListLoading">
					<td md-cell colspan="11" class="text-center" style="padding: 10px; text-align: center;">Loading...</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
	<md-table-pagination md-limit="query.limit" ng-if="accountList.length && !accountListLoading" md-limit-options="limitOptions" md-page="query
	.page" md-total="{{accountListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>

<!--  ============= Add and Update Comment ============= -->
<span class="pull-right" style="color: red" ng-show="stateName != 'list'">* Required </span><br>
<md-card class="no-margin-h custom-remove-validation" ng-show="stateName != 'list'">
	<form name="accountMaintenanceForm" ng-submit="addAndUpdate(accountDetails)" novalidate=""><br>
		<div class="col-md-12">
			<fieldset>
				<div layout-gt-sm="col-md-6" class="layout-gt-sm-row">
					<md-input-container class="md-block flex-gt-sm">
						<label>Account Code</label>
						<input type="text" required="" name="accountCode" limit-to="20" ng-model="accountDetails.accountCode"  ng-disabled={{disableAccountNo}}>			
					</md-input-container>
				</div>
				<div layout-gt-sm="col-md-6" class="layout-gt-sm-row">
					<md-input-container class="md-block flex-gt-sm">
						<label>Description</label>
						<textarea required name="comment" limit-to="250" ng-model="accountDetails.description" rows="2"></textarea>				
					</md-input-container>
				</div>
				<div layout-gt-sm="col-md-6" class="layout-gt-sm-row">
					<md-input-container class="md-block flex-gt-sm">
						<label>Group by code</label>
						<input type="text" name="code" limit-to="10" ng-model="accountDetails.group" />		
					</md-input-container>
				</div>
				<div layout-gt-sm="row" class="layout-gt-sm-row">
					<md-input-container class="md-block flex-gt-sm">
						<label>Account type</label>
						<md-select style="width: 350px;" name="accountType" ng-model="accountDetails.accountType" placeholder="Account type" class="md-no-underline">
							<md-option value="corporate">Corporate</md-option>
							<md-option value="government">Government</md-option>
							<md-option value="leisure">Leisure</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div layout-gt-sm="row" class="layout-gt-sm-row">
					<md-input-container class="md-block flex-gt-sm">
						<label>Active</label>
						<md-select style="width: 350px;" name="active" ng-model="accountDetails.active" placeholder="Active" class="md-no-underline">
							<md-option value="true">Yes</md-option>
							<md-option value="false">No</md-option>
						</md-select>
					</md-input-container>
				</div>
			</fieldset>
		</div>
		<div class="col-md-12">
			<div layout-gt-sm="row" class="layout-gt-sm-row">
				<md-input-container class="md-block flex-gt-sm">
					<div class="pull-right">
						<md-button type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Save</md-button>
						<!-- data-ng-disabled="!canSubmit()"  -->
						<md-button type="button" ng-click="reDirectPage()" class="md-raised btn-w-md md-button md-ink-ripple">Cancel</md-button>
					</div>
				</md-input-container>
			</div>
		</div>
	</form>
</md-card>
</article>
</section>

<div style="visibility: hidden">
	<div class="md-dialog-container" id="conFirmPopup">
		<md-dialog aria-label="Mango (Fruit)">
			<form ng-cloak>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>{{popupTitle}}</h2>
						<span flex></span>
						<md-button class="md-icon-button" style="font-size: 18px;" ng-click="callBackDialog('cancel')">
							<i class="fa fa-times"></i>
						</md-button>
					</div>
				</md-toolbar>

				<md-dialog-content>
					<div class="md-dialog-content">
						<p style="font-size: 20px;">{{pageDescription}}</p>
					</div>
				</md-dialog-content>

				<md-dialog-actions layout="row">
					<md-button ng-click="callBackDialog('cancel')">cancel</md-button>
					<span flex></span>
					<md-button ng-click="callBackDialog('ok')">ok</md-button>
				</md-dialog-actions>
			</form>
		</md-dialog>
	</div>
</div>