<!-- <toaster-container toaster-options="tosterOption"></toaster-container> -->
<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Agency Maintenance</h2>
		<div class="divider divider-md"></div>
		<fieldset>
			<div class="col-md-12 col-sm-12">
				<md-card class="no-margin-h">
					<md-card-title style="padding-top: 25px;">
						<div class="col-md-12">
							<div class="col-md-2">
								Agency
							</div>	
							<div class="col-md-3">
								<md-select name="report" ng-model="report" placeholder="{{reportListLoding?'Loading...' : '--- Select Agency ---'}}" class="md-no-underline" ng-change="getAllAgencyData(this)">
									<md-option ng-value="selectAgency">--- Select Agency ---</md-option>
									<md-option ng-value="list.ta_id" ng-repeat="list in unitList | orderBy: 'ta_id'">{{list.ta_id}}</md-option>
									<!-- businessUnitDescription -->
								</md-select>

							</div>	
						</div>	
					</md-card-title>	
				</md-card>
			</div>
		</fieldset><br>

		<div style="text-align: center" ng-if="loading">Loading...</div>

		<fieldset ng-if="isReportData && !loading">
			<span class="pull-right" style="color: red">* Required </span><br>
			<form name = "report_form" ng-submit="updateAgency(agency)">
				<md-card class="no-margin-h">
					<div class="col-md-12"><br>
						<div class="col-md-6">
							<md-input-container class="md-block flex-gt-sm md-input-has-value">
								<label>Name: </label>
								<input required type="text" name="name" ng-model="agency.Agency_pay_loc.ta_name" limit-to="50"/>
								<div ng-messages="report_form.name.$error" multiple ng-if='report_form.name.$dirty'>
									<div ng-message="required">This is required.</div>
								</div>
							</md-input-container>   				

							<md-input-container class="md-block flex-gt-sm md-input-has-value">
								<label>Address 1: </label>
								<input type="text" name="address" ng-model="agency.Agency_pay_loc.ta_address1" limit-to="30"/>
								<div ng-messages="report_form.address.$error" multiple ng-if='report_form.address.$dirty'>
									<div ng-message="required">This is required.</div>
								</div>
							</md-input-container>
							<md-input-container class="md-block flex-gt-sm md-input-has-value">
								<label>Address 2: </label>
								<input type="text" name="address" ng-model="agency.Agency_pay_loc.ta_address2" limit-to="30"/>
								<div ng-messages="report_form.address.$error" multiple ng-if='report_form.address.$dirty'>
									<div ng-message="required">This is required.</div>
								</div>
							</md-input-container>   				
							<div layout-gt-sm="row" class="layout-gt-sm-row">
								<md-input-container class="md-block flex-gt-sm md-input-has-value">
									<label>City</label>
									<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
									<input type="text" name="city" ng-model="agency.Agency_pay_loc.ta_city" limit-to="15"/>
									<div ng-messages="report_form.city.$error" multiple ng-if='report_form.city.$dirty'>
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>   
								<md-input-container class="md-block flex-gt-sm md-input-has-value" >
									<label>State</label>
									<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
									<input type="text" name="state" ng-model="agency.Agency_pay_loc.ta_state" limit-to="3"/>
									<div ng-messages="report_form.state.$error" multiple ng-if='report_form.state.$dirty'>
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block flex-gt-sm md-input-has-value">
									<label>Zip</label>
									<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
									<input type="text" name="zip" ng-model="agency.Agency_pay_loc.ta_zip" limit-to="15"/>
									<div ng-messages="report_form.zip.$error" multiple ng-if='report_form.zip.$dirty'>
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
							</div>	
							<md-input-container class="md-block flex-gt-sm md-input-has-value">
								<label>Phone: </label>
								<input type="text" name="phone" ng-model="agency.Agency_pay_loc.ta_phone" limit-to="20"/>
								<div ng-messages="report_form.phone.$error" multiple ng-if='report_form.phone.$dirty'>
									<div ng-message="required">This is required.</div>
								</div>
							</md-input-container>

							<md-input-container class="md-block flex-gt-sm md-input-has-value">
								<label>Fax: </label>
								<input type="text" name="fax" ng-model="agency.Agency_pay_loc.ta_fax" limit-to="20"/>
								<div ng-messages="report_form.fax.$error" multiple ng-if='report_form.fax.$dirty'>
									<div ng-message="required">This is required.</div>
								</div>
							</md-input-container>

							<md-input-container class="md-block flex-gt-sm md-input-has-value">
								<label>Claim Dispute Email: </label>
								<input type="email" name="claimDisputeEmail" ng-model="agency.Corp_Agency.claimDisputeEmail" limit-to="128"/>
								<div ng-messages="report_form.claimDisputeEmail.$error" multiple ng-if='report_form.claimDisputeEmail.$dirty'>
									<div ng-message="required">This is required.</div>
								</div>
							</md-input-container>

							<md-input-container class="md-block flex-gt-sm md-input-has-value">
								<label>Claim Assistance Email: </label>
								<input type="email" name="claimAssistanceEmail" ng-model="agency.Corp_Agency.claimAssistanceEmail" limit-to="128"/>
								<div ng-messages="report_form.claimAssistanceEmail.$error" multiple ng-if='report_form.claimAssistanceEmail.$dirty'>
									<div ng-message="required">This is required.</div>
								</div>
							</md-input-container>
						</div>
						
						<!-- Client saied to hide this  -->
						<!-- <div class="col-md-6">
							<label>Select batch types to auto-release.</label>
							<div ng-repeat="list in mediaType">
								<md-checkbox ng-model="list.Web_AutoRelease" aria-label="Checkbox 1" ng-disabled="list.ta_id=='FRXR'">
									{{list.ta_id}} - {{list.PayorID}}	
								</md-checkbox><br>
							</div>
						</div> -->
					</div>
				</md-card>	
				<div class="pull-right">
					<button type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple md-button" ng-disabled="!agency.Agency_pay_loc.ta_name">{{reportUpdateLoding?'Saving...':'Save'}}</button>
					<button type="button" class="md-raised btn-w-md md-default md-button md-ink-ripple md-button" ng-click="cancelUpdate()">Cancel</button>
				</div>
			</form>	
		</fieldset>		
	</article>
</section>

<div style="visibility: hidden">
	<div class="md-dialog-container" id="conFirmPopup">
		<md-dialog aria-label="Mango (Fruit)">
			<form ng-cloak>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>{{popupTitle}}</h2>
						<span flex></span>
						<md-button class="md-icon-button" style="font-size: 18px;" ng-click="callBackDialog('cancel')">
							<i class="fa fa-times"></i>
						</md-button>
					</div>
				</md-toolbar>

				<md-dialog-content>
					<div class="md-dialog-content">
						<p style="font-size: 20px;">{{pageDescription}}</p>
					</div>
				</md-dialog-content>

				<md-dialog-actions layout="row">
					<md-button ng-click="callBackDialog('cancel')">cancel</md-button>
					<span flex></span>
					<md-button ng-click="callBackDialog('ok')">ok</md-button>
				</md-dialog-actions>
			</form>
		</md-dialog>
	</div>
</div>