<toaster-container toaster-options="tosterOption"></toaster-container>
<div class="page-auth">
	<!-- <div ng-show="forgotPasswordErrorMessage" class="alert alert-success" style="text-align: center;">{{forgotPasswordErrorMessage}}</div> -->
	<!-- <toaster-container></toaster-container> -->
	<div class="main-body">
		<div class="card bg-white">
			<div class="card-content">
				<div class="logo">
					<a>Reset</a>
				</div>
				<form name="reset_form" autocomplete="off" ng-submit="forgetpassword(user)" class="md-form-auth form-validation">
					<fieldset>
						<md-input-container class="md-block no-margin-bottom">
							<label>Email</label>
							<md-icon class="material-icons">mail_outline</md-icon>
							<input required type="email" name="Email" ng-model="user.Email" ng-pattern="/^.+@.+\..+$/" />
							<div ng-messages="reset_form.Email.$error" multiple ng-if='reset_form.Email.$dirty'>
								<div ng-message="required">This is required.</div>
								<div ng-message="pattern">You must enter a valid E-mail address.</div>
							</div>
						</md-input-container>
						<p class="text-center text-small no-margin">
							Enter your email address that you used to register. We will reset your password and send you a new one in the email.  Once you login, you can change it at any time.  If you continue to have problems email us at <a href="mailto:landcommissions@protravelinc.com">landcommissions@protravelinc.com. </a>
						</p>
						<div class="divider divider-md"></div>
						<!-- <md-button type="submit" class="md-raised pull-right md-primary" data-ng-disabled="!canSubmit()">Reset</md-button><br><br><br> -->
						<div style="text-align: right">
							<md-button type="submit" class="customeWidthBtn md-raised btn-w-md md-primary md-button md-ink-ripple md-button" data-ng-disabled="!canSubmit()">Submit</md-button>
							<md-button type="button" class="customeWidthBtn md-raised btn-w-md md-default md-button md-ink-ripple md-button" ng-click="redirectToHomePage()">Cancel</md-button>
						</div>
						<div ng-if="forgotPasswordErrorMessage" style="text-align: center; color: red; margin-top: 15px">{{forgotPasswordErrorMessage}} <a style="color: red" href="mailto:{{linkError}}">{{linkError}}.</a></div>
					</fieldset>
				</form>
				<div class="additional-info">
					<a ui-sref="login">Login</a>
				</div>
			</div>
		</div>
	</div>
</div>