<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Bookings and Payments Combined</h2>
		<span class="pull-right" style="color: red">* Required </span><br>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<form style="width: 100%;" name="bookingandpayments" novalidate="" ng-submit="callFiterData(true)">
					<div class="row custom-row">
						<div class="col-md-6 col-sm-6">
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<md-datepicker class="start-calender" ng-change="checkValidDate(commissionByAcountObj.fromDate,commissionByAcountObj.toDate)" ng-model="commissionByAcountObj.fromDate" md-placeholder="From*" required></md-datepicker>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<md-datepicker class="start-calender" md-min-date="commissionByAcountObj.fromDate" ng-model="commissionByAcountObj.toDate" md-placeholder="To*" required></md-datepicker>
								</div>
							</div>
						</div>			
						<div class="col-md-4 col-sm-4 column-btn-go">
							<div layout-gt-sm="row" class="layout-gt-sm-row">
								<md-input-container class="md-block flex-gt-sm custom-display" style="margin:5px 0;">
									<md-button type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>
								</md-input-container>
								<md-input-container class="md-block flex-gt-sm custom-display">
									<md-radio-group ng-model="commissionByAcountObj.selectedDate">
										<md-radio-button value="0" class="md-primary">Arrival Date</md-radio-button>
									</md-radio-group>
									<md-radio-group ng-model="commissionByAcountObj.selectedDate">
										<md-radio-button value="1" class="md-primary">Deposit Date</md-radio-button>
									</md-radio-group>
									<md-radio-group ng-model="commissionByAcountObj.selectedDate">
										<md-radio-button value="2" class="md-primary">Transaction Date</md-radio-button>
									</md-radio-group>
								</md-input-container>
							</div>
						</div>
						<div class="col-md-2 col-sm-2">						
							<a class="excel-custom" ng-click="getPDFLink(2)" href="javascript:void(0)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
							<a class="pdf-custom" ng-click="getPDFLink(1)" href="javascript:void(0)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
						</div>
					</div>
				</form>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table md-table cellspacing="10" cellpadding="10">
					<thead md-head md-order="query.order" md-on-reorder="logOrder">
						<tr class="md-row">
							<th class="md-column text-center"> <span>Type</span></th>
							<th class="md-column text-center custom-pending"><span>Group</span></th> 
							<th class="md-column text-center"><span>ID</span></th>
							<th md-column class="text-center"><span>&nbsp;</span></th>
							<th md-column class="text-center" md-order-by="Property"> <span>Property Name</span></th>
							<th md-column class="text-center" md-order-by="Property_City"><span>Property City</span></th>
							<th md-column class="text-center" md-order-by="Property_Phone"> <span>Phone</span></th>
							<th md-column class="text-center" md-order-by="Property_Fax"><span>Fax</span></th>
							<th md-column class="text-center" md-order-by="Last_Name"><span>Last Name</span></th>
							<th md-column class="text-center" md-order-by="First_Name"><span>First Name</span></th>
							<th md-column class="text-center" md-order-by="Arrival_Date"><span>Arrival Date</span></th>
							<th md-column class="text-center" md-order-by="rateCode"><span>Rate Code</span></th>
							<th md-column class="text-center" md-order-by="Rate"><span>Rate</span></th>
							<th md-column class="text-center" md-order-by="rateCurrency"><span>Currency</span></th>
							<th md-column class="text-center" md-order-by="Nights"><span>Nights</span></th>
							<th md-column class="text-center" md-order-by="Rooms"><span>Rooms</span></th>
							<th md-column class="text-center" md-order-by="Confirmation"><span>Confirmation</span></th>
							<th md-column class="text-center" md-order-by="check_num"><span>Check No.</span></th>
							<th md-column class="text-center" md-order-by="Expected_Commission"><span>Expected Commission</span></th>
							<th md-column class="text-center" md-order-by="Actual_Commission"><span>Actual Commission</span></th>
							<th md-column class="text-center" md-order-by="Deposit_Date"><span>Deposit Date</span></th>
							<th md-column class="text-center" md-order-by="Status"><span>Status</span></th>
							<th md-column class="text-center" md-order-by="pay_source"><span>Pay Source</span></th>
							<th md-column class="text-center" md-order-by="account"><span>Account</span></th>
							<th md-column class="text-center" md-order-by="iata"><span>IATA</span></th>
							<th md-column class="text-center" md-order-by="branch"><span>Branch</span></th>
							<th md-column class="text-center" md-order-by="agent"><span>Agent</span></th>
							<th md-column class="text-center" md-order-by="pnr_id"><span>PNR</span></th>
						</tr>
					</thead>
					<tbody class="md-body">
						<tr class="md-row customBGColor" ng-repeat-start="data in bookingList">
							<td class="md-cell" colspan="9"><i ng-click="selectRow[$index] = !selectRow[$index]" ng-class="(selectRow[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{data.Type}}</td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell" ng-init="totalAV = totalAvailableCommsion(data.list)"></td>
							<td class="md-cell" style="text-align: right;">{{totalAV.Expected_Commission | number:2}}</td>
							<td class="md-cell" style="text-align: right;">{{totalAV.Actual_Commission | number:2}}</td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
						</tr>
						<tr ng-show="selectRow[$parent.$index]" ng-repeat-start="data1 in GroupFilterData(data.list) | filter:createFilterForChild" class="md-row customBGColor1">
							<td class="md-cell"></td>
							<td class="md-cell"><div style="width: 110px; white-space: nowrap;"><i ng-click="selectRow1[$index] = !selectRow1[$index]" ng-class="(selectRow1[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{accountGroupName[data1.Group-1]}}</div></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell" ng-init="totalAV1 = totalAvailableCommsion(data.list | filter:{Group: data1.Group}:true)"></td>
							<td class="md-cell" style="text-align: right;">{{totalAV1.Expected_Commission | number:2}}</td>
							<td class="md-cell" style="text-align: right;">{{totalAV1.Actual_Commission | number:2}}</td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
						</tr>
						<tr ng-repeat-end ng-show="selectRow1[$parent.$index] && selectRow[$parent.$parent.$index]" class="md-row" ng-repeat-start="item in data.list | filter:{Group: data1.Group} | orderBy: query.order | limitTo:(item.limitTo) ? item.limitTo : 50">
							<td class="md-cell">{{item.Type}}</td>
							<td class="md-cell">{{accountGroupName[item.Group-1]}}</td>
							<td class="md-cell"><a href="#" title="{{item.ID}}" ng-click="showConfirmPopup($event,item,'Bookings and Payments Combined')">{{(item.paymentID != 0)?item.paymentID:item.bookingID}}</a></td>
							<td class="md-cell"><a ng-if="getDocIdNumber(item.doc_id)" href="#" ng-click="GetControlData({'booking_id':item.Booking_ID,'payment_id':item.Payment_ID})"><i class="fa fa-eye" style="font-size: 17px; color: rgba(0,0,0,.87);" aria-hidden="true"></i></a></td>
							<td class="md-cell">{{item.Property}}</td>
							<td class="md-cell">{{item.Property_City}}</td>
							<td class="md-cell">{{item.Property_Phone}}</td>
							<td class="md-cell">{{item.Property_Fax}}</td>
							<td class="md-cell">{{item.Last_Name}}</td>
							<td class="md-cell">{{item.First_Name}}</td>
							<td class="md-cell">{{item.Arrival_Date | date:'MM/dd/yyyy'}}</td>
							<td class="md-cell">{{item.rateCode}}</td>
							<td class="md-cell" style="text-align: right;">{{item.Rate | number:2}}</td>
							<td class="md-cell">{{item.rateCurrency}}</td>
							<td class="md-cell" style="text-align: right;">{{item.Nights}}</td>
							<td class="md-cell" style="text-align: right;">{{item.Rooms}}</td>
							<td class="md-cell">{{item.Confirmation}}</td>
							<td class="md-cell">{{item.check_num}}</td>
				<!-- <td class="md-cell">{{item.Expected_Commission}}</td>
				<td class="md-cell">{{item.Actual_Commission}}</td> -->
				<td class="md-cell" style="text-align: right;">{{item.Expected_Commission | number:2}}</td>
				<td class="md-cell" style="text-align: right;">{{item.Actual_Commission | number:2}}</td>
				<td class="md-cell">{{item.Deposit_Date | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.Status}}</td>
				<td class="md-cell">{{item.pay_source}}</td>
				<td class="md-cell">{{item.account}}</td>
				<td class="md-cell">{{item.iata}}</td>
				<td class="md-cell">{{item.branch}}</td>
				<td class="md-cell">{{item.agent}}</td>
				<td class="md-cell">{{item.pnr_id}}</td>
			</tr>
			<tr ng-repeat-end>
				<td class="md-cell" ng-show="selectRow1[$index] && selectRow[$parent.$index] && ((item.limitTo) ? item.limitTo < data1.finalDataLen[$index+''+$parent.$index] : data1.finalDataLen[$index+''+$parent.$index] > 50)" colspan="27">
					<md-button ng-click="item.limitTo = item.limitTo + 100" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Load More</md-button>
				</td>
			</tr>
			<tr ng-repeat-end ng-show="false"></tr>
			<tr class="md-row" ng-if="!bookingList.length && !accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="28">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="28">Loading....</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination ng-if="bookingList.length && !accountListLoading" md-limit="query.limit" md-limit-options="limitOptions" md-page="query
.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>
