<toaster-container toaster-options="tosterOption"></toaster-container>
<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Update Business Calendar</h2>
		
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>							
				<form>
					<div id="tbl">
						<table class="md-table text-center" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
					}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
					<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder"
					>
					<tr class="md-row">
						<th class="md-column text-center" colspan="9"><i class="fa fa-caret-left" ng-click="previousCalenderYear()"></i>&nbsp;&nbsp;&nbsp;{{loginDetails.year}} &nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right" ng-click="nextCalenderYear()"></i></th>
					</tr>
					<tr class="md-row">
						<th class="md-column text-center" md-order-by="name" ><span>Description</span></th>
						<th class="md-column text-center" md-order-by="type" ><span>From Date</span></th>
						<th class="md-column text-center" md-order-by="type" ><span>To Date</span></th>
						<th class="md-column text-center" md-order-by="calories.value" ><span></span>Agent Close</span></th>
						<th class="md-column text-center"><span>Date</span></th>
						<th class="md-column text-center"><span>User</span></th>
						<th class="md-column text-center"><span>Accounting close</span></th>
						<th class="md-column text-center"><span>Date</span></th>
						<th class="md-column text-center" md-order-by="calories.value"><span>User</span></th>
					</tr>
				</thead>
				<tbody class="md-body">
					<td class="text-center" style="padding: 10px" colspan="9" ng-if="businessCalendarLoading">Loading...</td>
					<td class="text-center" style="padding: 10px" colspan="9" ng-if="noData && !businessCalendarLoading">{{noData}}</td>
					<tr class="md-row" ng-repeat="data in businessCalendarData" ng-if="!businessCalendarLoading">
						<input type="hidden" ng-value="data.id">
						<td class="md-cell text-center">{{data.description}}</a></td>	
						<!-- <td class="md-cell"><input type="text" name="" id="" ng-value='data.fromDate | date : "MM/dd/yyyy"'></td> -->
						<td class="md-cell"><md-datepicker class="start-calender" ng-model="data.fromDate" md-placeholder="From Date" ng-change="updateChanges(data)" ng-disabled="(data.accountingCloseUser && data.agentCloseUser) || disableFromAndToDate"></md-datepicker></td>
						<!-- <td class="md-cell"><input type="text" name="" id="" ng-value="data.toDate"></td> -->
						<td class="md-cell"><md-datepicker class="start-calender" ng-model="data.toDate" md-placeholder="To Date" ng-change="updateChanges(data)" ng-disabled="(data.accountingCloseUser && data.agentCloseUser) || disableFromAndToDate"></md-datepicker></td>
						<td class="md-cell"><input type="checkbox" ng-checked="data.agentClose" ng-model="data.agentClose" ng-click="updateChanges(data)" ng-disabled="data.agentCloseUser || disableFromAndToCheckbox"></input></td>
						<td class="md-cell">{{data.agentCloseDate | date : "MM/dd/yyyy"}}</td>
						<td class="md-cell">{{data.agentCloseUser}}</td>
						<td class="md-cell"><input type="checkbox" ng-checked="data.accountingClose" ng-model="data.accountingClose" ng-click="updateChanges(data)" ng-disabled="data.accountingCloseUser || disableFromAndToCheckbox"></input></td>
						<td class="md-cell">{{data.accountingCloseDate | date : "MM/dd/yyyy"}}</td>
						<td class="md-cell">{{data.accountingCloseUser}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
	<div class="pull-right" ng-if="businessCalendarData">
		<button ng-if="!businessCalendarLoading" class="md-raised btn-w-md md-primary md-button md-ink-ripple md-button" ng-click="updateBusinessCalendar()">{{updateLoading?'Updating...':'Update'}}</button>
		<!-- <button class="md-raised btn-w-md md-default md-button md-ink-ripple md-button" ng-click="reDirectToPage()">Cancel</button> -->
	</div>
</div>
</md-table-container>
<!-- <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query
	.page" md-total="{{desserts.data.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination> -->
</md-card>
</article>
</section>