<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Claimed - All Types: Hotel, Car</h2>
		<span class="pull-right" style="color: red">* Required </span><br>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<form style="width: 100%;" name="ClaimedAccountHotel" novalidate="" ng-submit="callFiterData(true)">
					<div class="row custom-row">
						<div class="col-md-12">
							<div class="col-lg-6 col-md-12">
								<div class="row">
									<div class="col-lg-3 col-md-2 col-sm-3">
										<label style="margin-top: 21px;">Deposit Dates</label>
									</div>		
									<div class="col-lg-4 col-md-5 col-sm-4">
										<div flex-gt-xs="" class="custom-datePicker">
											<md-datepicker class="start-calender" ng-change="checkValidDate(matureBookByAgentCarsOnly.fromDate,matureBookByAgentCarsOnly.toDate)" ng-model="matureBookByAgentCarsOnly.fromDate" md-placeholder="From*" required></md-datepicker>
										</div>
									</div>
									<div class="col-lg-4 col-md-5 col-sm-4">
										<div flex-gt-xs="" class="custom-datePicker">
											<md-datepicker class="start-calender" md-min-date="matureBookByAgentCarsOnly.fromDate" ng-model="matureBookByAgentCarsOnly.toDate" md-placeholder="To*" required></md-datepicker>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="row">
									<div class="col-lg-5 col-md-3 col-sm-3 col-xs-12">
										<md-button style="margin-top: 15px;" type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>
									</div>
									<div class="col-lg-5 col-md-3 col-sm-3 col-xs-12">
										<md-button type="button" style="margin-top: 15px;" class="md-raised btn-w-md md-primary md-button md-ink-ripple" ng-click="getPDFLink(1)">Print friendly</md-button>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
										<a class="excel-custom" style="margin: 14px 10px;" href="javascript:void(0)" ng-click="getPDFLink(2)" title="Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
										<a class="pdf-custom" style="margin: 14px 10px;" href="javascript:void(0)" ng-click="getPDFLink(1)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>	
						</div>	

						<div class="col-sm-12">
							<div class="col-md-6 col-sm-6" style="padding-top: 20px;">
								<div class="row">
									<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<label style="margin-top: 5px;">Reporting Month</label>
									</div>		
									<div class="col-md-6 col-sm-6">
										<div flex-gt-xs="" class="custom-datePicker">
											<md-select style="display: inline-block;" ng-model="reportingPeriod" placeholder="{{corpBusinessListLoading?'Loading...':'-- Select Reporting Period --'}}" class="md-no-underline" ng-change="getDates(reportingPeriod)">
												<md-option ng-value="SelectReportingPeriod" >-- Select Reporting Period --</md-option>
												<md-option ng-value="list.id" ng-repeat="list in corpBusinessList" >{{list.description}} ({{list.fromDate | date : 'MM/dd/yyyy'}} - {{list.toDate | date : 'MM/dd/yyyy'}})</md-option>
											</md-select>
										</div>
									</div>
								</div>
							</div>						
						</div>
					</div>
				</form>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th class="md-column text-center"><span>Agent + Type</span></th>
				<th md-column class="text-center" md-order-by="business_Unit"><span>Business Unit</span></th>
				<th md-column class="text-center" md-order-by="id"><span>Web ID</span></th>
				<th md-column class="text-center"><span>&nbsp;</span></th>
				<th md-column class="text-center" md-order-by="deposit_Date"><span>Deposit Date</span></th>
				<th md-column class="text-center" md-order-by="property_Name"><span>Property Name</span></th>
				<th md-column class="text-center" md-order-by="property_City"><span>Property City</span></th>
				<th md-column class="text-center" md-order-by="guest"><span>Guest</span></th>
				<th md-column class="text-center" md-order-by="arrival_Date"><span>Arrival Date</span></th>
				<th md-column class="text-center" md-order-by="confirmation"><span>Confirmation</span></th>
				<th md-column class="text-center" md-order-by="check_Number"><span>Check Number</span></th>
				<th md-column class="text-center" md-order-by="commission"><span>Commission</span></th>
				<!-- <th md-column class="text-center" md-order-by="available"><span>Available Commission</span></th> -->
				<th md-column class="text-center" md-order-by="comment"><span>Comment</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<!-- ng-show="data.agent != '1000000'" -->
			<tr class="md-row customBGColor" ng-repeat-start="data in unmatchedPayment">
				<td class="md-cell" colspan="2"><i ng-init="selectRow[$index] = true" ng-click="selectRow[$index] = !selectRow[$index]" ng-class="(selectRow[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{data.Name}}</td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell" ng-init="totalAV = totalAvailableCommsion(data.list)"></td>
				<!-- <td class="md-cell" style="text-align: right;">${{totalAV.commission | number : 2}}</td> -->
				<td class="md-cell" style="text-align: right;" ng-init="callBackMainTotal(data)">${{data.finalTotal | number:2}}
				</td>
				<!-- <td class="md-cell" style="text-align: right;">${{totalAV.available | number : 2}}</td> -->
				<td class="md-cell"></td>
			</tr>
			<tr ng-show="selectRow[$parent.$index]" ng-repeat-start="data1 in GroupFilterData(data.list) | filter:createFilterForChild" class="md-row customBGColor1">
				<td class="md-cell" colspan="2"><div style="width: 110px; white-space: nowrap;"><i ng-init="selectRow1[$index] = true" ng-click="selectRow1[$index] = !selectRow1[$index]" ng-class="(selectRow1[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{data1.type}}</div></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell" ng-init="totalAV1 = totalAvailableCommsion(data.list | filter:{type: data1.type}:true)"></td>
				<!-- <td class="md-cell" style="text-align: right;">${{totalAV1.commission | number : 2}}</td> -->
				<td class="md-cell" style="text-align: right;">${{data1.subTotalVal | number:2}}</td>
				<!-- <td class="md-cell" style="text-align: right;">${{totalAV1.available | number : 2}}</td> -->
				<td class="md-cell"></td>
			</tr>
			<tr ng-init="calTotal(data1,item.type)" ng-repeat-end ng-show="selectRow1[$parent.$index] && selectRow[$parent.$parent.$index]" class="md-row" ng-repeat-start="item in data.list | filter:{type: data1.type}:true | limitTo:(item.limitTo) ? item.limitTo : 50">
				<td md-cell class="text-center">{{item.type}}</td>
				<td md-cell class="text-center">{{item.business_Unit}}</td>
				<td md-cell class="text-center"><a href="#" title="{{item.id}}" ng-click="showConfirmPopup($event,item,'Claimed - All Types: Hotel, Car & Other')">{{item.id}}</a></td>
				<td class="md-cell"><a ng-if="getDocIdNumber(item.doc_id)" href="#" ng-click="GetControlData({'booking_id':item.booking_id,'payment_id':item.payment_id})"><i class="fa fa-eye" style="font-size: 17px; color: rgba(0,0,0,.87);" aria-hidden="true"></i></a></td>
				<td md-cell class="text-center">{{item.deposit_Date | date : 'MM/dd/yyyy'}}</td>
				<td md-cell class="text-center">{{item.property_Name}}</td>
				<td md-cell class="text-center">{{item.property_City}}</td>
				<td md-cell class="text-center">{{item.guest}}</td>
				<td md-cell class="text-center">{{item.arrival_Date | date : 'MM/dd/yyyy'}}</td>
				<td md-cell class="text-center">{{item.confirmation}}</td>
				<td md-cell class="text-center" ng-init="data1.finalDataLen[$parent.$index+''+$parent.$parent.$index] = (data.list | filter:{type: data1.type}:true).length">{{item.check_Number}}</td>

				<td md-cell class="text-center" style="text-align: right;">${{item.commission | number : 2}}</td>

				<!-- <td md-cell class="text-center" style="text-align: right;">${{item.available | number : 2}}</td> -->

				<td md-cell class="text-center">{{item.comment}}</td>
			</tr>
			<tr ng-repeat-end>
				<td class="md-cell" ng-show="selectRow1[$index] && selectRow[$parent.$index] && ((item.limitTo) ? item.limitTo < data1.finalDataLen[$index+''+$parent.$index] : data1.finalDataLen[$index+''+$parent.$index] > 50)" colspan="28">
					<md-button ng-click="item.limitTo = item.limitTo + 100" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Load More</md-button>
				</td>
			</tr>
			<tr ng-repeat-end ng-show="false"></tr>
			<tr class="md-row" ng-if="!unmatchedPayment.length && !unmatchedPaymentLoading">
				<td class="text-center" style="padding: 10px" colspan="27">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="unmatchedPaymentLoading">
				<td class="text-center" style="padding: 10px" colspan="27">Loading....</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination md-label="{rowsPerPage: 'Records Per Page:'}"  ng-if="unmatchedPayment.length && !unmatchedPaymentLoading" md-limit="query.limit" md-limit-options="limitOptions" md-page="query
.page" md-total="{{unmatchedPaymentTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>