<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Batch Maintenance</h2>
		<div ng-if="stateName!='viewBatch'">
			<md-card class="no-margin-h">
				<md-card-title style="padding-top: 25px;">
					<div class="row custom-row">
						<div class="col-md-3" style="padding-top: 20px;">
							<md-select ng-model="status" class="md-no-underline" placeholder="{{statusListLoading?'Loading...' : '--- All statuses selected ---'}}" class="md-no-underline" ng-change="getSelectedStatus(status)">
								<md-option ng-value="All">--- All statuses selected ---</md-option>
								<md-option ng-value="list.Step_Nbr" ng-repeat="list in statusList">{{list.Step_Name}}</md-option>
							</md-select>
						</div>
						<!-- <div class="col-md-4 col-sm-4" style="padding-top: 10px;">						
							<md-button type="button" class="md-raised btn-w-md md-primary md-button md-ink-ripple" ng-click="leftPanelCommonFilter($event)">Change filters [+/-]</md-button>
						</div> -->
						<div class="col-md-2 col-sm-2 pull-right">						
							<a class="excel-custom" href="javascript:void(0)" ng-click="getPDFLink(2)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
							<a class="pdf-custom" href="javascript:void(0)" ng-click="getPDFLink(1)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
						</div>
					</div>
				</md-card-title>
			</md-card>
			<div class="divider divider-md"></div>
			<md-card class="no-margin-h">
				<md-table-container>
					<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
				}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
				<thead ng-if="!options.decapitate" md-head md-on-reorder="logOrder">
					<tr class="md-row">
						<th md-column class="text-center" md-order-by="id"><span>Batch</span></th>
						<th md-column class="text-center" md-order-by="deposit_date"><span>Deposit Date</span></th>
						<th md-column class="text-center" md-order-by="recievedDate"><span>Recieved Date</span></th>
						<th md-column class="text-center" md-order-by="lastStepDate"><span>Last Step Date</span></th>
						<!-- md-order-by="web2_batch.web_status" -->
						<th md-column class="text-center" md-order-by="webStatus"><span></span>Status</span></th>
						<th md-column class="text-center" md-order-by="mediaDescription"><span>Media</span></th>
						<th md-column class="text-center" md-order-by="businessUnitDescription"><span>Business Unit</span></th>
						<th class="md-column text-center" md-order-by="recordCount"><span>Record Count</span></th>
						<th class="md-column text-center" md-order-by="batchAmount"><span>Batch Amount</span></th>	
						<th md-column class="text-center" md-order-by="payBatch"><span>Pay Batch</span></th>
						<th md-column class="text-center" ><span></span></th>
					</tr>
				</thead>
				<tbody class="md-body">
					<tr class="md-row" ng-repeat="data in batchDatalist" ng-if="!batchListLoading"><!-- | orderBy: query.order -->
						<td md-cell class="md-cell text-center">{{data.id}}</td>	
						<td md-cell class="md-cell text-center">{{data.deposit_date | date: 'MM/dd/yyyy'}}</td>	
						<td md-cell class="md-cell text-center">{{data.recievedDate | date: 'MM/dd/yyyy'}}</td>	
						<td md-cell class="md-cell text-center">{{data.lastStepDate | date: 'MM/dd/yyyy'}}</td>	
						<td md-cell class="md-cell text-center">{{data.webStatus}}</td>	
						<td md-cell class="md-cell text-center">{{data.mediaDescription}}</td>	
						<td md-cell class="md-cell text-center">{{data.businessUnitDescription}}</td>	
						<td md-cell class="md-cell text-center">{{data.recordCount}}</td>	
						<td md-cell class="md-cell text-center" style="text-align: right">{{data.batchAmount | number : 2}}</td>
						<td md-cell class="md-cell text-center">{{data.payBatch}}</td>	
						<td md-cell class="md-cell text-center" style="text-align: center;"><a href="" style="font-size: 17px; color: rgba(0,0,0,.87);" ui-sref="main.CTSBatchMaintenancBatchData({id:data.id})"><i class="fa fa-eye" aria-hidden="true"></i></a></td>	
					</tr>
					<tr class="md-row" ng-if="batchListLoading"> 
						<td class="text-center" style="padding: 10px" colspan="10">Loading...</td>
					</tr>
					<tr class="md-row" ng-if="noData && !batchListLoading">	
						<td class="text-center" style="padding: 10px" colspan="10">{{noData}}</td>
					</tr>	
				</tbody>
			</table>
		</md-table-container>
		<md-table-pagination ng-if="batchDatalist.length && !batchListLoading" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
	</md-card>
</md-card>
</div>
<div ng-if="stateName=='viewBatch'">
	<md-card>
		<div class="col-md-12">
			<div class="col-md-6" style="border-right: 1px dotted #b8b8b8;">
				<md-input-container class="md-block flex-gt-sm md-input-has-value">
					<div class="col-md-3">
						<b><span style="color: #b8b8b8">Batch ID: </span></b>
					</div>	
					<div class="col-md-6">
						<!-- <label>Batch ID: </label> -->
						<b><span style="font-size: 16px">{{viewBatchDatalist[0].web2_batch.id}}</span></b><br>
					</div>	
				</md-input-container>	
				<md-input-container class="md-block flex-gt-sm md-input-has-value">
					<!-- <label>Media Type: </label> -->
					<div class="col-md-3">
						<b><span style="color: #b8b8b8">Media Type: </span></b>
					</div>
					<div class="col-md-6">	
						<span>{{viewBatchDatalist[0].web2_batch.mediaDescription}}</span><br>
					</div>	
					<!-- <p ng-bind="viewBatchDatalist[0].web2_batch.mediaDescription"></p><br> -->
				</md-input-container>
				<md-input-container class="md-block flex-gt-sm md-input-has-value">
					<!-- <label>Agency: </label> -->
					<div class="col-md-3">
						<b><span style="color: #b8b8b8">Agency: </span></b>
					</div>
					<div class="col-md-6">	
						<!-- <span>{{viewBatchDatalist[0].ta_id}}</span><br> -->
						<span>{{viewBatchDatalist[0].data_entry_client.C_City}}</span><br>
					</div>	
					<!-- <p ng-bind="viewBatchDatalist[0].ta_id"></p> -->
				</md-input-container>
				<md-input-container class="md-block flex-gt-sm md-input-has-value">
					<!-- <label>Deposit Date: </label> -->
					<div class="col-md-3">
						<b><span style="color: #b8b8b8">Deposit Date: </span></b>
					</div>
					<div class="col-md-6">	
						<span>{{viewBatchDatalist[0].deposit_date | date: 'MM/dd/yyyy'}}</span><br>
					</div>	
					<!-- <p ng-bind="viewBatchDatalist[0].deposit_date | date: 'MM/dd/yyyy'"></p> -->
				</md-input-container>
				<md-input-container class="md-block flex-gt-sm md-input-has-value">
					<!-- <label>Record Count: </label> -->
					<div class="col-md-3">
						<b><span style="color: #b8b8b8">Record Count:  </span></b>
					</div>
					<div class="col-md-6">	
						<span>{{viewBatchDatalist[0].recordCount}}</span><br>
					</div>	
					<!-- <p ng-bind="viewBatchDatalist[0].recordCount"></p> -->
				</md-input-container>
				<md-input-container class="md-block flex-gt-sm md-input-has-value">
					<!-- <label>Batch Amount: </label> -->
					<div class="col-md-3">
						<b><span style="color: #b8b8b8">Batch Amount:  </span></b>
					</div>
					<div class="col-md-6">	
						<span>{{viewBatchDatalist[0].batchAmount | number : 2}}</span><br>
					</div>	
					<!-- <p ng-bind="viewBatchDatalist[0].batchAmount"></p> -->
				</md-input-container>
				<md-input-container class="md-block flex-gt-sm md-input-has-value">
					<!-- <label>Pay Batch: </label> -->
					<div class="col-md-3">
						<b><span style="color: #b8b8b8">Pay Batch:  </span></b>
					</div>
					<div class="col-md-6">
						<span >{{viewBatchDatalist[0].web2_batch.payBatch}}</span><br>
					</div>	
					<!-- <p ng-bind="viewBatchDatalist[0].web2_batch.payBatch"></p> -->
				</md-input-container>
			</div>	
			
			<div class="col-md-6">
				<md-input-container class="md-block flex-gt-sm md-input-has-value">
					<!-- <label>Status: </label> -->
					<div class="col-md-1">
						<b><span style="color: #b8b8b8">Status:  </span></b>
					</div>
					<div class="col-md-8">	
						<!-- <span>{{viewBatchDatalist[0].web2_batch.webStatus}} - {{viewBatchHistory[1].changeDate | date : 'MM/dd/yyyy'}}</span><br> -->
						<span style="padding-left: 39px;">{{viewBatchDatalist[0].webStatus}}</span><br>
					</div>	
					<!-- <p ng-bind="viewBatchDatalist[0].web2_batch.webStatus"></p> -->
				</md-input-container>	
				<md-input-container class="md-block flex-gt-sm md-input-has-value">
					<!-- <label>History: </label> -->
					<div class="col-md-1">
						<b><span style="color: #b8b8b8">History:  </span></b>
					</div>
					<div class="col-md-8">
						<!-- <span>{{viewBatchDatalist[0].web2_batchHistory}}</span><br> -->
						
						<!-- <table>
							<tr ng-repeat="list in viewBatchHistory">
								<td>{{list.changeUser}}</td>
								<td>{{list.changeDate | date : 'MM/dd/yyyy, hh:mm:ss a'}}</td>
							</tr>
						</table> -->
						<ul style="list-style-type: none;" ng-repeat="list in viewBatchHistory">
							<li>{{list.changeUser}}</li>
							<li>{{list.changeDate | date : 'MM/dd/yyyy hh:mm:ss a'}}</li>
						</ul>
					</div>	
					<!-- <p ng-bind="viewBatchDatalist[0].web2_batchHistory"></p> -->
				</md-input-container>	
			</div>
		</div>
	</md-card>	
	<div class="pull-right">
		<button class="md-raised btn-w-md md-primary md-button md-ink-ripple md-button" ng-hide="viewBatchDatalist[0].recordCount<=0" ng-click="callFilterData(true)">View Records</button>
		<button class="md-raised btn-w-md md-default md-button md-ink-ripple md-button" ng-click="back()">Back</button>
	</div>	
</div>	

</article>
</section>
