<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Extract Report - TM1</h2>
		<span class="pull-right" style="color: red">* Required </span><br>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<div class="row custom-row">
					<form style="width: 100%;" name="extReport" novalidate="" ng-submit="callFiterData(true)">
						<div class="row custom-row">
							<div class="col-md-12">
								<div class="col-lg-6 col-md-12">
									<div class="row">
										<div class="col-lg-3 col-md-2 col-sm-3">
											<label style="margin-top: 21px;">Claim Dates</label>
										</div>		
										<div class="col-lg-4 col-md-5 col-sm-4">
											<div flex-gt-xs="" class="custom-datePicker">
												<md-datepicker class="start-calender" ng-change="checkValidDate(commissionByAcountObj.fromDate,commissionByAcountObj.toDate)" ng-model="commissionByAcountObj.fromDate" md-placeholder="From*" required></md-datepicker>
											</div>
										</div>
										<div class="col-lg-4 col-md-5 col-sm-4">
											<div flex-gt-xs="" class="custom-datePicker">
												<md-datepicker class="start-calender" md-min-date="commissionByAcountObj.fromDate" ng-model="commissionByAcountObj.toDate" md-placeholder="To*" required></md-datepicker>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="row">
										<div class="col-lg-5 col-md-3 col-sm-3 col-xs-12">
											<md-button style="margin-top: 15px;" type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>
										</div>
										<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
											<a class="excel-custom" style="margin: 14px 10px;" href="javascript:void(0)" ng-click="getPDFLink(2)" title="Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
											<a class="pdf-custom" style="margin: 14px 10px;" href="javascript:void(0)" ng-click="getPDFLink(1)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>	
							</div>	

							<div class="col-sm-12">
								<div class="col-md-6 col-sm-6" style="padding-top: 20px;">
									<div class="row">
										<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
											<label style="margin-top: 5px;">Reporting Month</label>
										</div>		
										<div class="col-md-6 col-sm-6">
											<div flex-gt-xs="" class="custom-datePicker">
												<md-select style="display: inline-block;" ng-model="reportingPeriod" placeholder="{{corpBusinessListLoading?'Loading...':'-- Select Reporting Period --'}}" class="md-no-underline" ng-change="getDates(reportingPeriod)">
													<md-option ng-value="SelectReportingPeriod" >-- Select Reporting Period --</md-option>
													<md-option ng-value="list.id" ng-repeat="list in corpBusinessList" >{{list.description}} ({{list.fromDate | date : 'MM/dd/yyyy'}} - {{list.toDate | date : 'MM/dd/yyyy'}})</md-option>
												</md-select>
											</div>
										</div>
									</div>
								</div>						
							</div>
						</div>

					</form>
				</div>
				
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>

		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th class="md-column text-center custom-pending"><span>Agent</span></th> 
				<th class="md-column text-center"><span>Account</span></th>
				<th class="md-column text-center"><span>Type</span></th>
				<th class="md-column text-center"><span>Comm</span></th>
				<th class="md-column text-center"> <span>Comm Year</span></th>
				<th class="md-column text-center"><span>Comm Month</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr ng-repeat-end class="md-row" ng-repeat="item in xfireTm1List" ng-show="!xfireTm1ListLoading">
				<td class="md-cell">{{item.agentCode}}</td>
				<td class="md-cell">{{item.accountCode}}</td>
				<td class="md-cell">{{item.cts_type}}</td>
				<td class="md-cell" style="text-align: right">{{item.net_act_comm | number : 2}}</td>
				<td class="md-cell">{{item.commYear}}</td>
				<td class="md-cell">{{item.commMonth}}</td>
			</tr>
			<tr ng-repeat-end ng-show="false"></tr>
			<tr class="md-row" ng-if="!xfireTm1List.length && !xfireTm1ListLoading">
				<td class="text-center" style="padding: 10px" colspan="6">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="xfireTm1ListLoading">
				<td class="text-center" style="padding: 10px" colspan="6">Loading....</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination ng-if="xfireTm1List.length && !xfireTm1ListLoading" md-limit="query.limit" md-limit-options="limitOptions" md-page="query
.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>

</article>
</section>