<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Mature Bookings Report By Agent - Hotels Only</h2>
		<span class="pull-right" style="color: red">* Required </span><br>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<form style="width: 100%;" name="matureHotels" novalidate="" ng-submit="callFiterData(true)">
					<div class="row custom-row">
						<div class="col-md-12">
							<div class="col-lg-6 col-md-12">
								<div class="row">
									<div class="col-lg-3 col-md-2 col-sm-3">
										<label style="margin-top: 21px;">Arrival Date</label>
									</div>

									<div class="col-lg-4 col-md-5 col-sm-4">
										<div flex-gt-xs="" class="custom-datePicker">
											<md-datepicker class="start-calender" ng-change="checkValidDate(matureBookByAgentCarsOnly.fromDate,matureBookByAgentCarsOnly.toDate)" ng-model="matureBookByAgentCarsOnly.fromDate" md-placeholder="From*" required></md-datepicker>
										</div>
									</div>
									<div class="col-lg-4 col-md-5 col-sm-4">
										<div flex-gt-xs="" class="custom-datePicker">
											<md-datepicker class="start-calender" md-min-date="matureBookByAgentCarsOnly.fromDate" ng-model="matureBookByAgentCarsOnly.toDate" md-placeholder="To*" required></md-datepicker>
										</div>
									</div>
								</div>
							</div>	
							<div class="col-lg-6 col-md-12">
								<div class="row">
									<div class="col-lg-5 col-md-3 col-sm-3 col-xs-12">
										<md-button style="margin-top: 15px;" type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>
									</div>
									<div class="col-lg-5 col-md-3 col-sm-3 col-xs-12">
										<md-button type="button" style="margin-top: 15px;" class="md-raised btn-w-md md-primary md-button md-ink-ripple" ng-click="getPDFLink(1)">Print friendly</md-button>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
										<a class="excel-custom" style="margin: 14px 10px;" href="javascript:void(0)" ng-click="getPDFLink(2)" title="Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
										<a class="pdf-custom" style="margin: 14px 10px;" href="javascript:void(0)" ng-click="getPDFLink(1)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</form>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th md-column class="text-center custom-pending">
					<span>Agent + Type</span>
				</th>
				<th md-column class="text-center" md-order-by="businessUnit" ><span>Business Unit</span></th> 
				<th md-column class="text-center" md-order-by="id" > <span>Web ID</span></th>
				<th md-column class="text-center" md-order-by="deposit_date" ><span>Deposit Date</span></th>
				<th md-column class="text-center" md-order-by="prop_name"> <span>Property Name</span></th>
				<th md-column class="text-center" md-order-by="prop_city"><span>Property City</span></th>
				<th md-column class="text-center" md-order-by="guestName"> <span>Guest</span></th>
				<th md-column class="text-center" md-order-by="confirmation"><span>Confirmation</span></th>
				<th md-column class="text-center" md-order-by="in_date"><span>Arrival Date</span></th>
				<th md-column class="text-center" md-order-by="check_num"><span>Check Number</span></th>
				<th md-column class="text-center" md-order-by="net_est_comm"><span>Est. Comm/Act. Comm<!-- Estimated Commission --></span></th>
				<th md-column class="text-center" md-order-by="statusDescription"><span>Status</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row customBGColor" ng-init="selectRow[$index] = true" md-select="bookingList" ng-repeat-start="data in bookingList">
				<td class="md-cell" colspan="10"><i ng-click="selectRow[$index] = !selectRow[$index]" ng-class="(selectRow[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{data.agent}} - {{data.list[0].agentName}}</td>
				<!-- <td class="md-cell" style="text-align: right;" ng-init="finalTotal1 = totalCommission(data.list)">${{finalTotal1 | number:2}}</td> -->
                <td class="md-cell" style="text-align: right;" ng-init="ttlmain = 0">${{ttlmain | number : 2}}</td>
                <td class="md-cell"></td>
            </tr>
            <tr class="md-row customBGColor1" ng-show="selectRow[$index]">
                <td class="md-cell">{{data.list[0].cts_type}}</td>
                <td class="md-cell"></td>
                <td class="md-cell"></td>
                <td class="md-cell"></td>
                <td class="md-cell"></td>
                <td class="md-cell"></td>
                <td class="md-cell"></td>
                <td class="md-cell"></td>
                <td class="md-cell"></td>
                <td class="md-cell"></td>
                <!-- <td class="md-cell" style="text-align: right;" ng-init="finalTotal = totalCommission(data.list)">${{finalTotal | number:2}}</td> -->
                <td class="md-cell" style="text-align: right;" ng-init="ttl = findTotal(data.agent)">${{ttl | number : 2}}</td>
                <td class="md-cell" ng-init="ttlmain = ttlmain + ttl"></td>
            </tr>
            <tr ng-repeat-end ng-show="selectRow[$parent.$index]" class="md-row" ng-repeat="item in data.list | orderBy: query.order">
                <td class="md-cell">{{item.cts_type}}</td>
                <td class="md-cell">{{item.businessUnit}}</td>
                <td class="md-cell"><a href="#" title="{{item.id}}" ng-click="showConfirmPopup($event,item,'Mature Bookings Report By Agent - Hotels Only')">{{item.id}}</a></td>
                <td class="md-cell">{{((item.deposit_date | date:'MM/dd/yyyy')=='01/01/0001')?'':item.deposit_date | date:'MM/dd/yyyy'}}</td>
                <td class="md-cell">{{item.prop_name}}</td>
                <td class="md-cell">{{item.prop_city}}</td>
                <td class="md-cell" >{{item.guestName}}</td>
                <td class="md-cell">{{item.confirmation}}</td>
                <td class="md-cell">{{item.in_date | date:'MM/dd/yyyy'}}</td>
                <td class="md-cell">{{item.check_num}}</td>
                <td class="md-cell" style="text-align: right;">${{item.net_estimated_mature | number:2}}<!-- ${{item.net_est_comm | number:2}} --></td>
                <!-- <td class="md-cell" style="text-align: right;">${{item.statusAmount | number:2}}</td> -->
                <td class="md-cell">{{item.statusDescription}}</td><!-- item.comment -->
                
            </tr>
            <tr class="md-row" ng-if="!bookingList.length && !accountListLoading">
                <td class="text-center" style="padding: 10px" colspan="14">{{noData}}</td>
            </tr>
            <tr class="md-row" ng-if="accountListLoading">
                <td class="text-center" style="padding: 10px" colspan="14">Loading....</td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination ng-if="bookingList.length" md-limit="query.limit" md-limit-options="limitOptions" md-page="query
.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>
<!-- <script>



/*! Copyright (c) 2011 by Jonas Mosbech - https://github.com/jmosbech/StickyTableHeaders
MIT license info: https://github.com/jmosbech/StickyTableHeaders/blob/master/license.txt */

(function ($, window, undefined) {
	'use strict';

	var name = 'stickyTableHeaders',

	id = 0,
	defaults = {
		fixedOffset: 0,
		leftOffset: 0,
		marginTop: 0,
		scrollableArea: window
	};

	function Plugin(el, options) {
        // To avoid scope issues, use 'base' instead of 'this'
        // to reference this class from internal events and functions.
        var base = this;

        // Access to jQuery and DOM versions of element
        base.$el = $(el);
        base.el = el;
        base.id = id++;
        base.$window = $(window);
        base.$document = $(document);

        // Listen for destroyed, call teardown
        base.$el.bind('destroyed',
        	$.proxy(base.teardown, base));

        // Cache DOM refs for performance reasons
        base.$clonedHeader = null;
        base.$originalHeader = null;

        // Keep track of state
        base.isSticky = false;
        base.hasBeenSticky = false;
        base.leftOffset = null;
        base.topOffset = null;

        base.init = function () {
        	base.$el.each(function () {
        		var $this = $(this);

                // remove padding on <table> to fix issue #7
                $this.css('padding', 0);

                base.$originalHeader = $('thead:first', this);
                base.$clonedHeader = base.$originalHeader.clone();
                $this.trigger('clonedHeader.' + name, [base.$clonedHeader]);

                base.$clonedHeader.addClass('tableFloatingHeader');
                base.$clonedHeader.css('display', 'none');

                base.$originalHeader.addClass('tableFloatingHeaderOriginal');

                base.$originalHeader.after(base.$clonedHeader);

                base.$printStyle = $('<style type="text/css" media="print">' +
                	'.tableFloatingHeader{display:none !important;}' +
                	'.tableFloatingHeaderOriginal{position:static !important;}' +
                	'</style>');
                $('head').append(base.$printStyle);
            });

        	base.setOptions(options);
        	base.updateWidth();
        	base.toggleHeaders();
        	base.bind();
        };

        base.destroy = function () {
        	base.$el.unbind('destroyed', base.teardown);
        	base.teardown();
        };

        base.teardown = function () {

        	if (base.isSticky) {
        		base.$originalHeader.css('position', 'static');
        	}
        	$.removeData(base.el, 'plugin_' + name);
        	base.unbind();

        	base.$clonedHeader.remove();
        	base.$originalHeader.removeClass('tableFloatingHeaderOriginal');
        	base.$originalHeader.css('visibility', 'visible');
        	base.$printStyle.remove();

        	base.el = null;
        	base.$el = null;
        };

        base.bind = function () {
        	base.$scrollableArea.on('scroll.' + name, base.toggleHeaders);
        	if (!base.isWindowScrolling) {
        		base.$window.on('scroll.' + name + base.id, base.setPositionValues);
        		base.$window.on('resize.' + name + base.id, base.toggleHeaders);
        	}
        	base.$scrollableArea.on('resize.' + name, base.toggleHeaders);
        	base.$scrollableArea.on('resize.' + name, base.updateWidth);

        };

        base.unbind = function () {
            // unbind window events by specifying handle so we don't remove too much
            base.$scrollableArea.off('.' + name, base.toggleHeaders);
            if (!base.isWindowScrolling) {
            	base.$window.off('.' + name + base.id, base.setPositionValues);
            	base.$window.off('.' + name + base.id, base.toggleHeaders);
            }
            base.$scrollableArea.off('.' + name, base.updateWidth);
        };

        base.toggleHeaders = function () {
        	if (base.$el) {
        		base.$el.each(function () {
        			var $this = $(this),
        			newLeft,
        			newTopOffset = base.isWindowScrolling ? (
        				isNaN(base.options.fixedOffset) ? base.options.fixedOffset.outerHeight() : base.options.fixedOffset) : base.$scrollableArea.offset().top + (!isNaN(base.options.fixedOffset) ? base.options.fixedOffset : 0),
        			offset = $this.offset(),

        			scrollTop = base.$scrollableArea.scrollTop() + newTopOffset,
        			scrollLeft = base.$scrollableArea.scrollLeft(),

        			scrolledPastTop = base.isWindowScrolling ? scrollTop > offset.top : newTopOffset > offset.top,
        			notScrolledPastBottom = (base.isWindowScrolling ? scrollTop : 0) < (offset.top + $this.height() - base.$clonedHeader.height() - (base.isWindowScrolling ? 0 : newTopOffset));

        			if (scrolledPastTop && notScrolledPastBottom) {
        				newLeft = offset.left - scrollLeft + base.options.leftOffset;
        				base.$originalHeader.css({
        					'position': 'fixed',
        					'margin-top': base.options.marginTop,
        					'left': newLeft,
                                'z-index': 3 // #18: opacity bug
                            });
        				base.leftOffset = newLeft;
        				base.topOffset = newTopOffset;
        				base.$clonedHeader.css('display', '');
        				if (!base.isSticky) {
        					base.isSticky = true;
                            // make sure the width is correct: the user might have resized the browser while in static mode
                            base.updateWidth();
                        }
                        base.setPositionValues();
                    } else if (base.isSticky) {
                    	base.$originalHeader.css('position', 'static');
                    	base.$clonedHeader.css('display', 'none');
                    	base.isSticky = false;
                    	base.resetWidth($('td,th', base.$clonedHeader), $('td,th', base.$originalHeader));
                    }
                });
        	}
        };

        base.setPositionValues = function () {
        	var winScrollTop = base.$window.scrollTop(),
        	winScrollLeft = base.$window.scrollLeft();
        	if (!base.isSticky || winScrollTop < 0 || winScrollTop + base.$window.height() > base.$document.height() || winScrollLeft < 0 || winScrollLeft + base.$window.width() > base.$document.width()) {
        		return;
        	}
        	base.$originalHeader.css({
        		'top': base.topOffset - (base.isWindowScrolling ? 0 : winScrollTop),
        		'left': base.leftOffset - (base.isWindowScrolling ? 0 : winScrollLeft)
        	});
        };

        base.updateWidth = function () {
        	if (!base.isSticky) {
        		return;
        	}
            // Copy cell widths from clone
            if (!base.$originalHeaderCells) {
            	base.$originalHeaderCells = $('th,td', base.$originalHeader);
            }
            if (!base.$clonedHeaderCells) {
            	base.$clonedHeaderCells = $('th,td', base.$clonedHeader);
            }
            var cellWidths = base.getWidth(base.$clonedHeaderCells);
            base.setWidth(cellWidths, base.$clonedHeaderCells, base.$originalHeaderCells);

            // Copy row width from whole table
            base.$originalHeader.css('width', base.$clonedHeader.width());
        };

        base.getWidth = function ($clonedHeaders) {
        	var widths = [];
        	$clonedHeaders.each(function (index) {
        		var width, $this = $(this);

        		if ($this.css('box-sizing') === 'border-box') {
                    width = $this[0].getBoundingClientRect().width; // #39: border-box bug
                } else {
                	var $origTh = $('th', base.$originalHeader);
                	if ($origTh.css('border-collapse') === 'collapse') {
                		if (window.getComputedStyle) {
                			width = parseFloat(window.getComputedStyle(this, null).width);
                		} else {
                            // ie8 only
                            var leftPadding = parseFloat($this.css('padding-left'));
                            var rightPadding = parseFloat($this.css('padding-right'));
                            // Needs more investigation - this is assuming constant border around this cell and it's neighbours.
                            var border = parseFloat($this.css('border-width'));
                            width = $this.outerWidth() - leftPadding - rightPadding - border;
                        }
                    } else {
                    	width = $this.width();
                    }
                }

                widths[index] = width;
            });
        	return widths;
        };

        base.setWidth = function (widths, $clonedHeaders, $origHeaders) {
        	$clonedHeaders.each(function (index) {
        		var width = widths[index];
        		$origHeaders.eq(index).css({
        			'min-width': width,
        			'max-width': width
        		});
        	});
        };

        base.resetWidth = function ($clonedHeaders, $origHeaders) {
        	$clonedHeaders.each(function (index) {
        		var $this = $(this);
        		$origHeaders.eq(index).css({
        			'min-width': $this.css('min-width'),
        			'max-width': $this.css('max-width')
        		});
        	});
        };

        base.setOptions = function (options) {
        	base.options = $.extend({}, defaults, options);
        	base.$scrollableArea = $(base.options.scrollableArea);
        	base.isWindowScrolling = base.$scrollableArea[0] === window;
        };

        base.updateOptions = function (options) {
        	base.setOptions(options);
            // scrollableArea might have changed
            base.unbind();
            base.bind();
            base.updateWidth();
            base.toggleHeaders();
        };

        // Run initializer
        base.init();
    }

    // A plugin wrapper around the constructor,
    // preventing against multiple instantiations
    $.fn[name] = function (options) {
    	return this.each(function () {
    		var instance = $.data(this, 'plugin_' + name);
    		if (instance) {
    			if (typeof options === 'string') {
    				instance[options].apply(instance);
    			} else {
    				instance.updateOptions(options);
    			}
    		} else if (options !== 'destroy') {
    			$.data(this, 'plugin_' + name, new Plugin(this, options));
    		}
    	});
    };

})(jQuery, window);
$(function () {
	$(".md-table").stickyTableHeaders();
});
</script> -->