<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Mature Bookings Report</h2>
		<span class="pull-right" style="color: red">* Required </span><br>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<form style="width: 100%;" name="matureReport" novalidate="" ng-submit="callFiterData(true)">
					<div class="row custom-row">
						<div class="col-md-12">
							<div class="col-lg-6 col-md-12">
								<div class="row">
									<div class="col-lg-3 col-md-2 col-sm-3">
										<label style="margin-top: 21px;">Arrival Date</label>
									</div>		
									<div class="col-lg-4 col-md-5 col-sm-4">
										<div flex-gt-xs="" class="custom-datePicker">
											<md-datepicker class="start-calender" ng-change="checkValidDate(matureBookByAgentCarsOnly.fromDate,matureBookByAgentCarsOnly.toDate)" ng-model="matureBookByAgentCarsOnly.fromDate" md-placeholder="From*" required></md-datepicker>
										</div>
									</div>
									<div class="col-lg-4 col-md-5 col-sm-4">
										<div flex-gt-xs="" class="custom-datePicker">
											<md-datepicker class="start-calender" md-min-date="matureBookByAgentCarsOnly.fromDate" ng-model="matureBookByAgentCarsOnly.toDate" md-placeholder="To*" required></md-datepicker>
										</div>
									</div>
								</div>
							</div>	

							<div class="col-lg-6 col-md-12">
								<div class="row">
									<div class="col-lg-5 col-md-3 col-sm-3 col-xs-12">
										<md-button style="margin-top: 15px;" type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>
									</div>
									<div class="col-lg-5 col-md-3 col-sm-3 col-xs-12">
										<md-button type="button" style="margin-top: 15px;" class="md-raised btn-w-md md-primary md-button md-ink-ripple" ng-click="getPDFLink(1)">Print friendly</md-button>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
										<a class="excel-custom" style="margin: 14px 10px;" href="javascript:void(0)" ng-click="getPDFLink(2)" title="Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
										<a class="pdf-custom" style="margin: 14px 10px;" href="javascript:void(0)" ng-click="getPDFLink(1)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</form>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th class="md-column text-center custom-pending"><span>Business Unit</span></th>
				<th class="md-column text-center"><span>Type</span></th> 
				<th md-column class="text-center" md-order-by="id"><span>Web ID</span></th>
				<th md-column class="text-center" md-order-by="last_name"><span>Last Name</span></th>
				<th md-column class="text-center" md-order-by="first_name"> <span>First Name</span></th>
				<th md-column class="text-center" md-order-by="in_date"><span>Arrival Date</span></th>
				<th md-column class="text-center" md-order-by="confirmation"><span>Confirmation</span></th>
				<th md-column class="text-center" md-order-by="net_est_comm"><span>Estimated Commission</span></th>
				<th class="md-column text-center"><span>Currency</span></th>
				<th md-column class="text-center" md-order-by="net_act_comm"><span>Actual Commission</span></th>
				<th class="md-column text-center"><span>Currency</span></th>
				<th md-column class="text-center" md-order-by="prop_name"><span>Property Name</span></th>
				<th md-column class="text-center" md-order-by="prop_city"><span>Property City</span></th>
				<th md-column class="text-center" md-order-by="bkg_src"><span>Booking Source</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row customBGColor" ng-init="selectRow[$index] = true" md-select="bookingList" ng-repeat-start="data in bookingList">
				<td class="md-cell" colspan="7"><i ng-click="selectRow[$index] = !selectRow[$index]" ng-class="(selectRow[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus" ng-init="totalAV = totalAvailableCommsion(data.list)"></i> {{data.businessUnit}}</td>
				<td class="md-cell" style="text-align: right;">${{totalAV.net_est_comm | number : 2}}</td>
				<td class="md-cell"></td>
				<td class="md-cell" style="text-align: right;">${{totalAV.net_act_comm | number : 2}}</td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
			</tr>
			<tr ng-init="selectRow1[$index] = true" ng-show="selectRow[$parent.$index]" ng-repeat-start="data1 in subFilterList(data.list) | filter:createFilterForChild" class="md-row customBGColor1">
				<td class="md-cell"></td>
				<td class="md-cell"><div style="width: 110px;"><i ng-click="selectRow1[$index] = !selectRow1[$index]" ng-class="(selectRow1[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{data1.cts_type}}</div></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell" ng-init="totalAV1 = totalAvailableCommsion(data.list | filter:{cts_type: data1.cts_type}:true)"></td>
				<td class="md-cell" style="text-align: right;">${{totalAV1.net_est_comm | number : 2}}</td>
				<td class="md-cell"></td>
				<td class="md-cell" style="text-align: right;">${{totalAV1.net_act_comm | number : 2}}</td>
				<td class="md-cell" style="text-align: right;"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
			</tr>
			<tr ng-show="selectRow1[$parent.$index] && selectRow[$parent.$parent.$index]" ng-repeat-end class="md-row" ng-repeat-start="item in data.list | filter:{cts_type: data1.cts_type}:true | orderBy: query.order | limitTo:(item.limitTo) ? item.limitTo : 50">
				<td class="md-cell">{{item.businessUnit}}</td>
				<td class="md-cell">{{item.cts_type}}</td>
				<td class="md-cell"><a href="#" title="{{item.id}}" ng-click="showConfirmPopup($event,item,'Report: Mature Bookings Report')">{{item.id}}</td>
				<td class="md-cell">{{item.last_name}}</td>
				<td class="md-cell">{{item.first_name}}</td>
				<td class="md-cell">{{item.in_date | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell" >{{item.confirmation}}</td>
				<td class="md-cell" style="text-align: right;">{{item.net_est_comm | number : 2}}</td>
				<td class="md-cell" style="text-align: center;">{{item.rateCurrency}}</td>
				<td class="md-cell" style="text-align: right;">{{item.net_act_comm| number : 2}}</td>
				<!-- (item.net_act_comm != 0) ?  (item.net_act_comm| number : 2) : '' -->
				<td class="md-cell" style="text-align: center;">{{(item.net_act_comm) ? item.net_pay_currency : ''}}</td>
				<td class="md-cell">{{item.prop_name}}</td>
				<td class="md-cell">{{item.prop_city}}</td>
				<td class="md-cell" ng-init="data1.finalDataLen[$parent.$index+''+$parent.$parent.$index] = (data.list | filter:{cts_type: data1.cts_type}:true).length" style="text-align: center;">{{item.bkg_src}}</td>
			</tr>
			<tr ng-repeat-end>
				<td class="md-cell" ng-show="selectRow1[$index] && selectRow[$parent.$index] && ((item.limitTo) ? item.limitTo < data1.finalDataLen[$index+''+$parent.$index] : data1.finalDataLen[$index+''+$parent.$index] > 50)" colspan="14">
					<md-button ng-click="item.limitTo = item.limitTo + 100" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Load More</md-button>
				</td>
			</tr>
			<tr ng-repeat-end ng-show="false"></tr>
			<tr class="md-row" ng-if="!bookingList.length && !accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="14">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="14">Loading....</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination md-label="{rowsPerPage: 'Records Per Page:'}" ng-if="bookingList.length" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>