<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Outstanding Booking Report - Hotels Only</h2>
		<span class="pull-right" style="color: red">* Required </span><br>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<form style="width: 100%;" name="OutHotels" novalidate="" ng-submit="callFiterData(true)">
					<div class="row custom-row">
						<div class="col-md-12">
							<div class="col-lg-6 col-md-12">
								<div class="row">
									<div class="col-lg-3 col-md-2 col-sm-3">
										<label style="margin-top: 21px;">Arrival Date</label>
									</div>

									<div class="col-lg-4 col-md-5 col-sm-4">
										<div flex-gt-xs="" class="custom-datePicker">
											<md-datepicker class="start-calender" ng-change="checkValidDate(matureBookByAgentCarsOnly.fromDate,matureBookByAgentCarsOnly.toDate)" ng-model="matureBookByAgentCarsOnly.fromDate" md-placeholder="From*" required></md-datepicker>
										</div>
									</div>
									<div class="col-lg-4 col-md-5 col-sm-4">
										<div flex-gt-xs="" class="custom-datePicker">
											<md-datepicker class="start-calender" md-min-date="matureBookByAgentCarsOnly.fromDate" ng-model="matureBookByAgentCarsOnly.toDate" md-placeholder="To*" required></md-datepicker>
										</div>
									</div>
								</div>
							</div>	
							<div class="col-lg-6 col-md-12">
								<div class="row">
									<div class="col-lg-5 col-md-3 col-sm-3 col-xs-12">
										<md-button style="margin-top: 15px;" type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>
									</div>
									<div class="col-lg-5 col-md-3 col-sm-3 col-xs-12">
										<md-button type="button" style="margin-top: 15px;" class="md-raised btn-w-md md-primary md-button md-ink-ripple" ng-disabled="bookingList.length == 0" ng-click="getPDFLink(1)">Print friendly</md-button>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
										<a class="excel-custom" style="margin: 14px 10px;" href="javascript:void(0)" ng-click="getPDFLink(2)" title="Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
										<a class="pdf-custom" style="margin: 14px 10px;" href="javascript:void(0)" ng-click="getPDFLink(1)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</form>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th class="md-column text-center custom-pending">
					<span>Agent + <br>Type</span>
				</th>
				<th md-column class="text-center" md-order-by="businessUnit" ><span>Business<br>Unit</span></th> 
				<th md-column class="text-center" md-order-by="id" > <span>Web ID</span></th>
				<!-- <th md-column class="text-center" md-order-by="deposit_date" ><span>Deposit Date</span></th> -->
				<th md-column class="text-center" md-order-by="prop_name"> <span>Property Name</span></th>
				<th md-column class="text-center" md-order-by="prop_city"><span>Property City</span></th>
				<th md-column class="text-center" md-order-by="guestName"> <span>Guest</span></th>
				<th md-column class="text-center" md-order-by="confirmation"><span>Confirmation</span></th>
				<th md-column class="text-center" md-order-by="in_date"><span>Arrival Date</span></th>
				<!-- <th md-column class="text-center" md-order-by="check_num"><span>Check Number</span></th> -->
				<th md-column class="text-center" md-order-by="net_est_comm"><span>Estimated <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Commission</span></th>
				<th md-column class="text-center" md-order-by="comment"><span>Status</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row customBGColor" md-select="bookingList" ng-repeat-start="data in bookingList">
				<td class="md-cell" colspan="8"><i ng-init="selectRow[$index] = true" ng-click="selectRow[$index] = !selectRow[$index]" ng-class="(selectRow[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{data.agent}} - {{data.list[0].agentName}}</td>
				<!-- <td class="md-cell" style="text-align: right;" ng-init="finalTotal1 = totalCommission(data.list)">${{finalTotal1 | number:2}}</td> -->
				<td class="md-cell" style="text-align: right;" ng-init="ttlmain = 0">${{ttlmain | number : 2}}</td>
				<td class="md-cell"></td>
			</tr>
			<tr class="md-row customBGColor1" ng-show="selectRow[$index]">
				<td class="md-cell">{{data.list[0].cts_type}}</td>
				<td class="md-cell"></td>
				<!-- <td class="md-cell"></td> -->
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<!-- <td class="md-cell"></td> -->
				<!-- <td class="md-cell" style="text-align: right;" ng-init="finalTotal = totalCommission(data.list)">${{finalTotal | number:2}}</td> -->
				<td class="md-cell" style="text-align: right;" ng-init="ttl = findTotal(data.agent)">${{ttl | number : 2}}</td>
				
				<td class="md-cell" ng-init="ttlmain = ttlmain + ttl"></td>
			</tr>
			<tr ng-init="calTotal(data.list,item.type)" ng-repeat-end ng-show="selectRow[$parent.$index]" class="md-row" ng-repeat="item in data.list | orderBy: query.order">
				<td class="md-cell">{{item.cts_type}}</td>
				<td class="md-cell">{{item.businessUnit}}</td>
				<td class="md-cell"><a href="#" title="{{item.id}}" ng-click="showConfirmPopup($event,item,'Outstanding Booking Report - Hotels Only')">{{item.id}}</a></td> <!-- Mature Bookings Report By Agent - Hotels Only -->
				<!-- <td class="md-cell">{{item.deposit_date | date:'MM/dd/yyyy'}}</td> -->
				<td class="md-cell">{{item.prop_name}}</td>
				<td class="md-cell">{{item.prop_city}}</td>
				<td class="md-cell" >{{item.guestName}}</td>
				<td class="md-cell">{{item.confirmation}}</td>
				<td class="md-cell">{{item.in_date | date:'MM/dd/yyyy'}}</td>
				<!-- <td class="md-cell">{{item.check_num}}</td> -->
				<td class="md-cell" style="text-align: right;">${{item.net_est_comm | number:2}}</td>
				<!-- <td class="md-cell"><input type="text">{{item.comment}}</td> -->
				<td class="md-cell">
					<!-- <md-select ng-model="item.status" placeholder="--Select--" class="md-no-underline" ng-change="changeComment(item)">
						<md-option ng-value="select">--Select--</md-option>
						<md-option ng-value="list.Code" ng-repeat="list in commentList">{{list.StatusName}}</md-option>
					</md-select> -->
					<md-select ng-model="item.status" placeholder="--Select--" class="md-no-underline" ng-change="changeComment(item)">
						<!-- <md-option ng-value="select">--Select--</md-option> -->
						<md-option ng-value="list.statusCode" ng-repeat="list in statusListView">{{list.description}}</md-option>
					</md-select>

				</td>
			</tr>
			<tr class="md-row" ng-if="!bookingList.length && !accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="14">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="14">Loading....</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination md-label="{rowsPerPage: 'Records Per Page:'}" ng-if="bookingList.length" md-limit="query.limit" md-limit-options="limitOptions" md-page="query
.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>
<!-- <style>
	table .header-fixed {
		position: fixed;
		top: 257px;
		left: 265px;
		/*left: 0;*/
		/*right: 0;*/
		z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
		border-bottom: 1px solid #d5d5d5;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	thead {
		background-color: #eaeaea;
	}
	tbody {
		background-color: #fcfcfc;
	}

	#mynav {
		top: 0;
		position: fixed;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 1030;
		height:40px;
		color:#fff;
		background-color:#666;
		text-align: center;
	}
	body { padding-top:60px; }
</style>

<script language='javascript' type='text/javascript'>
	$(document).ready(function(){
		$('.table-fixed-header').fixedHeader();
	});
</script> -->