<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Who is claiming?</h2>
		<span class="pull-right" style="color: red">* Required </span><br>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<form style="width: 100%;" name="whoisClaim" novalidate="" ng-submit="callFilterData(true)">
					<div class="row custom-row">
						<div class="col-md-6 col-sm-6">
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<md-datepicker class="start-calender" required ng-change="checkValidDate(claimingObj1.fromDate,claimingObj1.toDate)" ng-model="claimingObj1.fromDate" md-placeholder="From*"></md-datepicker>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<md-datepicker class="start-calender" required md-min-date="claimingObj1.fromDate" ng-model="claimingObj1.toDate" md-placeholder="To*"></md-datepicker>
								</div>
							</div>
						</div>			
						<div class="col-md-4 col-sm-4">
							<div layout-gt-sm="row" class="layout-gt-sm-row">
								<md-input-container class="md-block flex-gt-sm custom-display" style="margin:5px 0;">
									<md-button type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>
								</md-input-container>
								<md-input-container class="md-block flex-gt-sm custom-display">
									<md-radio-group ng-model="claimingObj.cc">
										<md-radio-button value="ccd" class="md-primary">Claim Create Date</md-radio-button>
									</md-radio-group>
								</md-input-container>
							</div>
						</div>    	
						<div class="col-md-2 col-sm-2">						
							<a class="excel-custom" href="javascript:void(0)" ng-click="getPDFLink(2)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
							<a class="pdf-custom" href="javascript:void(0)" ng-click="getPDFLink(1)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
						</div>
					</div>
				</form>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<!-- {{globalDateAndTime | date : 'EEEE, MMMM d, y hh:mm:ss a'}} -->
		<div class="pull-right">{{globalDateAndTime | date : 'EEEE, MMMM d, y hh:mm:ss a'}} <!-- {{USTime | date : 'EEEE, MMMM d, y hh:mm:ss a'}} --></div><br>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th md-column class="text-center custom-pending" md-order-by="claimingUser"><span>Claiming User ID</span></th>
				<th md-column class="text-center" md-order-by="claimCreateDate"><span>Claim Create Date</span></th> 
				<th md-column class="text-center" md-order-by="deposit_date"> <span>Deposit Date</span></th>
				<th class="md-column text-center"><span>ID</span></th>
				<th md-column class="text-center" md-order-by="claimType"> <span>Claim Type</span></th>
				<th md-column class="text-center" md-order-by="claimDate"><span>Claim Date</span></th>
				<th md-column class="text-center" md-order-by="claimAmount"> <span>Claim Amount</span></th>
				<th md-column class="text-center" md-order-by="claimCurrency"><span>Currency</span></th>
				<th md-column class="text-center" md-order-by="agentID"><span>Agent ID</span></th>
				<th md-column class="text-center" md-order-by="agentLastName"><span>Agent Name</span></th>
				<th md-column class="text-center" md-order-by="accountID"><span>Account ID</span></th>
				<th md-column class="text-center" md-order-by="accountDesc"><span>Account Description</span></th>
				<th md-column class="text-center" md-order-by="claimComment"><span>Comment</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row" ng-repeat="item in bookingList"> <!-- | orderBy: query.order -->
				<td class="md-cell">{{item.claimingUser}}</td>
				<td class="md-cell">{{item.claimCreateDate | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.deposit_date | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.id}}</td>
				<td class="md-cell" style="text-align: center;">{{item.claimType}}</td>
				<td class="md-cell">{{item.claimDate | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell" style="text-align: right;">{{(item.claimAmount.toString().indexOf('-') != -1)? (item.claimAmount.toString().replace('-','-('))+')':item.claimAmount | number : 2}}</td>
				<td class="md-cell" style="text-align: center;">{{item.claimCurrency}}</td>
				<td class="md-cell" style="text-align: center;">{{item.agentCode}}</td>
				<td class="md-cell">{{item.agentLastName}} {{item.agentFirstName}}</td>
				<td class="md-cell" style="text-align: center;">{{item.accountCode}}</td>
				<td class="md-cell">{{item.accountDesc}}</td>
				<td class="md-cell">{{item.claimComment}}</td>
			</tr>
			<tr class="md-row" ng-if="!bookingList.length && !accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="16">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="16">Loading....</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination ng-if="bookingList.length" md-limit="query.limit" md-limit-options="limitOptions" md-page="query
.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>