<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Report: Hotel Commissions</h2>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<form style="width: 100%;" name="commisHotel" novalidate="" ng-submit="callFiterData(true)">
					<div class="row custom-row">
						<div class="col-md-6 col-sm-6">
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<md-datepicker class="start-calender" required ng-change="checkValidDate(commissionByAcountObj.fromDate,commissionByAcountObj.toDate)" ng-model="commissionByAcountObj.fromDate" md-placeholder="From*"></md-datepicker>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<md-datepicker class="start-calender" required md-min-date="commissionByAcountObj.fromDate" ng-model="commissionByAcountObj.toDate" md-placeholder="To*"></md-datepicker>
								</div>
							</div>
						</div>			
						<div class="col-md-4 col-sm-4 column-btn-go">
							<div layout-gt-sm="row" class="layout-gt-sm-row">
								<md-input-container class="md-block flex-gt-sm custom-display" style="margin:5px 0;">
									<md-button type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>
								</md-input-container>
								<md-input-container class="md-block flex-gt-sm custom-display">
									<md-radio-group ng-model="commissionByAcountObj.selectedDate" disabled>
										<md-radio-button value="0" class="md-primary">Arrival Date</md-radio-button>
									</md-radio-group>
									<md-radio-group ng-model="commissionByAcountObj.selectedDate">
										<md-radio-button value="1" class="md-primary">Deposit Date</md-radio-button>
									</md-radio-group>
									<md-radio-group ng-model="commissionByAcountObj.selectedDate" disabled>
										<md-radio-button value="2" class="md-primary">Transaction Date</md-radio-button>
									</md-radio-group>
								</md-input-container>
							</div>
						</div>
						<div class="col-md-2">						
							<a class="excel-custom" ng-click="getPDFLink(2)" href="javascript:void(0)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
							<a class="pdf-custom" ng-click="getPDFLink(1)" href="javascript:void(0)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
						</div>
					</div>
				</form>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th class="md-column text-center custom-pending"><span>Last Name</span></th> 
				<th class="md-column text-center"> <span>First Name</span></th>
				<th class="md-column text-center"><span>ID</span></th>
				<th class="md-column text-center"><span>&nbsp;</span></th>
				<th class="md-column text-center"> <span>DK</span></th>
				<th class="md-column text-center"><span>Brand</span></th>
				<th class="md-column text-center"> <span>Hotel Name</span></th>
				<th class="md-column text-center"><span>Address</span></th>
				<th class="md-column text-center"><span>City</span></th>
				<th class="md-column text-center"><span>Net Commission</span></th>
				<th class="md-column text-center"><span>Currency</span></th>
				<th class="md-column text-center"><span>Branch</span></th>
				<th class="md-column text-center"><span>PNR</span></th>
				<th class="md-column text-center"><span>IATA</span></th>
				<th class="md-column text-center"><span>Country</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row" ng-repeat="item in bookingList">
				<td class="md-cell">{{item.lastName}}</td>
				<td class="md-cell">{{item.firstName}}</td>
				<td class="md-cell"><a href="#" title="{{item.id}}" ng-click="showConfirmPopup($event,item,'Report: Hotel Commissions')">{{item.id}}</a></td>
				<td class="md-cell"><a ng-if="getDocIdNumber(item.doc_id)" href="#" ng-click="GetControlData({'booking_id':item.bookingID,'payment_id':item.payment_id})"><i class="fa fa-eye" style="font-size: 17px; color: rgba(0,0,0,.87);" aria-hidden="true"></i></a></td>
				<td class="md-cell">{{item.account}}</td>
				<td class="md-cell" style="text-align: center;">{{item.prop_chain}}</td>
				<td class="md-cell">{{item.propertyName}}</td>
				<td class="md-cell">{{item.prop_address1}}</td>
				<td class="md-cell">{{item.propertyCity}}</td>
				<td class="md-cell" style="text-align: right;">${{item.act_comm}}</td>
				<td class="md-cell" style="text-align: center;">{{item.net_pay_currency}}</td>
				<td class="md-cell">{{item.branch}}</td>
				<td class="md-cell">{{item.pnr_id}}</td>
				<td class="md-cell">{{item.iata}}</td>
				<td class="md-cell" style="text-align: center;">{{item.prop_country}}</td>
			</tr>
			<tr ng-repeat-end ng-show="false"></tr>
			<tr class="md-row" ng-if="!bookingList.length && !accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="16">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="16">Loading....</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination ng-if="bookingList.length" md-limit="query.limit" md-limit-options="limitOptions" md-page="query
.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>
