<toaster-container toaster-options="tosterOption"></toaster-container>
<div class="page-auth">
	<div class="main-body">
		<div class="card bg-white">
			<div class="card-content">
				<div class="logo">
					<a>Register</a>
				</div>
				<form name="signup_form" autocomplete="off" ng-submit="register(user)" class="md-form-auth form-validation">
					<fieldset>
						<md-input-container class="md-block">
							<label>Username</label>
							<md-icon class="material-icons">perm_identity</md-icon>
							<input required type="text" name="name" ng-model="user.name">
							<div ng-messages="signup_form.name.$error" multiple ng-if='signup_form.name.$dirty'>
								<div ng-message="required">This is required.</div>
								<div ng-message="pattern">It must be an e-mail address.</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Email</label>
							<md-icon class="material-icons">mail_outline</md-icon>
							<input required type="email" name="email" ng-model="user.email" ng-pattern="/^.+@.+\..+$/" />
							<div ng-messages="signup_form.email.$error" multiple ng-if='signup_form.email.$dirty'>
								<div ng-message="required">This is required.</div>
								<div ng-message="pattern">It must be an e-mail address.</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block no-margin-bottom">
							<label>Password</label>
							<md-icon class="material-icons">lock_outline</md-icon>
							<input required type="password" name="password" ng-model="user.password">
							<div ng-messages="signup_form.password.$error" multiple ng-if='signup_form.password.$dirty'>
								<div ng-message="required">This is required.</div>
							</div>
						</md-input-container>                                        
						<p class="text-small no-margin">By clicking on sign up, you agree to <a href="javascript:;"><i>terms</i></a> and <a href="javascript:;"><i>privacy policy</i></a></p>
						<div class="divider divider-md"></div>
						<md-button type="submit" class="md-raised pull-right md-primary" data-ng-disabled="!canSubmit()">Sign Up</md-button>
					</fieldset>
				</form>
				<div class="additional-info">
					<a ui-sref="login">Login</a>
				</div>
			</div>
		</div> 
	</div>
</div>