<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">SnapShot Bookings Report</h2>
		<span class="pull-right" style="color: red">* Required </span><br>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<form style="width: 100%;" name="SnapShotBooking" novalidate="" ng-submit="callFiterData(true)">
					<div class="row custom-row">
						<div class="col-md-12">
							<div class="col-lg-6 col-md-12">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div flex-gt-xs="" class="custom-datePicker">
											<md-datepicker class="start-calender" ng-change="checkValidDate(matureBookByAgentCarsOnly.fromDate,matureBookByAgentCarsOnly.toDate)" ng-model="matureBookByAgentCarsOnly.fromDate" md-placeholder="From*" required></md-datepicker>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div flex-gt-xs="" class="custom-datePicker">
											<md-datepicker class="start-calender" md-min-date="matureBookByAgentCarsOnly.fromDate" ng-model="matureBookByAgentCarsOnly.toDate" md-placeholder="To*" required></md-datepicker>
										</div>
									</div>
								</div>
							</div>	

							<div class="col-lg-6 col-md-12">
								<div class="row">
									<div class="col-lg-5 col-md-3 col-sm-3 col-xs-12">
										<md-button style="margin-top: 15px;" type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>
									</div>
									<div class="col-lg-5 col-md-3 col-sm-3 col-xs-12">
										<md-button type="button" style="margin-top: 15px;" class="md-raised btn-w-md md-primary md-button md-ink-ripple" ng-click="getPDFLink(1)">Print friendly</md-button>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
										<a class="excel-custom" style="margin: 14px 10px;" href="javascript:void(0)" ng-click="getPDFLink(2)" title="Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
										<a class="pdf-custom" style="margin: 14px 10px;" href="javascript:void(0)" ng-click="getPDFLink(1)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</form>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th md-column class="text-center custom-pending"><span>ta_id</span></th>
				<th md-column class="text-center"><span>bkg src</span></th> 
				<th md-column class="text-center"> <span>last name</span></th>
				<th md-column class="text-center"><span>first name</span></th>
				<th md-column class="text-center"> <span>in date</span></th>
				<th md-column class="text-center"><span>out date</span></th>
				<th md-column class="text-center"> <span>trans date</span></th>
				<th md-column class="text-center"><span>confirmation</span></th>
				<th md-column class="text-center"><span>status</span></th>
				<th md-column class="text-center"><span>net est comm</span></th>
				<th md-column class="text-center"><span>net revenue</span></th>
				<th md-column class="text-center"><span>net rate</span></th>
				<th md-column class="text-center"><span>nights</span></th>
				<th md-column class="text-center"><span>rooms</span></th>
				<th md-column class="text-center"><span>prop name</span></th>
				<th md-column class="text-center"><span>prop address1</span></th>
				<th md-column class="text-center"><span>prop city</span></th>
				<th md-column class="text-center"><span>prop state</span></th>
				<th md-column class="text-center"><span>prop zip</span></th>
				<th md-column class="text-center"><span>bkg src</span></th>
				<th md-column class="text-center"><span>branch</span></th>
				<th md-column class="text-center"><span>account</span></th>
				<th md-column class="text-center"><span>agent</span></th>
				<th md-column class="text-center"><span>iata</span></th>
				<th md-column class="text-center"><span>pnr id</span></th>
				<th md-column class="text-center" md-order-by="bookingPCC"><span>booking PCC</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row customBGColor" ng-repeat-start="data in bookingList">
				<td class="md-cell" colspan="7"><i ng-click="selectRow[$index] = !selectRow[$index]" ng-class="(selectRow[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{data.ta_id}}</td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
			</tr>
			<tr ng-show="selectRow[$parent.$index]" ng-repeat-start="data1 in GroupFilterData(data.olist) | filter:createFilterForChild" class="md-row customBGColor1">
				<td class="md-cell"></td>
				<td class="md-cell"><div style="width: 110px;"><i ng-click="selectRow1[$index] = !selectRow1[$index]" ng-class="(selectRow1[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{data1.bkg_src}}</div></td>
				<td class="md-cell"><div style="white-space: nowrap;">Count: {{(data.olist | filter:{bkg_src: data1.bkg_src}).length}}</div></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
			</tr>
			<tr ng-repeat-end ng-show="selectRow1[$parent.$index] && selectRow[$parent.$parent.$index]" class="md-row" ng-repeat-start="item in data.olist | filter:{bkg_src: data1.bkg_src}:true | orderBy: query.order | limitTo:(item.limitTo) ? item.limitTo : 50">
				<!-- <td class="md-cell">{{item.ta_id}}</td>
				<td class="md-cell">{{item.bkg_src}}</td> -->
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell">{{item.last_name}}</td>
				<td class="md-cell">{{item.first_name}}</td>
				<td class="md-cell">{{item.in_date | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.out_date | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.trans_date | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.confirmation}}</td>
				<td class="md-cell" style="text-align: center;">{{item.status}}</td>
				<td class="md-cell" style="text-align: right;">{{(item.net_revenue)/10 | number : 2}}</td>
				<td class="md-cell" style="text-align: right;">{{item.net_revenue | number : 2}}</td>
				<td class="md-cell" style="text-align: right;">{{item.net_rate | number : 2}}</td>
				<td class="md-cell" style="text-align: right;">{{item.nights}}</td>
				<td class="md-cell" style="text-align: right;">{{item.rooms}}</td>
				<td class="md-cell">{{item.prop_name}}</td>
				<td class="md-cell">{{item.prop_address1}}</td>
				<td class="md-cell">{{item.prop_city}}</td>
				<td class="md-cell">{{item.prop_state}}</td>
				<td class="md-cell">{{item.prop_zip}}</td>
				<td class="md-cell">{{item.bkg_src}}</td>
				<td class="md-cell">{{item.branch}}</td>
				<td class="md-cell">{{item.account}}</td>
				<td class="md-cell">{{item.agent}}</td>
				<td class="md-cell">{{item.iata}}</td>
				<td class="md-cell">{{item.pnr_id}}</td>
				<td class="md-cell" ng-init="data1.finalDataLen[$parent.$index+''+$parent.$parent.$index] = (data.olist | filter:{bkg_src: data1.bkg_src}:true).length">{{item.bookingPCC}}</td>
			</tr>
			<tr ng-repeat-end>
				<td class="md-cell" ng-show="selectRow1[$index] && selectRow[$parent.$index] && ((item.limitTo) ? item.limitTo < data1.finalDataLen[$index+''+$parent.$index] : data1.finalDataLen[$index+''+$parent.$index] > 50)" colspan="26">
					<md-button ng-click="item.limitTo = item.limitTo + 100" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Load More</md-button>
				</td>
			</tr>
			<tr ng-repeat-end ng-show="false"></tr>
			<tr class="md-row" ng-if="!bookingList.length && !accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="26">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="26">Loading....</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination ng-if="bookingList.length" md-limit-options="limitOptions" md-limit="query.limit" md-page="query
.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>