<!-- <toaster-container toaster-options="tosterOption"></toaster-container> -->
<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Batch Release Utility</h2>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<form style="width: 100%;" name="bookingandpayments" novalidate="" ng-submit="callFiterData(true)">
					<div class="row custom-row">
						<div class="col-md-2 pull-right">						
							<a class="excel-custom" ng-click="getPDFLink(2)" href="javascript:void(0)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
							<a class="pdf-custom" ng-click="getPDFLink(1)" href="javascript:void(0)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
						</div>
					</div>
				</form>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table md-table cellspacing="10" cellpadding="10">
					<thead md-head md-on-reorder="logOrder"><!-- md-order="query.order" -->
						<tr class="md-row">
							<th class="md-column text-center"> <span>Business Unit /+ Deposit Date /+ Batch No.</span></th>
							<th class="md-column text-center"><span>Web ID</span></th>
							<th class="md-column text-center"><span>&nbsp;</span></th>
							<th md-column class="text-center" md-order-by="totalMatched"><span>Matched</span></th>
							<th md-column class="text-center" md-order-by="agent"><span>Agent</span></th>
							<th md-column class="text-center" md-order-by="cts_type"> <span>Type</span></th>
							<th md-column class="text-center" md-order-by="prop_name"><span>Property Name</span></th>
							<th md-column class="text-center" md-order-by="prop_phone"><span>Property Phone</span></th>
							<th md-column class="text-center" md-order-by="net_act_comm"><span>Commission</span></th>
							<th md-column class="text-center" md-order-by="status"><span>Status</span></th>
							<th md-column class="text-center" md-order-by="last_name"><span>Last Name</span></th>
							<th md-column class="text-center" md-order-by="first_name"><span>First Name</span></th>
							<th md-column class="text-center" md-order-by="in_date"><span>In Date</span></th>
							<th md-column class="text-center" md-order-by="confirmation"><span>Confirmation</span></th>
							<th md-column class="text-center" md-order-by="account"><span>Account</span></th>
							<th md-column class="text-center" md-order-by="check_num"><span>Check No.</span></th>
						</tr>
					</thead>
					<tbody class="md-body">
						<tr class="md-row customBGColor" ng-repeat-start="data in unmatchedPayment">
							<td class="md-cell"><i ng-init="selectRow[$index] = true" ng-click="selectRow[$index] = !selectRow[$index]" ng-class="(selectRow[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{data.businessUnit}}</td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell" ng-init="totalAV = totalAvailableCommsion(data.tlist)"></td>
							<td class="md-cell" style="text-align: right;">${{totalAV.net_act_comm | number : 2}}</td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
						</tr>
						<tr ng-show="selectRow[$parent.$index]" ng-repeat-start="data1 in GroupFilterData(data.tlist) | filter:createFilterForChild" class="md-row customBGColor1">
							<td class="md-cell"><div style="width: 110px; white-space: nowrap;"><i ng-click="selectRow1[$index] = !selectRow1[$index]" ng-class="(selectRow1[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{data1.deposit_date | date:'MM/dd/yyyy'}}</div></td>
							<td class="md-cell"><a href="#" ng-if="abcd" ng-click="showReleasePopup($event, data1.deposit_date, data1)">Release </a></td>
							<td class="md-cell"><!-- {{(data.tlist | filter:{deposit_date: data1.deposit_date}:true | orderBy: query.order) | myFormat}} --></td>
							<td class="md-cell" style="white-space: nowrap;">{{(data.tlist | filter:{deposit_date: data1.deposit_date}:true | orderBy: query.order) | myFormat}} / {{(data.tlist | filter:{deposit_date: data1.deposit_date}:true | orderBy: query.order).length}} = {{(((data.tlist | filter:{deposit_date: data1.deposit_date}:true | orderBy: query.order) | myFormat)*100) / ((data.tlist | filter:{deposit_date: data1.deposit_date}:true | orderBy: query.order).length) | number : 2}}%</td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell" ng-init="totalAV1 = totalAvailableCommsion(data.tlist | filter:{deposit_date: data1.deposit_date}:true)"></td>
							<td class="md-cell" style="text-align: right;">${{totalAV1.net_act_comm | number : 2}}</td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
							<td class="md-cell"></td>
						</tr>
						<tr ng-repeat-end ng-show="selectRow1[$parent.$index] && selectRow[$parent.$parent.$index]" class="md-row" ng-repeat-start="item in data.tlist | filter:{deposit_date: data1.deposit_date}:true | orderBy: query.order | limitTo:(item.limitTo) ? item.limitTo : 10" ng-init="data1.totalMatched = 1"><!-- | orderBy: query.order -->
							<td md-cell class="text-center">{{item.batch_id}}</td>
							<td md-cell class="text-center"><a href="#" title="{{item.id}}" ng-click="showConfirmPopup($event,item, 'Batch Release Utility')">{{item.id}}</a></td>
							<td class="md-cell"><a ng-if="getDocIdNumber(item.doc_id)" href="#" ng-click="GetControlData({'booking_id':item.booking_id,'payment_id':item.payment_id})"><i class="fa fa-eye" style="font-size: 17px; color: rgba(0,0,0,.87);" aria-hidden="true"></i></a></td>
							<td md-cell class="text-center" ng-init="data1.totalMatched = data1.totalMatched + $index" style="text-align: center">{{(item.booking_id != "" && item.booking_id!=null)?('Yes'):('No')}}</td>
							<td md-cell class="text-center" ng-init="data1.totalYes = (item.booking_id!='' && item.booking_id!=null)?(data1.totalYes + 1):data1.totalYes">{{item.agent}}</td>
							<td md-cell class="text-center">{{item.cts_type}}</td>
							<td md-cell class="text-cente">{{item.prop_name}}</td>
							<td md-cell class="text-center">{{item.prop_phone}}</td>
							<td md-cell class="text-center" ng-init="data1['net_act_comm'+$parent.$index+''+$parent.$parent.$index] = data1['net_act_comm'+''+$parent.$index+''+$parent.$parent.$index] + item.net_act_comm" style="text-align: right;">${{item.net_act_comm | number:2}}</td>
							<td md-cell class="text-center" ng-init="data.parentnet_act_comm = data.parentnet_act_comm + item.net_act_comm">{{item.status}}</td>
							<td md-cell class="text-center">{{item.last_name}}</td>
							<td md-cell class="text-center">{{item.first_name}}</td>
							<td md-cell class="text-center">{{item.in_date | date: 'MM/dd/yyyy'}}</td>
							<td md-cell class="text-center">{{item.confirmation}}</td>
							<td md-cell class="text-center">{{item.account}}</td>
							<td md-cell class="text-center" ng-init="data1.finalDataLen[$parent.$index+''+$parent.$parent.$index] = (data.tlist | filter:{deposit_date: data1.deposit_date}:true).length">{{item.check_num}}</td>
						</tr>
						<tr ng-repeat-end>
							<td class="md-cell" ng-show="selectRow1[$index] && selectRow[$parent.$index] && ((item.limitTo) ? item.limitTo < data1.finalDataLen[$index+''+$parent.$index] : data1.finalDataLen[$index+''+$parent.$index] > 10)" colspan="16">
								<md-button ng-click="item.limitTo = item.limitTo + 50" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Load More</md-button>
							</td>
						</tr>
						<tr ng-repeat-end ng-show="false"></tr>
						<tr class="md-row" ng-if="!unmatchedPayment.length && !unmatchedPaymentLoading">
							<td class="text-center" style="padding: 10px" colspan="16">{{noData}}</td>
						</tr>
						<tr class="md-row" ng-if="unmatchedPaymentLoading">
							<td class="text-center" style="padding: 10px" colspan="16">Loading....</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-pagination md-label="{rowsPerPage: 'Business Units Per Page:'}" ng-if="unmatchedPayment.length" md-limit="query.limit" md-page="query.page" md-total="{{unmatchedPaymentTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
			<!-- md-limit-options="limitOptions" -->
		</md-card>
	</article>
</section>

<!-- Date To Release Popup -->
<div style="visibility: hidden">
	<div class="md-dialog-container" id="releaseDatePopup">
		<md-dialog aria-label="Mango (Fruit)" style="width: 25%">
			<form ng-cloak>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2></h2>
						<span flex></span>
						<md-button class="md-icon-button" style="font-size: 18px;" ng-click="callBackDialog('cancel')">
							<i class="fa fa-times"></i>
						</md-button>
					</div>
				</md-toolbar>
				<div class="md-dialog-content">
					<md-dialog-content>
						<div style="text-align: center;">
							<p><b>{{releaseDateTxt}}</b></p>
							<p><b>{{releaseDate | date : 'MM/dd/yyyy'}}</b></p>
						</div>	
						<div style="text-align: center;">
							<button class="md-raised btn-w-md md-primary md-button md-ink-ripple md-button" ng-click="updateBatchStatus()">Ok</button>
							<button class="md-raised btn-w-md md-default md-button md-ink-ripple md-button" ng-click="callBackDialog('cancel')">Cancel</button>
						</div>
					</md-dialog>
				</div>
			</div>