<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Report: Commission By Account</h2>
		<span class="pull-right" style="color: red">* Required </span><br>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<form style="width: 100%;" name="commisAcc" novalidate="" ng-submit="callFiterData(true)">
					<div class="row custom-row">
						<div class="col-md-6 col-sm-6">
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<md-datepicker class="start-calender" required ng-change="checkValidDate(commissionByAcountObj.fromDate,commissionByAcountObj.toDate)" ng-model="commissionByAcountObj.fromDate" md-placeholder="From*"></md-datepicker>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<md-datepicker class="start-calender" required md-min-date="commissionByAcountObj.fromDate" ng-model="commissionByAcountObj.toDate" md-placeholder="To*"></md-datepicker>
								</div>
							</div>
						</div>			
						<div class="col-md-4 col-sm-4 column-btn-go">
							<div layout-gt-sm="row" class="layout-gt-sm-row">
								<md-input-container class="md-block flex-gt-sm custom-display" style="margin:5px 0;">
									<md-button type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>
								</md-input-container>
								<md-input-container class="md-block flex-gt-sm custom-display">
									<md-radio-group ng-model="commissionByAcountObj.selectedDate">
										<md-radio-button value="0" class="md-primary">Arrival Date</md-radio-button>
									</md-radio-group>
									<md-radio-group ng-model="commissionByAcountObj.selectedDate">
										<md-radio-button value="1" class="md-primary">Deposit Date</md-radio-button>
									</md-radio-group>
									<md-radio-group ng-model="commissionByAcountObj.selectedDate">
										<md-radio-button value="2" class="md-primary">Transaction Date</md-radio-button>
									</md-radio-group>
								</md-input-container>
							</div>
						</div>
						<div class="col-md-2">						
							<a class="excel-custom" ng-click="getPDFLink(2)" href="javascript:void(0)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
							<a class="pdf-custom" ng-click="getPDFLink(1)" href="javascript:void(0)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
						</div>
					</div>
				</form>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th class="md-column text-center custom-pending"><span>Account</span></th> 
				<th class="md-column text-center"> <span>Type</span></th>
				<th md-column class="text-center" md-order-by="id"><span>ID</span></th>
				<th md-column class="text-center" md-order-by="guestName"> <span>Guest Name</span></th>
				<th md-column class="text-center" md-order-by="date"><span>{{(setselectedDate == 0) ? 'Arrival Date' : (setselectedDate == 1) ? 'Deposit Date' : 'Transaction Date' }}</span></th>
				<th md-column class="text-center" md-order-by="propertyName"> <span>Property Name</span></th>
				<th md-column class="text-center" md-order-by="propertyCity"><span>Property City</span></th>
				<th md-column class="text-center" md-order-by="confirmation"><span>Confirmation</span></th>
				<th class="md-column text-center"><span>Sales</span></th>
				<th class="md-column text-center"><span>Comm</span></th>
				<th class="md-column text-center"><span>Comm %</span></th>
				<th md-column class="text-center" md-order-by="status"><span>Status</span></th>
				<th md-column class="text-center" md-order-by="branch"><span>Branch</span></th>
				<th md-column class="text-center" md-order-by="agent"><span>Agent</span></th>
				<th md-column class="text-center" md-order-by="iata"><span>IATA</span></th>
				<th md-column class="text-center" md-order-by="pnr"><span>PNR</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row customBGColor" ng-repeat-start="data in  parentResults">
				<td class="md-cell" colspan="8" ><i ng-click="selectRow[$index] = !selectRow[$index]" ng-class="(!selectRow[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{data.account}} {{(data.description) ? ' - ' + data.description :''}}</td>
				<td class="md-cell" style="text-align: right;" ng-init="totalAV = totalAvailableCommsion(bookingList | filter:{account: data.account}:true)">{{totalAV.netRevenue | number:2}}</td>
				<td class="md-cell" style="text-align: right;">{{totalAV.netCommission | number:2}}</td>
				<td class="md-cell" style="text-align: right;">{{(totalAV.commissionPct / totalPageRecords) | number:2}}%</td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
			</tr>
			<tr ng-repeat-start="data1 in  subChildResults" ng-if="(bookingList | filter:{cts_type: data1.cts_type,account: data.account}:true).length" class="md-row customBGColor1" ng-show="!selectRow[$parent.$parent.$index]">
				<td class="md-cell"></td>
				<td class="md-cell">{{data1.cts_type}}</td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell" ng-init="totalAV1 = totalAvailableCommsion(bookingList | filter:{cts_type: data1.cts_type, account: data.account}:true)"></td>
				<td class="md-cell" style="text-align: right;">{{totalAV1.netRevenue | number:2}}</td>
				<td class="md-cell" style="text-align: right;">{{totalAV1.netCommission | number:2}}</td>
				<td class="md-cell" style="text-align: right;">{{(totalAV1.commissionPct / totalPageRecords) | number:2}}%</td>
				<td class="md-cell" ng-init="data.commissionPctSumPLen = data.commissionPctSumPLen + (bookingList | filter:{cts_type: data1.cts_type,account: data.account}:true).length"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
			</tr>
			<tr ng-repeat-end ng-show="!selectRow[$parent.$parent.$index]" class="md-row" ng-repeat="item in bookingList | filter:{cts_type: data1.cts_type,account: data.account}:true"><!-- | orderBy: query.order -->
				<td class="md-cell">{{item.account}} {{(item.description) ? ' - ' + item.description :''}}</td>
				<td class="md-cell">{{item.cts_type}}</td>
				<td class="md-cell"><a href="#" title="{{item.id}}" ng-click="showConfirmPopup($event,item,'Report: Commission By Account')">{{item.id}}</a></td>
				<td class="md-cell">{{item.guestName}}</td>
				<td class="md-cell">{{item.date | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.propertyName}}</td>
				<td class="md-cell">{{item.propertyCity}}</td>
				<td class="md-cell">{{item.confirmation}}</td>
				<td class="md-cell" style="text-align: right;">{{item.netRevenue | number:2}}</td>
				<td class="md-cell" style="text-align: right;">{{item.netCommission | number:2}}</td>
				<td class="md-cell" style="text-align: right;">{{(item.commissionPct) ? (item.commissionPct | number : 2)+'%' : ''}}</td>
				<td class="md-cell">{{item.status}}</td>
				<td class="md-cell">{{item.branch}}</td>
				<td class="md-cell">{{item.agent}}</td>
				<td class="md-cell">{{item.iata}}</td>
				<td class="md-cell">{{item.pnr}}</td>
			</tr>
			<tr ng-repeat-end ng-show="false"></tr>
			<tr class="md-row" ng-if="!bookingList.length && !accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="16">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="16">Loading....</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination ng-if="bookingList.length && !accountListLoading" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>