<toaster-container toaster-options="tosterOption"></toaster-container>
<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Resolved Bookings Matrix</h2>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<form name="resolvedbookings" ng-submit="callFiterData(true)" style="width: 100%;">
					<div class="row custom-row">
						<div class="col-md-12">
							<!-- <a class="excel-custom" ng-click="getPDFLink(2)" href="javascript:void(0)" title="Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
							<a class="pdf-custom" ng-click="getPDFLink(1)" href="javascript:void(0)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a> -->
							<a class="excel-custom" ng-click="getPDFLinkData(2)" href="javascript:void(0)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
							<a class="pdf-custom" ng-click="getPDFLinkData(1)" href="javascript:void(0)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
						</div>
					</div>
				</form>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" ng-if="bookingList.length && !accountListLoading" md-table cellspacing="10" cellpadding="10" id="reslovedBookingTable">
					<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder"
					>
					<tr class="md-row">
						<th class="md-column text-center" colspan="4" rowspan="2"></th>
						<th class="md-column text-center" colspan="{{getData.recordsTotalViewTop}}"><span>Deposit Date</span></th>
						<th class="md-column text-center" rowspan="3"><span>Total</span></th>
					</tr>
					<tr class="md-row">
						<th class="md-column text-center" ng-init="getData.recordsTotalViewTop = getData.recordsTotalViewTop + (getMonthNameDataTop(item)).length;" colspan="{{(getMonthNameDataTop(item)).length}}" ng-repeat="item in getFullYearArrTop"><span>{{item.wk_resolvedYear}}</span></th>
					</tr>
					<tr class="md-row">
						<th class="md-column text-center custom-pending" colspan="3"></th>
						<th class="md-column text-center"><span>Bkg. Count</span></th>
						<th ng-show="false" class="md-column text-center dataclasstemp" ng-repeat-start="item in getFullYearArrTop">Data</th>
						<th ng-repeat-end class="md-column text-center" ng-init="verticalData.push({'year':item.wk_resolvedYear,'month':data.wk_resolvedMonth,'wk2_bookingCount':item.wk2_bookingCount})" ng-repeat="data in getMonthNameDataTop(item) | orderBy:'wk_resolvedMonth'"><span>{{getMonthName[data.wk_resolvedMonth - 1]}}</span></th>
						<!-- <th></th> -->
					</tr>
				</thead>
				<tbody class="md-body">
					<tr>
						<th class="md-cell md-column text-center" rowspan="{{getData.recordsTotalView + getFullYearArr.length + 1}}" style="text-align: center; width: 80px"><span class="custom-rotate">Arrival Date</span></th>
					</tr>
					<tr ng-repeat-start="item in getFullYearArr">
						<th ng-init="getData.recordsTotalView = getData.recordsTotalView + (getMonthNameData(item)).length;" class="md-cell md-column text-center" rowspan="{{(getMonthNameData(item)).length +1}}" style="text-align: center;vertical-align: top;">{{item.wk_arrivalYear}}</th>
					</tr>
					<tr ng-repeat-end ng-init="siview = callBackCounter($index)" ng-repeat="data in getMonthNameData(item) | orderBy:'wk_arrivalMonth'" id="getSetYearMonth{{siview}}">
						<th class="md-cell md-column text-center custom-padding-set" ng-init="currData={'year':item.wk_arrivalYear,'month':data.wk_arrivalMonth};callBackBindYearMonthView('bindMonthView',currData,siview)" style="text-align: center;">{{getMonthName[data.wk_arrivalMonth - 1]}}</th>
					</tr>
				</tbody>
			</table>
		</md-table-container>
<!-- 
<md-table-pagination ng-if="bookingList.length" md-limit-options="limitOptions" md-limit="query.limit" md-page="query
.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination> -->
<div class="md-row" ng-if="!bookingList.length && !accountListLoading">
	<div class="text-center" style="padding: 30px">{{noData}}</div>
</div>
<div class="md-row" ng-if="accountListLoading">
	<div class="text-center" style="padding: 30px">Loading....</div>
</div>

</md-card>
</article>
</section>