<section class="container-fluid chapter" ng-if="showPage">
	<article class="article" ng-if="!allowShowCTSNumber && trafficCop.pending.all == 0">
		<h2 class="article-title">Quick Find</h2>

		<md-card style="padding-top: 25px;">
			<div class="row custom-row">
				<div class="col-md-3">
				</div>

				<div class="col-md-2 col-sm-2 pull-right">						
					<a class="excel-custom" href="javascript:void(0)" ng-click="getPDFLink(2)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
					<a class="pdf-custom" href="javascript:void(0)" ng-click="getPDFLink(1)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
				</div>
			</div>
		</md-card>


		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table cellspacing="10" cellpadding="10">
					<thead md-head md-order="query.order" md-on-reorder="logOrder">
						<tr class="md-row">
							<th md-column class="md-column text-center custom-pending" md-order-by="id"><span>ID</span></th>
							<th md-column class="text-center" md-order-by="cts_type"><span>Type</span></th> 
							<th md-column class="text-center" md-order-by="prop_name"> <span>Property</span></th>
							<th md-column class="text-center" md-order-by="prop_city"><span>City</span></th>
							<th md-column class="text-center" md-order-by="last_name"> <span>Last Name</span></th>
							<th md-column class="text-center" md-order-by="first_name"><span>First Name</span></th>
							<th md-column class="text-center" md-order-by="in_date"> <span>Arrival Date</span></th>
							<th md-column class="text-center" md-order-by="confirmation"><span>Confirmation</span></th>
							<th md-column class="text-center" md-order-by="net_act_comm"><span>Commission</span></th>
							<th md-column class="text-center" md-order-by="deposit_date"><span>Deposit Date</span></th>
							<th md-column class="text-center" md-order-by="pay_source"><span>Source</span></th>
							<th md-column class="text-center" md-order-by="check_num"><span>Check #	</span></th>
						</tr>
					</thead>
					<tbody class="md-body">
						<tr class="md-row" ng-repeat="item in bookingList | orderBy: query.order">
							<td class="md-cell"><a href="#" title="{{item.id}}" ng-click="showConfirmPopup($event,item,'Quick Report')">{{item.id}}</a></td>
							<!-- (item.payment_id != 0)?item.payment_id:item.booking_id -->
							<td class="md-cell">{{item.cts_type}}</td>
							<td class="md-cell">{{item.prop_name}}</td>
							<td class="md-cell">{{item.prop_city}}</td>
							<td class="md-cell">{{item.last_name}}</td>
							<td class="md-cell">{{item.first_name}}</td>
							<td class="md-cell">{{item.in_date | date:'MM/dd/yyyy'}}</td>
							<td class="md-cell">{{item.confirmation}}</td>
							<td class="md-cell" style="text-align: right;">{{item.net_act_comm | number : 2}}</td>
							<td class="md-cell">{{(item.deposit_date == '0001-01-01T00:00:00')?"" : item.deposit_date| date:'MM/dd/yyyy'}}</td>
							<td class="md-cell">{{item.pay_source}}</td>
							<td class="md-cell">{{item.check_num}}</td>
						</tr>
						<tr class="md-row" ng-if="!bookingList.length && !accountListLoading">
							<td class="text-center" style="padding: 10px" colspan="12">{{noData}}</td>
						</tr>
						<tr class="md-row" ng-if="accountListLoading">
							<td class="text-center" style="padding: 10px" colspan="12">Loading....</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-pagination ng-if="bookingList.length" md-limit="query.limit" md-limit-options="limitOptions" md-page="query
			.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
		</md-card>
	</article>
	<article class="article" ng-if="allowShowCTSNumber && trafficCop.pending.all == 0">
		<!-- <h2 class="article-title">Quick Find</h2> -->
		<div class="divider divider-md"></div>
		<div ng-if="!getInvoiceDataList.length" style="font-size: 20px; text-align: center; padding-top: 50px;">No data available for selected criteria.</div>
		<md-card class="no-margin-h" ng-if="getInvoiceDataList.length">
			<md-table-container>
				<table class="md-table" md-table cellspacing="10" cellpadding="10">
					<thead md-head >
						<tr class="md-row">
							<th class="md-column bg-color text-center custom-pending" style="background: #6898b2;" colspan="4"><span style="font-size: 18px;">CTS Commission Inquiry Invoice</span></th>
						</tr>
						<tr class="md-row">
							<td colspan="2" class="md-column text-center custom-pending">
								<div>Invoice Number: {{getInvoiceDataList[0].cih_inv_nbr}}</div>
							</td>
							<td colspan="2" class="md-column text-center">
								<div>Invoice Date: {{getInvoiceDataList[0].inv_date | date:'MM/dd/yyyy'}}</div>
							</td>
						</tr>
					</thead>
					<tbody class="md-body">
						<tr class="md-row">
							<td class="md-cell" style="text-align: right; border:0px solid #000;">Property</td>
							<td class="md-cell" style="text-align: left; border:0px solid #000;">Name : {{getInvoiceDataList[0].prop_name}}</td>
							<td class="md-cell" style="text-align: left; border:0px solid #000;">Chain : {{getInvoiceDataList[0].prop_chain}}</td>
							<td class="md-cell" style="text-align: left; border:0px solid #000;">Phone : {{getInvoiceDataList[0].prop_phone}}</td>						
						</tr>
						<tr class="md-row">
							<td class="md-cell" style=" border:0px solid #000;"></td>
							<td class="md-cell" style="text-align: left; border:0px solid #000;">Address : {{getInvoiceDataList[0].prop_address1}}<br>{{getInvoiceDataList[0].prop_address2}} <br> {{getInvoiceDataList[0].prop_address3}}</td>
							<td class="md-cell" style=" border:0px solid #000;"></td>
							<td class="md-cell" style="text-align: left; border:0px solid #000;">Fax : {{getInvoiceDataList[0].prop_fax}}</td>
						</tr>
						<tr class="md-row">
							<td class="md-cell" style=" border:0px solid #000;"></td>
							<td class="md-cell" style="text-align: left; border:0px solid #000;">City,State Zip : {{getInvoiceDataList[0].prop_city}},{{getInvoiceDataList[0].prop_country}} {{getInvoiceDataList[0].prop_zip}}</td>
							<td class="md-cell" style=" border:0px solid #000;"></td>
							<td class="md-cell" style=" border:0px solid #000;"></td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-container>
				<table class="md-table" md-table cellspacing="10" cellpadding="10">
					<thead md-head >
						<tr class="md-row">
							<th class="md-column text-center custom-pending" colspan="6"></th>
							<th class="md-column text-center" colspan="4"><span>Commission</span></th> 
							<th class="md-column text-center" colspan="3"></th>							
						</tr>
						<tr class="md-row">
							<th class="md-column text-center custom-pending"><span>Line</span></th>
							<th class="md-column text-center"><span>Guest Name</span></th> 
							<th class="md-column text-center"> <span>Arrival Date</span></th>
							<th class="md-column text-center"><span>Confirmation</span></th>
							<th class="md-column text-center"><span>Nights</span></th>
							<th class="md-column text-center"><span>Rate</span></th>
							<th class="md-column text-center"><span>Expected</span></th>
							<th class="md-column text-center"><span></span></th>
							<th class="md-column text-center"><span>Actual</span></th>
							<th class="md-column text-center"><span></span></th>
							<th class="md-column text-center"><span>IATA</span></th>
							<th class="md-column text-center"><span>Status</span></th>
							<th class="md-column text-center"><span>ID</span></th>
						</tr>
					</thead>
					<tbody class="md-body">
						<tr class="md-row" ng-repeat="item in getInvoiceDataList">
							<td class="md-cell" style="text-align: center;">{{item.cii_line_nbr}}</td>
							<td class="md-cell" style="text-align: center;">{{item.guest_name}}</td>
							<td class="md-cell" style="text-align: center;">{{item.arrival_date | date:'MM/dd/yyyy'}}</td>
							<td class="md-cell" style="text-align: center;">{{item.confirmation_nbr}}</td>
							<td class="md-cell" style="text-align: center;">{{item.nights}}</td>
							<td class="md-cell" style="text-align: center;">{{item.rate | number : 2}}</td>
							<td class="md-cell" style="text-align: center;">{{item.commission | number : 2}}</td>
							<td class="md-cell" style="text-align: center;">{{item.currency_code}}</td>
							<td class="md-cell" style="text-align: center;">{{item.net_commission | number : 2}}</td>
							<td class="md-cell" style="text-align: center;">{{item.local_currency}}</td>
							<td class="md-cell" style="text-align: center;">{{item.iata}}</td>
							<td class="md-cell" style="text-align: center;">{{item.status}}</td>
							<td class="md-cell" style="text-align: center;"><a title="{{item.id}}" href="#" ng-click="showConfirmPopup($event,item,'CTS Commission Inquiry Invoice')">{{item.id}}</a></td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
		</md-card>
	</article>
</section>