<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Report: Commission By Agent</h2>
		<span class="pull-right" style="color: red">* Required </span><br>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<form style="width: 100%;" name="commisAgt" novalidate="" ng-submit="callFiterData(true)">
					<div class="row custom-row">
						<div class="col-md-6 col-sm-6">
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<md-datepicker class="start-calender" required ng-change="checkValidDate(commissionByAcountObj.fromDate,commissionByAcountObj.toDate)" ng-model="commissionByAcountObj.fromDate" md-placeholder="From*"></md-datepicker>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<md-datepicker class="start-calender" required md-min-date="commissionByAcountObj.fromDate" ng-model="commissionByAcountObj.toDate" md-placeholder="To*"></md-datepicker>
								</div>
							</div>
						</div>			
						<div class="col-md-4 col-sm-4 column-btn-go">
							<div layout-gt-sm="row" class="layout-gt-sm-row">
								<md-input-container class="md-block flex-gt-sm custom-display" style="margin:5px 0;">
									<md-button type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>
								</md-input-container>
								<md-input-container class="md-block flex-gt-sm custom-display">
									<md-radio-group ng-model="commissionByAcountObj.selectedDate">
										<md-radio-button value="0" class="md-primary">Arrival Date</md-radio-button>
									</md-radio-group>
									<md-radio-group ng-model="commissionByAcountObj.selectedDate">
										<md-radio-button value="1" class="md-primary">Deposit Date</md-radio-button>
									</md-radio-group>
									<md-radio-group ng-model="commissionByAcountObj.selectedDate">
										<md-radio-button value="2" class="md-primary">Transaction Date</md-radio-button>
									</md-radio-group>
								</md-input-container>
							</div>
						</div>
						<div class="col-md-2">						
							<a class="excel-custom" ng-click="getPDFLink(2)" href="javascript:void(0)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
							<a class="pdf-custom" ng-click="getPDFLink(1)" href="javascript:void(0)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
						</div>
					</div>
				</form>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th class="md-column text-center custom-pending"><span>Agent</span></th> 
				<th class="md-column text-center"> <span>Type</span></th>
				<th md-column class="text-center" md-order-by="id"><span>ID</span></th>
				<th md-column class="text-center" md-order-by="guestName"> <span>Guest Name</span></th>
				<th md-column class="text-center" md-order-by="date"><span>{{(setselectedDate == 0) ? 'Arrival Date' : (setselectedDate == 1) ? 'Deposit Date' : 'Transaction Date' }}</span></th>
				<th md-column class="text-center" md-order-by="propertyName"> <span>Property Name</span></th>
				<th md-column class="text-center" md-order-by="propertyCity"><span>Property City</span></th>
				<th md-column class="text-center" md-order-by="confirmation"><span>Confirmation</span></th>
				<th class="md-column text-center"><span>Sales</span></th>
				<th class="md-column text-center"><span>Comm</span></th>
				<th class="md-column text-center"><span>Comm %</span></th>
				<th md-column class="text-center" md-order-by="status"><span>Status</span></th>
				<th md-column class="text-center" md-order-by="branch"><span>Branch</span></th>
				<th md-column class="text-center" md-order-by="account"><span>Account</span></th>
				<th md-column class="text-center" md-order-by="iata"><span>IATA</span></th>
				<th md-column class="text-center" md-order-by="pnr"><span>PNR</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row customBGColor" ng-repeat-start="data in  parentResults">
				<td class="md-cell" colspan="8"><i ng-click="selectRow[$index] = !selectRow[$index]" ng-class="(!selectRow[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{data.agent}} {{(data.agentName) ? ' - ' + data.agentName :''}}</td>
				<td class="md-cell" style="text-align: right;" ng-init="totalAV = totalAvailableCommsion(bookingList | filter:{agent: data.agent}:true)">{{totalAV.netRevenue | number:2}}</td>
				<td class="md-cell" style="text-align: right;">{{totalAV.netCommission | number:2}}</td>
				<td class="md-cell" style="text-align: right;">{{(totalAV.commissionPct / totalPageRecords) | number:2}}%</td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
			</tr>
			<tr ng-repeat-start="data1 in subChildResults" ng-if="(bookingList | filter:{cts_type: data1.cts_type,agent: data.agent}:true).length" class="md-row customBGColor1" ng-show="!selectRow[$parent.$parent.$index]">
				<td class="md-cell"></td>
				<td class="md-cell">{{data1.cts_type}}</td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell" ng-init="totalAV1 = totalAvailableCommsion(bookingList | filter:{cts_type: data1.cts_type, agent: data1.agent}:true)"></td>
				<td class="md-cell" style="text-align: right;">{{totalAV1.netRevenue | number:2}}</td>
				<td class="md-cell" style="text-align: right;">{{totalAV1.netCommission | number:2}}</td>
				<td class="md-cell" style="text-align: right;">{{(totalAV1.commissionPct / totalPageRecords) | number:2}}%</td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
			</tr>
			<tr ng-repeat-end ng-show="!selectRow[$parent.$parent.$index]" class="md-row" ng-repeat="item in bookingList | filter:{cts_type: data1.cts_type,agent: data.agent}:true"><!-- | orderBy: query.order -->
				<td class="md-cell">{{item.agent}} {{(item.agentName) ? ' - ' + item.agentName :''}}</td>
				<td class="md-cell">{{item.cts_type}}</td>
				<td class="md-cell"><a href="#" title="{{item.id}}" ng-click="showConfirmPopup($event,item,'Report: Commission By Agent')">{{item.id}}</a></td>
				<td class="md-cell">{{item.guestName}}</td>
				<td class="md-cell">{{item.date | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.propertyName}}</td>
				<td class="md-cell" >{{item.propertyCity}}</td>
				<td class="md-cell">{{item.confirmation}}</td>
				<td class="md-cell" style="text-align: right;">{{item.netRevenue | number:2}}</td>
				<td class="md-cell" style="text-align: right;">{{item.netCommission | number:2}}</td>
				<td class="md-cell" style="text-align: right;">{{(item.commissionPct) ? (item.commissionPct | number : 2)+'%' : ''}}</td>
				<td class="md-cell">{{item.status}}</td>
				<td class="md-cell">{{item.branch}}</td>
				<td class="md-cell">{{item.account}}</td>
				<td class="md-cell">{{item.iata}}</td>
				<td class="md-cell">{{item.pnr}}</td>
			</tr>
			<tr ng-repeat-end ng-show="false"></tr>
			<tr class="md-row" ng-if="!bookingList.length && !accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="16">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="16">Loading....</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination ng-if="bookingList.length && !accountListLoading" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>


<div style="visibility: hidden">
	<div class="md-dialog-container" id="reportFilterPopupBkp">
		<md-dialog aria-label="Mango (Fruit)">
			<form ng-cloak>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>Filters</h2>
						<span flex></span>
						<md-button class="md-icon-button" style="font-size: 18px;" ng-click="callBackDialog('cancel')">
							<i class="fa fa-times"></i>
						</md-button>
					</div>
				</md-toolbar>

				<div class="md-dialog-content">

					<md-dialog-content>

						<div class="col-md-12 col-sm-12">
							<div class="col-md-4 col-sm-4">
								<label>Travel</label>

								<md-input-container class="md-block flex-gt-sm">
									<label>Type</label>
									<md-select name="unit" ng-model="reportFilter.unit" placeholder="Unit" class="md-no-underline" style="width: 300px">
										<md-option value="Car">Car</md-option>
										<md-option value="Hotel">Hotel</md-option>
										<md-option value="Air">Air</md-option>
									</md-select>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Last Name: </label>
									<input type="text" name="branch" ng-model="reportFilter.lastName" limit-to="500"/>
								</md-input-container>

								<md-input-container class="md-block">
									<label>First Name: </label>
									<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
									<input type="text" name="account" ng-model="reportFilter.firstName" limit-to="500"/>
								</md-input-container>

								<span>In Date: </span>
								<md-input-container class="md-block">
									<md-datepicker class="start-calender" ng-change="checkValidDate(fromDate,toDate)" ng-model="reportFilter.inDate" md-placeholder="In Date"></md-datepicker>
								</md-input-container>

								<span>Out Date: </span>
								<md-input-container class="md-block">
									<md-datepicker class="start-calender" ng-change="checkValidDate(fromDate,toDate)" ng-model="reportFilter.outDate" md-placeholder="Out Date"></md-datepicker>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Nights: </label>
									<input type="text" name="account" ng-model="reportFilter.nights" limit-to="500"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Rooms: </label>
									<input type="text" name="account" ng-model="reportFilter.rooms" limit-to="500"/>
								</md-input-container>
								<div layout-gt-sm="row" class="layout-gt-sm-row">
									<md-input-container class="md-block">
										<label>Rate / Currency: </label>
										<input type="text" name="account" ng-model="reportFilter.rate" limit-to="500"/>
									</md-input-container>
									<md-input-container class="md-block">
										<input type="text" name="account" ng-model="reportFilter.currency" limit-to="500"/>
									</md-input-container>
								</div>
								<md-input-container class="md-block">
									<label>Rate Code: </label>
									<input type="text" name="account" ng-model="reportFilter.rateCode" limit-to="500"/>
								</md-input-container>	
								<md-input-container class="md-block">
									<label>Corp. Discount:	 </label>
									<input type="text" name="account" ng-model="reportFilter.corpDiscount" limit-to="500"/>
								</md-input-container>

								<label>Booking</label>
								<md-input-container class="md-block">
									<label>Confirmation: </label>
									<input type="text" name="confirmation" ng-model="reportFilter.confirmation" limit-to="500"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>IATA:</label>
									<input type="text" name="iata" ng-model="reportFilter.iata" limit-to="500"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Branch</label>
									<input type="text" name="branch" ng-model="reportFilter.branch" limit-to="500"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Agent</label>
									<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
									<input type="text" name="agent" ng-model="reportFilter.agent" limit-to="500"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Account:</label>
									<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
									<input type="text" name="account" ng-model="reportFilter.account" limit-to="500"/>
								</md-input-container>
								<label>History</label>		
								<button type="button" class="md-raised btn-w-md md-primary md-button md-ink-ripple md-button">Show History</button>
							</div>
							<div class="col-md-4 col-sm-4">
								<label>Property</label>
								<md-input-container class="md-block">
									<label>Chain: </label>
									<input type="text" name="account" ng-model="reportFilter.chain"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Name: </label>
									<input type="text" name="account" ng-model="reportFilter.name"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Address: </label>
									<input type="text" name="account" ng-model="reportFilter.address"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>City: </label>
									<input type="text" name="account" ng-model="reportFilter.city"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>State: </label>
									<input type="text" name="account" ng-model="reportFilter.state"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Zip: </label>
									<input type="text" name="account" ng-model="reportFilter.zip"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Country: </label>
									<input type="text" name="account" ng-model="reportFilter.country"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Phone: </label>
									<input type="text" name="account" ng-model="reportFilter.phone"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Fax: </label>
									<input type="text" name="account" ng-model="reportFilter.fax"/>
								</md-input-container><br>	

								<md-input-container class="md-block">
									<label>Hotel ID: </label>
									<input type="text" name="account" ng-model="reportFilter.hotelID"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>City Code: </label>
									<input type="text" name="account" ng-model="reportFilter.cityCode"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Booking PCC: </label>
									<input type="text" name="account" ng-model="reportFilter.bookingPCC"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Agent PCC: </label>
									<input type="text" name="account" ng-model="reportFilter.agentPCC"/>
								</md-input-container>
								<div class="pull-right">
									<button type="button" class="md-raised btn-w-md md-primary md-button md-ink-ripple md-button">Save</button>
									<button type="button" class="md-raised btn-w-md md-default md-button md-ink-ripple md-button">Cancel</button>
								</div>

							</div>

							<div class="col-md-4 col-sm-4">
								<label>Commissions</label>

								<div>
									<button type="button" class="md-raised btn-w-md md-primary md-button md-ink-ripple md-button">Claims</button>
									<button type="button" class="md-raised btn-w-md md-default md-button md-ink-ripple md-button">Transfer</button>
								</div>
								<md-input-container class="md-block">
									<label>Deposit Date: </label>
									<input type="text" name="batchNo" ng-model="reportFilter.depositeDate"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Check No: </label>
									<input type="text" name="batchNo" ng-model="reportFilter.checkNo"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Check Date: </label>
									<input type="text" name="batchNo" ng-model="reportFilter.checkDate"/>
								</md-input-container>
								<div layout-gt-sm="row" class="layout-gt-sm-row">
									<md-input-container class="md-block">
										<label>Gross / Currency: </label>
										<input type="text" name="account" ng-model="reportFilter.gorss" limit-to="500"/>
									</md-input-container>
									<md-input-container class="md-block">
										<input type="text" name="account" ng-model="reportFilter.grossCurrency" limit-to="500"/>
									</md-input-container>
								</div>
								<md-input-container class="md-block">
									<label>VAT: </label>
									<input type="text" name="batchNo" ng-model="reportFilter.vat"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Available: </label>
									<input type="text" name="batchNo" style="color: red" ng-model="reportFilter.available"/>
								</md-input-container>

								<label>System</label>

								<md-input-container class="md-block">
									<label>Agency: </label>
									<input type="text" name="batchNo" ng-model="reportFilter.agency"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>TA Sys ID: </label>
									<input type="text" name="batchNo" ng-model="reportFilter.taSysID"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Booking Source: </label>
									<input type="text" name="batchNo" ng-model="reportFilter.bookingSource"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>GDS Status: </label>
									<input type="text" name="batchNo" ng-model="reportFilter.gdsStatus"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Payment Source: </label>
									<input type="text" name="batchNo" ng-model="reportFilter.paymentSource"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Invoice No: </label>
									<input type="text" name="batchNo" ng-model="reportFilter.invoiceNo"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>PNR ID: </label>
									<input type="text" name="batchNo" ng-model="reportFilter.pnrID"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>CTS Payment ID:	</label>
									<input type="text" name="batchNo" ng-model="reportFilter.ctsPaymentID"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>CTS Booking ID:	</label>
									<input type="text" name="batchNo" ng-model="reportFilter.ctsBookingID"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Web ID: </label>
									<input type="text" name="batchNo" ng-model="reportFilter.webID"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Batch ID: </label>
									<input type="text" name="batchNo" ng-model="reportFilter.batchID"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Doc ID: </label>
									<input type="text" name="batchNo" ng-model="reportFilter.docID"/>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Remarks:	</label>
									<input type="text" name="batchNo" ng-model="reportFilter.remarks"/>
								</md-input-container>

							</div>
						</div>

					</md-dialog-content>

					<md-dialog-actions layout="row">
						<!-- <md-button ng-click="callBackDialog('cancel')">cancel</md-button> -->
						<span flex></span>
						<!-- <md-button ng-click="callBackDialog('ok')">ok</md-button> -->
					</md-dialog-actions>
				</form>
			</md-dialog>
		</div>
	</div>