<!-- <toaster-container toaster-options="tosterOption"></toaster-container> -->
<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Agent Maintenance</h2>
		<md-card class="no-margin-h" ng-if="stateName != 'add'">
			<md-card-title style="padding-top: 25px;">
				<div class="col-md-4" ng-if="stateName=='list'">
					<md-input-container class="md-block flex-gt-sm custom-display">
						<md-button type="button" style="padding:0 12px;" ng-click="callAddAgent()" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Add New Agent</md-button>
					</md-input-container>
				</div>
				<div class="col-md-6" ng-if="stateName=='list'" style="padding-top: 20px;">
					<form ng-submit="searchData(searchText)">
						<input type="text" name="user_id" ng-model="searchText" ng-trim="false" style="width: 50%; padding: 5px"/>
						<md-button class="md-fab md-mini md-primary" type="submit">
							<md-icon style="margin-bottom: 9px;margin-left: 2px;}"> <i class="fa fa-search" aria-hidden="true"></i> </md-icon>
						</md-button>
					</form>	
				</div>
				<div class="col-md-12" ng-if="stateName=='update'">
					<md-input-container class="md-block flex-gt-sm custom-display pull-right">
						<md-button type="button" ng-if="deleteAgentFlag" ng-click="showConfirmPopup($event,commentID)" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Delete Agent</md-button>
					</md-input-container>
				</div>

				<div class="col-md-2" ng-if="stateName=='list'">
					<a class="excel-custom" href="javascript:void(0)" ng-click="getPDFLink(2)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
					<a class="pdf-custom" href="javascript:void(0)" ng-click="getPDFLink(1)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
				</div>
			</md-card-title>
		</md-card>
		<md-card class="no-margin-h" ng-if="stateName=='list'">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th md-column class="text-center" md-order-by="agentCode"><span>Agent</span></th> 
				<th md-column class="text-center" md-order-by="lastName"><span>Name</span></th>
				<th md-column class="text-center" md-order-by="email"><span>Email</span></th>
				<th md-column class="text-center custom-pending" md-order-by="active"><span>Active</span></th>
				<th md-column class="text-center"><span></span></th>
			</thead>
			<tbody class="md-body">
				<!-- | orderBy: 'agentCode' -->
				<tr class="md-row" md-select="agentList" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="data in agentList" ng-if="!agentListLoading"><!-- | orderBy: query.order : true -->
					<td md-cell class="text-center" style="text-align: center;">{{data.agentCode}}</td>
					<td md-cell>{{data.lastName}} {{data.firstName}}</td>
					<td md-cell class="text-center" style="text-align: left;">{{data.email}}</td>
					<td md-cell class="text-center custom-icons-color" style="text-align: center;"><i class="fa" ng-class="(data.active)? 'fa-check' : 'fa-times'" aria-hidden="true"></i></td>
					<td md-cell class="text-center" style="text-align: center;"><a style="font-size: 17px; color: rgba(0,0,0,.87);" ui-sref="main.agentMaintenanceUpdate({id:data.agentCode, ta_id:data.ta_id})" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
				</tr>
				<tr class="md-row" ng-if="agentListLoading">
					<td md-cell colspan="11" class="text-center" style="padding: 10px; text-align: center;">{{agentListLoading ? 'Loading...': ''}}</td>
				</tr>
				<tr class="md-row" ng-if="!agentList.length && !agentListLoading">
					<td md-cell colspan="11" class="text-center" style="padding: 10px; text-align: center;">{{noData}}</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
	<md-table-pagination ng-if="!agentListLoading && agentList.length" md-limit="query.limit" ng-if="agentList.length" md-limit-options="limitOptions" md-page="query.page" md-total="{{agentListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
<!--  ============= Add and Update Comment ============= -->
<span class="pull-right" style="color: red" ng-show="stateName != 'list'">* Required </span><br>
<md-card class="no-margin-h custom-remove-validation" ng-show="stateName != 'list'">
	<form name="agentMaintenanceForm" ng-submit="addAndUpdate(agentDetails)" novalidate=""><br>
		<div class="col-md-12">
			<fieldset>
				<div layout-gt-sm="col-md-6" class="layout-gt-sm-row">
					<md-input-container class="md-block flex-gt-sm">
						<label>Agent Code</label>
						<input type="text" required="" name="agentCode" limit-to="10" ng-model="agentDetails.agentCode" ng-disabled="{{disableAccountNo}}">
					</md-input-container>
				</div>
				<div layout-gt-sm="col-md-6" class="layout-gt-sm-row">
					<md-input-container class="md-block flex-gt-sm">
						<label>First name</label>
						<input type="text" required name="firstName" limit-to="250" ng-model="agentDetails.firstName" rows="2">
					</md-input-container>

					<md-input-container class="md-block flex-gt-sm">
						<label>Last name</label>
						<input type="text" required name="lastName" limit-to="250" ng-model="agentDetails.lastName" rows="2">
					</md-input-container>

				</div>
				<div layout-gt-sm="col-md-6" class="layout-gt-sm-row">
					<md-input-container class="md-block flex-gt-sm">
						<label>Email</label>
						<input type="email" required name="email" limit-to="250" ng-model="agentDetails.email" rows="2">
					</md-input-container>
				</div>
				<div layout-gt-sm="col-md-6" class="layout-gt-sm-row">
					<md-input-container class="md-block flex-gt-sm">
						<label>Business Units</label>
						<md-select name="ta_id" ng-model="agentDetails.ta_id" placeholder="Business units" class="md-no-underline" required style="width: 30%">
							<md-option ng-value="businesslist.ta_id" ng-repeat="businesslist in businessUnitList">{{businesslist.businessUnitCode}} - {{businesslist.businessUnitDescription}}</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div layout-gt-sm="row" class="layout-gt-sm-row">
					<md-input-container class="md-block flex-gt-sm custom-set-box">
						<label>Default Account</label>
						<md-autocomplete id="DeAcc" md-search-text="descriptionText" md-selected-item="selectedItem" md-item-text="item.selectedItemVal" md-min-length="0" md-no-asterisk="false" md-escape-options="blur" placeholder="{{dropdownLoading?'Loading...':'Enter Default Account here to search'}}" md-items="item in querySearch(descriptionText) | limitTo:35" md-autoselect="true" md-select-on-match="true" required>
							<!-- ng-disabled="{{disableAccountNo}}"  -->
							<md-item-template>
								<span md-highlight-text="descriptionText" md-highlight-flags="^i">{{item.selectedItemVal = item.accountCode + ' - ' + item.description}}</span>
							</md-item-template>
						</md-autocomplete>
					</md-input-container>
					<input type="hidden" name="" ng-model="descriptionText" required>



<!-- <md-input-container class="md-block flex-gt-sm">
<label>Default Account</label>
<md-select name="defaultAccountID" ng-model="agentDetails.defaultAccountID" placeholder="Default Account" class="md-no-underline">
<md-option ng-value="defaultAccList.id" ng-repeat="defaultAccList in defaultAccountList">{{defaultAccList.description}} - {{defaultAccList.accountCode}} - {{defaultAccList.id}}</md-option>
</md-select>
</md-input-container> -->
</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">
	<md-input-container class="md-block flex-gt-sm">
		<label>Reassigned To</label>
		<md-select name="reassignedAgentID" ng-model="agentDetails.reassignedAgentID" placeholder="Reassigned To" class="md-no-underline" style="width: 30%" ng-disabled="{{disableAccountNo}}">
			<md-option ng-value="list.id" ng-repeat="list in agentList">{{list.agentCode}} - {{list.lastName}} - {{list.firstName}} - {{list.id}}</md-option>
		</md-select>
	</md-input-container>
</div>
<div layout-gt-sm="col-md-6" class="layout-gt-sm-row">
<!-- <md-input-container class="md-block flex-gt-sm">
<label>Associated Accounts</label>
<md-select name="associatedAccounts" ng-model="agentDetails.associatedAccounts" placeholder="Associated Accounts" class="md-no-underline" multiple>
<md-option ng-value="associatedAccList.id" ng-repeat="associatedAccList in defaultAccountList">{{associatedAccList.description}} - {{associatedAccList.accountCode}} - {{associatedAccList.id}}</md-option>
</md-select>
</md-input-container> -->

<!-- ********************************** -->
<!-- <md-autocomplete id="contactAc" md-search-text="associatedText" md-selected-item="selectedItem1" md-item-text="item.selectedItemVal" md-min-length="0" md-no-asterisk="false" md-selected-item-change="selectedItemChange(item)" md-escape-options="blur" placeholder="Associated Accounts" md-items="item in querySearch(associatedText) | limitTo:35">
<md-item-template>
         <span md-highlight-text="associatedText" md-highlight-flags="^i">{{item.selectedItemVal = item.accountCode + ' - ' + item.description}}</span>
       </md-item-template>
   </md-autocomplete> -->
   <md-input-container class="md-block flex-gt-sm custom-set-box">
   	<label>Associated Accounts</label>
   	<input type="text" placeholder="Enter Associated Accounts here to search" name="firstName" ng-model="associatedText" autocomplete="off" limit-to="250" rows="2">
   	<div class="fix-height">
   		<ul class="md-autocomplete-suggestions">
   			<li ng-repeat="item in querySearch(associatedText) | limitTo:35">
   				<md-checkbox ng-click="selectedItemChange(item)" ng-model="item.selectedval" aria-label="Checkbox {{$index}}">
   					{{item.accountCode + ' - ' + item.description}}
   				</md-checkbox> 

   			</li>
   		</ul>
   	</div>
   </md-input-container>
   <md-input-container class="md-block flex-gt-sm custom-set-box last-set">
   	<div class="fix-bg">Selected</div>
   	<div class="fix-height">
   		<ul class="md-autocomplete-suggestions">
   			<li ng-repeat="item in contactsSelected  track by $index">
   				{{item.accountCode + ' - ' + item.description}} <i ng-click="removeSelectedElm(item)" class="fa fa-close custom-fix-close"></i>
   			</li>
   		</ul>
   	</div>
   </md-input-container>
</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">
	<md-input-container class="md-block flex-gt-sm">
		<label>Active</label>
		<md-select name="active" ng-model="agentDetails.active" placeholder="Active" class="md-no-underline" style="width: 10%">
			<md-option value="true">Yes</md-option>
			<md-option value="false">No</md-option>
		</md-select>
	</md-input-container>
</div>
</fieldset>
</div>
<div class="col-md-12">
	<div layout-gt-sm="row" class="layout-gt-sm-row">
		<md-input-container class="md-block flex-gt-sm">
			<div class="pull-right">
				<md-button type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">{{savingData?'Saving...':'Save'}}</md-button>
				<!-- data-ng-disabled="!canSubmit()" -->
				<md-button type="button" ng-click="reDirectPage()" class="md-raised btn-w-md md-button md-ink-ripple">Cancel</md-button>
			</div>
		</md-input-container>
	</div>
</div>
</form>
</md-card>
</article>
</section>

<div style="visibility: hidden">
	<div class="md-dialog-container" id="conFirmPopup">
		<md-dialog aria-label="Mango (Fruit)">
			<form ng-cloak>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>{{popupTitle}}</h2>
						<span flex></span>
						<md-button class="md-icon-button" style="font-size: 18px;" ng-click="callBackDialog('cancel')">
							<i class="fa fa-times"></i>
						</md-button>
					</div>
				</md-toolbar>

				<md-dialog-content>
					<div class="md-dialog-content">
						<p style="font-size: 20px;">{{pageDescription}}</p>
					</div>
				</md-dialog-content>

				<md-dialog-actions layout="row">
					<md-button ng-click="callBackDialog('cancel')">cancel</md-button>
					<span flex></span>
					<md-button ng-click="callBackDialog('ok')">ok</md-button>
				</md-dialog-actions>
			</form>
		</md-dialog>
	</div>
</div>

<script>
	document.getElementById("DeAcc").focus();
</script>