.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab{background: rgb(33,150,243); color: rgb(255,255,255);}
.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover{background: rgb(33,150,243); color: rgb(255,255,255);}
.md-button.md-default-theme[disabled], .md-button[disabled], .md-button.md-default-theme.md-raised[disabled], .md-button.md-raised[disabled], .md-button.md-default-theme.md-fab[disabled], .md-button.md-fab[disabled], .md-button.md-default-theme.md-accent[disabled], .md-button.md-accent[disabled], .md-button.md-default-theme.md-warn[disabled], .md-button.md-warn[disabled]{background: rgb(225, 225, 225);}
.userInfo{padding: 18px 5px;margin:0; font-size: 17px; font-weight: normal;}
.quick-find{width: 90%;margin:5px auto;}
.quick-find > li {text-align: center; }
.quick-find .md-raised.btn-w-md.md-primary.md-button.md-ink-ripple.md-button {display: block; float: none; margin-bottom: 8px; text-align: center; width: 100%; margin: 10px auto }
.quick-find input[type="text"]  {margin-bottom: 10px;  margin: 0 auto; width: 100%; }


.app-footer.ng-scope {/*text-align: center;*/ font-size: 14px;  }
.app-sidebar .nav ul li > a .material-icons { display: inline-block; }
.app-sidebar .sidebar-content .nav > li ul li > a > .material-icons { margin-right: 0px; }
.app-sidebar .sidebar-content .nav > li ul li > a > span, .app-sidebar .sidebar-footer .nav-text { display: inline-block; vertical-align: top; white-space: normal; padding: 0 10px 0 0;}
table.md-table th.md-column.text-center{text-align: center !important;background: #687379 /* #708294 */;
	color: #f4f4f4;
	font-size: 13px;
	border-left: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	padding: 0 13px !important;
}
.app-sidebar .nav ul ul ul li>a{padding-left: 54px;}
.chapter .article-title{padding-top:50px;}
/*md-input-container{margin:0;}*/
md-select{margin:0; display: block;}
.custom-right{text-align: center; float: right;}
table.md-table:not(.md-row-select) th.md-column.custom-pending{padding: 0 56px 0 0;}
table.md-table thead.md-head>tr.md-row{height: 38px;}
table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2),table.md-table td.md-cell:last-child, table.md-table th.md-column:last-child{padding: 0 13px;}
.md-icon-button+.md-datepicker-input-container{margin-top: 20px;}
.custom-height{height: 36px; margin-top: 13px; margin-left: 5px;}

md-input-container.custom-display .md-errors-spacer{display: none;}
.pdf-custom,.pdf-custom:hover{float: right; margin:18px 10px; font-size: 24px; color: #757575;}
.excel-custom,.excel-custom:hover{float: right; margin:18px 10  px; font-size: 24px; color: #757575;}
.custom-row{width: 100%; margin:auto;}
.custom-datePicker md-datepicker{float: left; min-width: 210px; width: 100%; white-space: normal}
.custom-datePicker md-datepicker .md-button.md-icon-button{margin:10px 0 0 5px; float: none;}
.custom-datePicker md-datepicker .md-icon-button+.md-datepicker-input-container{float: left; margin-left: 0; width: 65%; min-width: 120px;}
.custom-datePicker md-datepicker .md-datepicker-triangle-button.md-button.md-icon-button{margin:0 6px;}
.md-datepicker-open .md-datepicker-input{height: auto; margin-left: 0;}

/*.start-calender .md-datepicker-button{float: right; margin-top:15px;}*/

/* ==== 17-10-2016 ==== */
.app-sidebar .sidebar-header {  background-color: #687379; }
.app-sidebar .nav .nav-header { color: #ffffff; }	
.app-sidebar { background-color: #687379; }
.app-sidebar .sidebar-footer { background-color: #687379; }
.bg-dark, .bg-dark:hover { background-color: #687379; }
.app-sidebar .nav, .app-sidebar .nav a {color: #fff; }
.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab {background: #333c44 none repeat scroll 0 0; color: #ffffff; }
.md-button.md-default-theme.md-primary.md-raised:hover:not([disabled]), .md-button.md-primary.md-raised:hover:not([disabled]), .md-button.md-default-theme.md-primary.md-fab:hover:not([disabled]), .md-button.md-primary.md-fab:hover:not([disabled]) {background: #4b535a none repeat scroll 0 0; color: #ffffff; }

.sidebar-header.bg-primary img {padding-left: 35px; margin:6px 0; height: 48px;}
.app-header .brand img{ margin:6px 0; height: 48px;}
md-toolbar,.activeBG{background: #ed3d37 !important;}
.nav-collapsed .bg-dark .sidebar-header.bg-primary img{padding-left: 50px;}
.bg-dark:hover .sidebar-header.bg-primary img{padding-left: 35px !important;}
md-backdrop.md-opaque{display: none;}
.md-dialog-container{background: rgba(0,0,0,0.45); z-index: 999999;}
.app-sidebar .nav ul li > a {padding: 10px 15px 10px 36px;}
.app-sidebar .nav ul ul li > a{padding: 10px 15px 10px 56px;}
.radio-row {float: left; padding-top: 30px; width: 100%;}
#loader-container{background: rgba(0,0,0,0.4) !important; z-index: 9999999;}
#tbl table.md-table td.md-cell, table.md-table th.md-column{text-align: center !important}
.custom-margin md-input-container{margin:0;}
.custom-margin md-input-container .md-errors-spacer{display: none;}
.table-bordered.custom-margin, .table-bordered.custom-margin>tbody>tr>td, .table-bordered.custom-margin>tbody>tr>th, .table-bordered.custom-margin>tfoot>tr>td, .table-bordered.custom-margin>tfoot>tr>th, .table-bordered.custom-margin>thead>tr>td, .table-bordered.custom-margin>thead>tr>th{border:1px solid rgba(0,0,0,.1) !important;}
.custom-remove-validation md-input-container .md-errors-spacer{
	min-height: 0px !important;
	display: none;
}
/* .customBGColor{background-color: #61899e;} */
.customBGColor{background-color: #687379;}
.customBGColor td{color: #fff !important;}
.customBGColor1{background-color: #eee;}
.customBGColor2{background-color: #d4d4d4;}
/* .customBGColor1 td{color: #fff !important;} */

.custom-icons-color .fa.fa-check{font-size: 17px;}
.custom-icons-color .fa.fa-times{font-size: 17px;}

.custom-set-box .md-whiteframe-1dp, .custom-set-box .md-whiteframe-z1{display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal;flex-direction: row;box-sizing: border-box;position: relative;overflow: visible;height: 40px; box-shadow: none;}
.custom-set-box .md-whiteframe-1dp input, .custom-set-box .md-whiteframe-z1 input{
	font-size: 14px;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    padding: 0px;
    line-height: 40px;
    height: 40px;
    order: 0;
}
.custom-set-box.last-set li{border-bottom: 1px solid rgb(238,238,238);}
.custom-set-box .fix-bg{background: #333c44;color: #fff;padding: 5px 15px;font-size: 16px;}
.fix-height{height: 200px; overflow: auto; float: left; width: 100%; border:1px solid rgba(0,0,0,0.12);}
.fix-height .md-autocomplete-suggestions li{line-height: 36px; height: 36px;}
.fix-height .md-autocomplete-suggestions li:hover{background-color: rgb(238,238,238);}
.fix-height .md-autocomplete-suggestions li md-checkbox,.fix-height .md-autocomplete-suggestions li md-checkbox .md-label{width: 100%;}
.fix-height .custom-fix-close{float: right; font-size: 18px; margin-top: 7px;}
.md-select-menu-container{z-index: 9999999;}
.md-datepicker-calendar-pane {z-index: 9999999;}
md-backdrop.md-dialog-backdrop, md-backdrop.md-select-backdrop{z-index: 9999999}

.custom-rotate{display:block; width: 15px; -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg);}
table.md-table th.md-column.text-center.custom-padding-set{padding: 5px 13px !important;}
table.md-table th.md-column.text-center.bg-color-rm{background-color: #fff !important; color: #2f2f2f;}
table.md-table th.md-column.text-center.bg-color-rm.text-right,table.md-table th.md-column.text-center.bg-color-gray.text-right{text-align: right !important;}
table.md-table th.md-column.text-center.bg-color-gray{background-color: #eee !important; color: #2f2f2f;}

.nav-collapsed .showSubFilterContents{display: none;}

.mobile-view{display: block;}
.desktop-view{display: none;}
.sidebar-BG{display: none;}
@media only screen and (min-width: 992px){

    /* ====== siderbar Css changes ===== */
    .sidebar-header a.collapsednav-toggler .material-icons{font-size: 24px; color: #fff;}
    .app-sidebar .sidebar-header,.sidebar-BG{transition: width .3s cubic-bezier(0,0,.2,1);}
    .nav-collapsed .sidebar-BG{width: 64px; overflow: hidden;}
    .nav-collapsed .sidebar-BG:hover,.nav-collapsed .custom-left-sidebar-contents:hover>*,.nav-collapsed .sidebar-BG:hover>*,.nav-collapsed .app-sidebar:hover, .nav-collapsed .app-sidebar:hover>* {
        width: 64px !important;
    }
    .nav-collapsed .app-sidebar:hover .showSubFilterContents{
        display: none !important;
    }
    .nav-collapsed .app-sidebar:hover .sidebar-content .nav>li>a{
        padding:12px 16px !important;
        text-align: center !important;
    }
    .nav-collapsed .app-sidebar:hover .sidebar-content .nav-text{
        display: none !important;
    }    
    .nav-collapsed .app-sidebar:hover .sidebar-content .nav>li>a .nav-icon{margin-right: 0;}
    .app-content-wrapper .app-content .container-fluid{margin-left: 250px}
    .nav-collapsed .app-sidebar .sidebar-header{width: 64px !important; text-align: center !important;}
    .nav-collapsed .app-sidebar .sidebar-header .collapsednav-toggler{text-align: center !important; display: inline !important; right: 23px;}
    .nav-collapsed .app-sidebar .sidebar-header .app_brand{display: none !important;}
    .nav-collapsed .sidebar-BG .nav-text{display: none !important;}

    .nav-collapsed .app-content-wrapper .app-content .container-fluid{margin-left: 64px;}
    .mobile-view{display: none !important;}
    .desktop-view{display: block !important;}
    .app-page-container .app-content-wrapper .app-content{padding-left: 0 !important;}
    .app-sidebar .sidebar-header{position: fixed; left: 0; top: 0; width: 250px; z-index: 9;}
    .sidebar-BG{position: absolute; left: 0; top: 0;background: #687379; width: 250px; height: 100%; display: block !important;}
    .sidebar-BG a{position: absolute; bottom: 0; color: #fff; line-height: 24px; padding: 10px 15px; width: 100%; margin: 0; border-top: 1px solid white; height: 44px; display: inline; left: 0; text-align: left;}
    .sidebar-BG a i{float: left; margin-right: 15px;}
    .app-sidebar{position: relative !important; float: left; width: 250px; height: auto; margin-right: 15px; white-space:normal;}
    .app-sidebar,.app-sidebar .slimScrollDiv,.app-sidebar .slimScrollDiv > div{overflow: visible !important; z-index: 999999;}
    .app-sidebar .sidebar-footer{display: none;}
    /*.app-sidebar .sidebar-content .nav>li>a{padding: 8px 16px !important;}*/

    .app-sidebar .nav li:hover{background: #ed3d37 !important}
    .nav-collapsed .app-sidebar .nav li:hover{background: #687379 !important}
    /*.app-sidebar .nav ul {line-height: 18px;}*/
    .app-sidebar .nav ul li > a,.app-sidebar .nav ul ul li > a{padding: 10px 15px 10px 10px !important;}
    .app-sidebar ul.nav li > ul{display: none !important; left: 250px; width: auto !important;/* top:0;*/ background: transparent; z-index: 9999; position: fixed; /* overflow: auto; */ max-height: 650px;}
    .app-sidebar ul.nav li > ul li{background: #687379; width: 250px;}

    .app-sidebar ul.nav li #scrollbox1,.app-sidebar ul.nav li #booking_reports{padding: 0 !important;}
    .app-sidebar ul.nav li #scrollbox1 + div,.app-sidebar ul.nav li #booking_reports + div{top:0 !important; z-index: 9999 !important;left: 486px !important;}

    .app-sidebar ul.nav li > ul > li > ul{left: 500px;}
    .app-sidebar ul.nav li > ul > li > ul > li > ul{left: 750px;}
    .app-sidebar ul.nav li > ul > li > ul > li > ul > li > ul{left: 1000px;}
    .app-sidebar ul.nav li > ul > li > ul > li > ul > li > ul > li > ul{left: 1250px;}
    .app-sidebar ul.nav li:hover > ul{display: block !important;}
    .nav-collapsed .app-sidebar ul.nav li:hover > ul{display: none !important;}
    .app-sidebar ul.nav li.parent_div:hover{width: 500px!important;}
    .nav-collapsed .app-sidebar ul.nav li.parent_div:hover{width: auto!important;}
    /* ====== siderbar Css changes ===== */
    /* .md-autocomplete-suggestions li, .md-button{font-size: 13px;}*/
}

.commissionAnalysis .table-custom{display: table; width: 100%;}
.commissionAnalysis .table-custom.table-custom-border{border: 2px solid #ccc;}
.commissionAnalysis .table-custom .rowT{display: table-row;}
.commissionAnalysis .table-custom .rowT div{display: table-cell; padding: 2px 5px;}
.fixed-header-custom ._md-toolbar-transitions{position: absolute;}
.fixed-header-custom .md-dialog-content{margin-top: 64px;}
.table-custom-border1 .table-custom{border-left:2px solid #ccc;border-right:2px solid #ccc; padding: 2px;}
.table-custom-border1 .table-custom:first-child{border-top:2px solid #ccc;}
.table-custom-border1 .table-custom:last-child{border-bottom:2px solid #ccc;}
.logout-icons span{font-size: 16px;}

.track3 {width: 10px; background: rgba(0, 0, 0, 0); margin-right: 2px; border-radius: 10px; -webkit-transition: background 250ms linear;transition: background 250ms linear;    }
.track3:hover,.track3.dragging {background: #d9d9d9; background: rgba(0, 0, 0, 0.15);}
.handle3 {width: 7px;right: 0;background: #999;background: rgba(0, 0, 0, 0.4);border-radius: 7px;-webkit-transition: width 250ms;transition: width 250ms; background: #ed3d37}
.md-virtual-repeat-container.md-autocomplete-suggestions-container{z-index: 99999999 !important;}

.table.md-table{overflow: auto;}
.md-dialog-container { position: fixed !important; top: 0 !important; height: 100% !important}
.md-dialog-container md-dialog{max-width: 55%;}

.shrinkpopup.md-dialog-container md-dialog {max-width: 38%}
.shrinkpopup md-dialog .md-dialog-content{ padding: 24px 0; }
.table-custom table-custom-border1{border-bottom: 2px solid; }
/* .md-input-container .md-input{ background: transparent !important; } */
.daterange{min-width: 158px;}
.amount-select{min-width: 135px;}
.record-checkbox{min-width: 110px;text-align: left;}

#loader-container {
    background: #f5f5f5;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999999
}
#loader-container>.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -33px;
    margin-top: -33px
}
.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite
}
@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
}
@keyframes rotator {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
}
.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    -ms-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite
}
@-webkit-keyframes colors {
    0%, 100% {
        stroke: #2196F3
    }
    25% {
        stroke: #EF5350
    }
    50% {
        stroke: #FFCA28
    }
    75% {
        stroke: #66BB6A
    }
}
@-ms-keyframes colors {
    0%, 100% {
        stroke: #2196F3
    }
    25% {
        stroke: #EF5350
    }
    50% {
        stroke: #FFCA28
    }
    75% {
        stroke: #66BB6A
    }
}
@keyframes colors {
    0%, 100% {
        stroke: #2196F3
    }
    25% {
        stroke: #EF5350
    }
    50% {
        stroke: #FFCA28
    }
    75% {
        stroke: #66BB6A
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg)
    }
}
@-ms-keyframes dash {
    0% {
        stroke-dashoffset: 187
    }
    50% {
        stroke-dashoffset: 46.75;
        -ms-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    100% {
        stroke-dashoffset: 187;
        -ms-transform: rotate(450deg);
        transform: rotate(450deg)
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 187
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg)
    }
}

.loaderClass{
    margin: auto;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999999;
}

.btn-w-md.customeWidthBtn{min-width: 100px;}

table.md-table:not(.md-row-select) td.md-cell:first-child, table.md-table:not(.md-row-select) th.md-column:first-child {padding: 0 10px !important}
table.md-table th.md-column.text-center{padding: 5px !important; }

