<toaster-container toaster-options="tosterOption"></toaster-container>
<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Custom Report Maintenance</h2>
		<div class="divider divider-md"></div>
		<fieldset>
			<div class="col-md-12 col-sm-12">
				<md-card class="no-margin-h">
					<md-card-title style="padding-top: 25px;">
						<div class="col-md-12">
							<div class="col-md-2">
								Report
							</div>	
							<div class="col-md-3">
								<md-select name="report" ng-model="report" placeholder="{{reportListLoding?'Loading...' : '--- Select Report ---'}}" class="md-no-underline" ng-change="getReportData(this)">
									<md-option ng-value="">--- Select Report ---</md-option>
									<md-option ng-value="list.webReportsData.id" ng-repeat="list in reportList">{{list.webReportsData.title}}</md-option>
								</md-select>
							</div>	
						</div>	
					</md-card-title>	
				</md-card>
			</div>
		</fieldset><br>

		<div style="text-align: center" ng-if="loading">Loading...</div>

		<fieldset ng-if="isReportData && !loading">
			<div class="pull-right">
				<button type="button" class="md-raised btn-w-md md-primary md-button md-ink-ripple md-button" ng-click="deleteReportConfirm($event)">{{deleteReportLoading?'Deleting...':'Delete this report!'}}</button>
			</div><br><br><br>
			<form name="report_form" ng-submit="updateReport(reportData)" novalidate>
				<span class="pull-right" style="color: red">* Required </span><br>
				<div class="col-md-12 col-sm-12">
					<md-card class="no-margin-h">
						<div class="col-md-12"><br>

							<md-input-container class="md-block flex-gt-sm md-input-has-value">
								<label>Title: </label>
								<input required type="text" name="title" ng-model="reportData[0].WebReportData.title"/>
								<div ng-messages="report_form.title.$error" multiple ng-if='report_form.title.$dirty'>
									<div ng-message="required">This is required.</div>
								</div>
							</md-input-container>   

							<md-input-container class="md-block flex-gt-sm md-input-has-value">
								<label>Description: </label>
								<input type="text" name="description" ng-model="reportData[0].WebReportData.description"/>
		                		<!-- <div ng-messages="report_form.description.$error" multiple ng-if='report_form.description.$dirty'>
		                			<div ng-message="required">This is required.</div>
		                		</div> -->
		                	</md-input-container>   

		                	<md-input-container class="md-block flex-gt-sm md-input-has-value">
		                		<label>Active: </label>
		                		<md-select name="active" ng-model="reportData[0].WebReportData.active" placeholder="Active" class="md-no-underline" style="width: 10%">
		                			<md-option ng-value="true">Yes</md-option>
		                			<md-option ng-value="false">No</md-option>
		                		</md-select>
		                		<!-- <div ng-messages="report_form.active.$error" multiple ng-if='report_form.active.$dirty'>
		                			<div ng-message="required">This is required.</div>
		                		</div> -->
		                	</md-input-container>   
		                	<md-input-container class="md-block flex-gt-sm md-input-has-value">
		                		<label>Created by user: </label>
		                		<p ng-bind="reportData.createdByUser"></p>
		                	</md-input-container>   
		                	<md-input-container class="md-block flex-gt-sm md-input-has-value">
		                		<label>Report parameters:</label>
		                		<p ng-bind="reportData[0].WebReportData.parameters"></p>
		                	</md-input-container>
		                </div>	
		            </md-card>
		        </div>
		        <div class="pull-right">
		        	<button type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple md-button" ng-disabled="!reportData[0].WebReportData.title">{{reportUpdateLoding?'Saving...':'Save'}}</button>
		        	<button type="button" class="md-raised btn-w-md md-default md-button md-ink-ripple md-button" ng-click="cancelUpdate()">Cancel</button>
		        </div>
		    </form>	
		</fieldset>		
	</article>
</section>

<div style="visibility: hidden">
	<div class="md-dialog-container" id="conFirmPopup">
		<md-dialog aria-label="Mango (Fruit)">
			<form ng-cloak>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>{{popupTitle}}</h2>
						<span flex></span>
						<md-button class="md-icon-button" style="font-size: 18px;" ng-click="callBackDialog('cancel')">
							<i class="fa fa-times"></i>
						</md-button>
					</div>
				</md-toolbar>

				<md-dialog-content>
					<div class="md-dialog-content">
						<p style="font-size: 20px;">{{pageDescription}}</p>
					</div>
				</md-dialog-content>

				<md-dialog-actions layout="row">
					<md-button ng-click="callBackDialog('cancel')">cancel</md-button>
					<span flex></span>
					<md-button ng-click="callBackDialog('ok')">ok</md-button>
				</md-dialog-actions>
			</form>
		</md-dialog>
	</div>
</div>