<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Report: Chain Code Summary - Expanded</h2>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<div class="row custom-row">
					<div class="col-md-2 pull-right">						
						<a class="excel-custom" ng-click="getPDFLink(2)" href="javascript:void(0)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
						<a class="pdf-custom" ng-click="getPDFLink(1)" href="javascript:void(0)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
					</div>
				</div>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th class="md-column text-center custom-pending"><span>Chain Code</span></th>
				<!-- <th class="md-column text-center custom-pending"><span>Chain Name</span></th> -->
				<th class="md-column text-center"><span>Booking Count</span></th>
				<th class="md-column text-center"><span>Room Nights</span></th>
				<th class="md-column text-center"><span>Estimated Sales</span></th>
				<th class="md-column text-center"><span>Estimated Commission</span></th>
				<th class="md-column text-center"> <span>Payment% (Commission)</span></th>
				<th class="md-column text-center"> <span>Payment% (Booking)</span></th>
				<th class="md-column text-center"> <span>Payment Days</span></th>
				<th class="md-column text-center"> <span>Resolved%</span></th>
				<th class="md-column text-center" colspan="2"> <span>Payments</span></th>
				<th class="md-column text-center" colspan="2"><span>Cancellations</span></th>
				<th class="md-column text-center" colspan="2"><span>No Shows</span></th>
				<th class="md-column text-center" colspan="2"> <span>Non-Commissionable</span></th>
				<th class="md-column text-center" colspan="2"><span>Previously Paid</span></th>
				<th class="md-column text-center" colspan="2"><span>No Record of Stay</span></th>
				<th class="md-column text-center" colspan="2"><span>Due</span></th>
				<th class="md-column text-center" colspan="2"><span>Comm Trak</span></th>
				<th class="md-column text-center" colspan="2"><span>Unanswered</span></th>
				<th class="md-column text-center" colspan="2"><span>Uncollectable</span></th>
				<th class="md-column text-center" colspan="2"><span>Too Old</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row">
				<th class="md-column text-center"></th>
				<!-- <th class="md-column text-center"></th> -->
				<th class="md-column text-center"></th>
				<th class="md-column text-center"></th>
				<th class="md-column text-center"></th>
				<th class="md-column text-center"></th>
				<th class="md-column text-center"></th>
				<th class="md-column text-center"></th>
				<th class="md-column text-center"></th>
				<th class="md-column text-center"></th>
				<th class="md-column text-center">Count</th>
				<th class="md-column text-center">Act. Amount</th>
				<th class="md-column text-center">Count</th>
				<th class="md-column text-center">Est. Amount</th>
				<th class="md-column text-center">Count</th>
				<th class="md-column text-center">Est. Amount</th>
				<th class="md-column text-center">Count</th>
				<th class="md-column text-center">Est. Amount</th>
				<th class="md-column text-center">Count</th>
				<th class="md-column text-center">Act. Amount</th>
				<th class="md-column text-center">Count</th>
				<th class="md-column text-center">Act. Amount</th>
				<th class="md-column text-center">Count</th>
				<th class="md-column text-center">Act. Amount</th>
				<th class="md-column text-center">Count</th>
				<th class="md-column text-center">Act. Amount</th>
				<th class="md-column text-center">Count</th>
				<th class="md-column text-center">Act. Amount</th>
				<th class="md-column text-center">Count</th>
				<th class="md-column text-center">Act. Amount</th>
				<th class="md-column text-center">Count</th>
				<th class="md-column text-center">Act. Amount</th>
			</tr>

			<tr ng-repeat-end class="md-row" ng-repeat="item in chainCodeList" ng-show="!chainCodeListLoading">
				<td class="md-cell"><a ui-sref="main.commissionAnalysisById({fromdate:frmDateID, todate:toDateID, id:item.chain})">{{(item.chain)?item.chain:'---'}} {{(item.chainName)? '-'+item.chainName:''}}</a></td>
				<!-- <td class="md-cell" style="text-align: right">{{item.chainName}}</td> -->
				<td class="md-cell" style="text-align: right">{{item.bookingCount}}</td>
				<td class="md-cell" style="text-align: right">{{item.roomNights}}</td>
				<td class="md-cell" style="text-align: right">${{item.net_revenue | number:2}}</td>
				<td class="md-cell" style="text-align: right">${{item.est_comm | number:2}}</td>
				<td class="md-cell" style="text-align: center">{{item.commissionPercent | number:2}}%</td>
				<td class="md-cell" style="text-align: center">{{item.paymentPercent | number : 2}}%</td>
				<td class="md-cell" style="text-align: center">{{item.averagePaymentDays}}</td>
				<td class="md-cell" style="text-align: center">{{item.resolvedPercent | number : 2}}%</td>
				<td class="md-cell" style="text-align: right">{{(item.count_A) ? item.count_A : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.amount_A) ? '$'+(item.amount_A | number : 2) : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.count_C) ? item.count_C : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.amount_C) ? '$'+(item.amount_C | number : 2) : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.count_S) ? item.count_S : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.count_S) ? '$'+(item.amount_S | number : 2) : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.count_N) ? item.count_N : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.amount_N) ? '$'+(item.amount_N | number : 2) : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.count_P) ? item.count_P : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.amount_P) ? '$'+(item.amount_P | number : 2) : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.count_X) ? item.count_X : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.amount_X) ? '$'+(item.amount_X | number : 2) : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.count_D) ? item.count_D : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.amount_D) ? '$'+(item.amount_D | number : 2) : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.count_K) ? item.count_K : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.amount_K) ? '$'+(item.amount_K | number : 2) : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.count_U) ? item.count_U : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.amount_U) ? '$'+(item.amount_U | number : 2) : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.count_Z) ? item.count_Z : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.amount_Z) ? '$'+(item.amount_Z | number : 2) : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.count_T) ? item.count_T : ''}}</td>
				<td class="md-cell" style="text-align: right">{{(item.amount_T) ? '$'+(item.amount_T | number : 2) : ''}}</td>
			</tr>
			<tr ng-repeat-end ng-show="false"></tr>
			<tr class="md-row" ng-if="!chainCodeList.length && !chainCodeListLoading">
				<td class="text-center" style="padding: 10px" colspan="31">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="chainCodeListLoading">
				<td class="text-center" style="padding: 10px" colspan="31">Loading....</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination ng-if="chainCodeList.length && !chainCodeListLoading" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>