<!-- <toaster-container toaster-options="tosterOption"></toaster-container> -->
<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Claim Comments</h2>
		<!--  ============= Comment List ============= -->
		<md-card class="no-margin-h" ng-if="stateName != 'add'">
			<md-card-title style="padding-top: 25px;">
				<div class="row custom-row">
					<!-- <div class="col-md-8"> -->
					<div class="col-md-10" ng-if="stateName=='list'">
						<md-input-container class="md-block flex-gt-sm custom-display">
							<md-button type="button" style="padding:0 12px;" ng-click="callAddComment()" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Add New Comment</md-button>
						</md-input-container>
					</div>
					<div class="col-md-12" ng-if="stateName=='update'">
						<md-input-container class="md-block flex-gt-sm custom-display pull-right">
							<md-button type="button" ng-click="showConfirmPopup($event,commentID)" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Delete Comment</md-button>
						</md-input-container>
					</div>

					<div class="col-md-2" ng-if="stateName=='list'">						
						<!-- <a class="excel-custom" href="javascript:void(0)" ng-click="getPDFLink(2)"  title="Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
						<a class="pdf-custom" href="javascript:void(0)" ng-click="getPDFLink(1)"  title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a> -->
					</div>
				</div>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h" ng-if="stateName=='list'">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder"
			>
			<tr class="md-row">				
				
				<th md-column class="text-center" md-order-by="comment"><span>Comment</span></th>
				<th md-column class="text-center"><span>Current Default</span></th>
				<th md-column class="text-center" md-order-by="active"><span>Active</span></th> 
				<th md-column class="text-center custom-pending"><span></span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row" md-select="commentmainObjList" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="data in commentmainObjList | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
				
				<td md-cell>{{data.comment}}</td>
				<td md-cell class="text-center" style="text-align: center;">{{(data.useAsDefault == true) ? 'Yes':'No'}}</td>
				<td md-cell class="text-center custom-icons-color" style="text-align: center;"><i class="fa" ng-class="(data.active)? 'fa-check' : 'fa-times'" aria-hidden="true"></i></td>
				<td md-cell class="text-center" style="text-align: center;"><a style="font-size: 17px; color: rgba(0,0,0,.87);" ui-sref="main.commentMaintenanceUpdate({id:data.id})" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
			</tr>
			<tr class="md-row" ng-if="commentLoading">
				<td md-cell colspan="11" class="text-center" style="padding: 10px; text-align: center;">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="!commentmainObjList.length && !commentLoading">
				<td md-cell colspan="11" class="text-center" style="padding: 10px; text-align: center;">{{noData}}</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination md-limit="query.limit" ng-if="commentmainObjList.length" md-limit-options="limitOptions" md-page="query
.page" md-total="{{commentmainObjList.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
<!--  ============= Add and Update Comment ============= -->
<span class="pull-right" style="color: red" ng-show="stateName != 'list'">* Required </span><br>
<md-card class="no-margin-h custom-remove-validation" ng-show="stateName != 'list'">
	<div style="text-align: center; padding-top: 10px; color: red;" ng-if="errorMessage">{{errorMessage}}</div>
	<form name="commentmain" ng-submit="addAndUpdate(getClaimComments)" novalidate=""><br>
		<div class="col-md-12">
			<fieldset>
				<div layout-gt-sm="col-md-6" class="layout-gt-sm-row">
					<md-input-container class="md-block flex-gt-sm">
						<label>Comment</label>
						<textarea required name="comment" limit-to="250" ng-model="getClaimComments.comment" rows="1"></textarea>				
					</md-input-container>
				</div>
				<div layout-gt-sm="row" class="layout-gt-sm-row">
					<md-input-container class="md-block flex-gt-sm">
						<label>Active</label>
						<md-select style="width: 350px;" name="active" ng-model="getClaimComments.active" placeholder="Active" class="md-no-underline">
							<md-option value="false">No</md-option>
							<md-option value="true">Yes</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div layout-gt-sm="row" class="layout-gt-sm-row">
					<md-input-container class="md-block flex-gt-sm">
						<label>Use as default</label>
						<md-select style="width: 350px;" name="userAsDefault" ng-model="getClaimComments.useAsDefault" placeholder="Use as default" class="md-no-underline">
							<md-option value="false">No</md-option>
							<md-option value="true">Yes</md-option>
						</md-select>
					</md-input-container>
				</div>
			</fieldset>
		</div>
		<div class="col-md-12">
			<div layout-gt-sm="row" class="layout-gt-sm-row">
				<md-input-container class="md-block flex-gt-sm">
					<div class="pull-right">
						<md-button data-ng-disabled="!canSubmit()" type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Save</md-button>
						<md-button type="button" ng-click="reDirectPage()" class="md-raised btn-w-md md-button md-ink-ripple">Cancel</md-button>
					</div>
				</md-input-container>
			</div>
		</div>
	</form>
</md-card>

</article>
</section>


<div style="visibility: hidden">
	<div class="md-dialog-container" id="conFirmPopup">
		<md-dialog aria-label="Mango (Fruit)">
			<form ng-cloak>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>{{popupTitle}}</h2>
						<span flex></span>
						<md-button class="md-icon-button" style="font-size: 18px;" ng-click="callBackDialog('cancel')">
							<i class="fa fa-times"></i>
						</md-button>
					</div>
				</md-toolbar>

				<md-dialog-content>
					<div class="md-dialog-content">
						<p style="font-size: 20px;">{{pageDescription}}</p>
					</div>
				</md-dialog-content>

				<md-dialog-actions layout="row">
					<md-button ng-click="callBackDialog('cancel')">cancel</md-button>
					<span flex></span>
					<md-button ng-click="callBackDialog('ok')">ok</md-button>
				</md-dialog-actions>
			</form>
		</md-dialog>
	</div>
</div>