<div class="page-auth">
	<!-- <toaster-container toaster-options="tosterOption"></toaster-container> -->
	<!-- <video loop style="position: fixed;width: auto;opacity: 0.9;height: auto;min-width: 100%;min-height: 100%;margin: auto -10px;" src="src/assets/img/ProtravelWebsite2016slow.webm" poster="src/assets/img/ProtravelWebsite2016slow.webm" autoplay /> -->
	<div class="main-body">
		<div class="card bg-white">
			<div class="card-content">
				<div class="logo">
					<a>Login</a>
				</div>
				<!-- <div ng-show="loginErrorMessage" style="color:red; text-align: center;">{{loginErrorMessage}}</div> -->
				<form name="login_form" autocomplete="off" ng-submit="signin(user)" class="md-form-auth form-validation">
					<fieldset>
						<md-input-container class="md-block">
							<label>User name</label>
							<md-icon class="material-icons">mail_outline</md-icon>
							<input required type="text" name="UserName" ng-model="user.UserName"/>
							<div ng-messages="login_form.UserName.$error" multiple ng-if='login_form.UserName.$dirty'>
								<div ng-message="required">This is required.</div>
								<!-- <div ng-message="pattern">It must be an e-mail address.</div> -->
							</div>
						</md-input-container>
						<md-input-container class="md-block" ng-class="(user.Password).length ? 'md-input-has-value':''">
							<label>Password</label>
							<md-icon class="material-icons">lock_outline</md-icon>
							<input customautofocus="{{user.UserName}}" required type="password" name="password" ng-model="user.Password">
							<div ng-messages="login_form.password.$error" multiple ng-if='login_form.password.$dirty'>
								<div ng-message="required">This is required.</div>
							</div>
						</md-input-container>
						<div ng-show="loginErrorMessage" style="color:red; text-align: left; background: white;">{{loginErrorMessage}}</div> 
						<md-button type="submit" class="md-raised pull-right md-primary" data-ng-disabled="!canSubmit()">{{loading?'Logging in...':'Login'}}</md-button>
					</fieldset>
				</form>

				<div class="additional-info">
					<!-- <a ui-sref="register">Register</a>
					<span class="divider-h"></span> -->
					<a ui-sref="reset">Forgot your password?</a>
				</div>

			</div>
		</div>
	</div>
</div>