<toaster-container toaster-options="tosterOption"></toaster-container>
<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Corp Maintenance</h2>
		<span class="pull-right" style="color: red">* Required </span><br>
		<form ng-submit="updateCorpMain(corpmainObj)" name="corpmain" novalidate="">
			<md-card class="no-margin-h _md custom-remove-validation" style="padding-top: 10px;">
				<div class="col-md-12">
					<fieldset>
						<div layout-gt-sm="col-md-6" class="layout-gt-sm-row">
							<md-input-container class="md-block flex-gt-sm">
								<label>Name</label>
								<input required type="text" limit-to="50" name="name" ng-model="corpmainObj.name" />
								<div ng-messages="corpmain.name.$error" multiple ng-if='corpmain.name.$dirty'>
									<div ng-message="required">This is required.</div>
								</div>
							</md-input-container>
							<md-input-container class="md-block flex-gt-sm">
								<label>Address 1</label>
								<input type="text" limit-to="50" name="name" ng-model="corpmainObj.address1" />
							</md-input-container>
						</div>
						<div layout-gt-sm="row" class="layout-gt-sm-row">
							<md-input-container class="md-block flex-gt-sm">
								<label>Address 2</label>
								<input type="text" limit-to="50" name="name" ng-model="corpmainObj.address2" />
							</md-input-container>
							<md-input-container class="md-block flex-gt-sm md-input-has-value">
								<label>City</label>
								<input type="text" limit-to="30" name="city" ng-model="corpmainObj.city" />
							</md-input-container>   
						</div>
						<div layout-gt-sm="row" class="layout-gt-sm-row">							
							<md-input-container class="md-block flex-gt-sm md-input-has-value">
								<label>State</label>
								<input type="text" name="state" limit-to="2" ng-model="corpmainObj.state" md-maxlength="2" />
							</md-input-container>
							<md-input-container class="md-block flex-gt-sm md-input-has-value">
								<label>Zip</label>
								<input type="text" name="zip" limit-to="10" ng-model="corpmainObj.zip" />
							</md-input-container>
						</div>
						<div layout-gt-sm="row" class="layout-gt-sm-row">
							<md-input-container class="md-block flex-gt-sm">
								<label>Phone</label>
								<input type="text" name="phone" ng-model="corpmainObj.phone" />
							</md-input-container>
							<md-input-container class="md-block flex-gt-sm">
								<label>Fax</label>
								<input type="text" name="fax" ng-model="corpmainObj.fax" />
							</md-input-container>
						</div>
						<div layout-gt-sm="row" class="layout-gt-sm-row">
							<md-input-container class="md-block flex-gt-sm">
								<label>Suspend Claiming for Agents: </label>
								<md-select style="width: 350px;" ng-model="corpmainObj.suspendClaiming" placeholder="Suspend Claiming for Agents" class="md-no-underline">
									<md-option value="false">No</md-option>
									<md-option value="true">Yes</md-option>
								</md-select>
							</md-input-container>
						</div>
						<label>Business Units:</label>
						<!-- pkj ::: {{getBussinessUnitData}}<br>
						pkj ::: {{getBussinessUnitDataOld}} -->
						<table class="md-table table table-bordered custom-margin">
							<tr class="md-column">
								<th>Agency</th><th>Code</th><th>Description</th>
							</tr>
							<tr ng-repeat="data in getBussinessUnitData">
								<td>{{data.ta_id}}</td>
								<td>
									<md-input-container class="md-block flex-gt-sm">
										<input type="text" limit-to="2" class="md-input" ng-model="data.businessUnitCode" name="businessUnitCode" />
									</md-input-container>
								</td>
								<td>
									<md-input-container class="md-block flex-gt-sm">
										<input type="text" limit-to="50" class="md-input" limit-to="50" ng-model="data.businessUnitDescription" name="businessUnitDescription" />
									</md-input-container>
								</td>
							</tr>
						</table>
					</fieldset>
				</div>
				<div class="col-md-12">
					<div layout-gt-sm="row" class="layout-gt-sm-row">
						<md-input-container class="md-block flex-gt-sm">
							<div class="pull-right">
								<md-button type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Save</md-button>
								<md-button type="button" class="md-raised btn-w-md md-button md-ink-ripple" ng-click="reDirectToHomePage()">Cancel</md-button>
							</div>
						</md-input-container>
					</div>
				</div>		
			</md-card>
		</form>
	</article>
</section>