<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Report: Dunning Activity Detail</h2>
		<span class="pull-right" style="color: red">* Required </span><br>		
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<form style="width: 100%;" name="dunningAct" novalidate="" ng-submit="callFiterData(true)">
					<div class="row custom-row">
						<div class="col-md-6 col-sm-6">
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<md-datepicker class="start-calender" required ng-change="checkValidDate(commissionByAcountObj.fromDate,commissionByAcountObj.toDate)" ng-model="commissionByAcountObj.fromDate" md-placeholder="From*"></md-datepicker>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<md-datepicker class="start-calender" required md-min-date="commissionByAcountObj.fromDate" ng-model="commissionByAcountObj.toDate" md-placeholder="To*"></md-datepicker>
								</div>
							</div>
						</div>			
						<div class="col-md-4 col-sm-4">
							<div layout-gt-sm="row" class="layout-gt-sm-row">
								<md-input-container class="md-block flex-gt-sm custom-display" style="margin:5px 0;">
									<md-button type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>
								</md-input-container>
								<md-input-container class="md-block flex-gt-sm custom-display">
									<md-radio-group ng-model="commissionByAcountObj.selectedDate">
										<md-radio-button value="0" class="md-primary">Invoice Date</md-radio-button>
									</md-radio-group>
								</md-input-container>
							</div>
						</div>	
						<div class="col-md-2 col-sm-2">						
							<a class="excel-custom" ng-click="getPDFLink(2)" href="javascript:void(0)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
							<a class="pdf-custom" ng-click="getPDFLink(1)" href="javascript:void(0)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
						</div>
					</div>
				</form>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th class="md-column text-center custom-pending"><span>Agency</span></th> 
				<th class="md-column text-center" colspan="3"> <span>Invoice</span></th>
				<th class="md-column text-center"><span>Branch</span></th>
				<th class="md-column text-center"> <span>Account</span></th>
				<th class="md-column text-center"><span>Agent</span></th>
				<th class="md-column text-center"> <span>IATA</span></th>
				<th class="md-column text-center"><span>Arrival</span></th>
				<th class="md-column text-center"><span>Departure</span></th>
				<th class="md-column text-center"><span>Transaction</span></th>
				<th class="md-column text-center" colspan="7">Property<span></span></th>
				<th class="md-column text-center" colspan="2"><span>Traveler</span></th>
				<th class="md-column text-center"><span>Type</span></th>
				<th class="md-column text-center"><span>Status</span></th>
				<th class="md-column text-center"><span>Booking</span></th>
				<th class="md-column text-center"><span>PNR ID</span></th>
				<th class="md-column text-center"><span>Confirmation</span></th>
				<th class="md-column text-center"><span>Nights</span></th>
				<th class="md-column text-center"><span>Rate</span></th>
				<th class="md-column text-center"><span>Expected</span></th>
				<th class="md-column text-center"><span>Currency</span></th>
				<th class="md-column text-center"><span>Reference</span></th>
				<th class="md-column text-center"><span>Batch</span></th>
				<th class="md-column text-center"><span>Deposit</span></th>
				<th class="md-column text-center"><span>Check</span></th>
				<th class="md-column text-center"><span>Actual</span></th>
				<th class="md-column text-center"><span>Currency</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row">
				<th class="md-column text-center "></th>
				<th class="md-column text-center ">Date</th>
				<th class="md-column text-center ">Number</th>
				<th class="md-column text-center ">Line</th>
				<th class="md-column text-center "></th>
				<th class="md-column text-center "></th>
				<th class="md-column text-center "></th>
				<th class="md-column text-center "></th>
				<th class="md-column text-center ">Date</th>
				<th class="md-column text-center ">Date</th>
				<th class="md-column text-center ">Date</th>
				<th class="md-column text-center ">Chain</th>
				<th class="md-column text-center ">Name</th>
				<th class="md-column text-center ">Address 1</th>
				<th class="md-column text-center ">Address 2</th>
				<th class="md-column text-center ">City</th>
				<th class="md-column text-center ">State</th>
				<th class="md-column text-center ">Zip</th>
				<th class="md-column text-center ">First Name</th>
				<th class="md-column text-center ">Last Name</th>
				<th class="md-column text-center "></th>
				<th class="md-column text-center "></th>
				<th class="md-column text-center ">Source</th>
				<th class="md-column text-center "></th>
				<th class="md-column text-center "></th>
				<th class="md-column text-center "></th>
				<th class="md-column text-center "></th>
				<th class="md-column text-center ">Commission</th>
				<th class="md-column text-center "></th>
				<th class="md-column text-center "></th>
				<th class="md-column text-center ">Number</th>
				<th class="md-column text-center ">Date</th>
				<th class="md-column text-center ">Number</th>
				<th class="md-column text-center ">Commission</th>
				<th class="md-column text-center "></th>
			</tr>
			<!-- <tr ng-repeat-start="data1 in  subChildResults" ng-if="(bookingList | filter:{cts_type: data1.cts_type,iata: data.iata}:true).length" class="md-row customBGColor1" ng-show="!selectRow[$parent.$parent.$index]">
				<td class="md-cell"></td>
				<td class="md-cell">{{data1.cts_type}}</td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>				
				<td class="md-cell"></td>
				<td class="md-cell" style="text-align: right;">{{data1['netRevenueSum'+$index+''+$parent.$parent.$index] | number:2}}</td>
				<td class="md-cell" style="text-align: right;">{{data1['netCommissionSum'+$index+''+$parent.$parent.$index] | number:2}}</td>
				<td class="md-cell" style="text-align: right;">{{((data1['commissionPctSum'+$index+''+$parent.$parent.$index] | number:2) / (bookingList | filter:{cts_type: data1.cts_type,iata: data.iata}:true).length) | number : 2}}%</td>
				<td class="md-cell" ng-init="data.commissionPctSumPLen = data.commissionPctSumPLen + (bookingList | filter:{cts_type: data1.cts_type,iata: data.iata}:true).length"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
			</tr> -->
			<tr ng-repeat-end class="md-row" ng-repeat="item in dunningActivityList" ng-show="!accountListLoading">
				
				<!-- Agency -->		
				<td class="md-cell"></td>

				<td class="md-cell">{{item.inv_date | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.inv_nbr}}</td>
				<td class="md-cell">{{item.line_nbr}}</td>
				<td class="md-cell">{{item.branch}}</td>
				<td class="md-cell">{{item.account}}</td>
				<td class="md-cell" >{{item.agent}}</td>
				<td class="md-cell">{{item.iata}}</td>
				<td class="md-cell">{{item.in_date | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.out_date | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.trans_date | date:'MM/dd/yyyy'}}</td>
				
				<td class="md-cell">{{item.prop_chain}}</td>
				<td class="md-cell">{{item.prop_name}}</td>
				<td class="md-cell">{{item.prop_address1}}</td>
				<td class="md-cell">{{item.prop_address2}}</td>
				<td class="md-cell">{{item.prop_city}}</td>
				<td class="md-cell">{{item.prop_state}}</td>
				<td class="md-cell">{{item.prop_zip}}</td>
				<td class="md-cell">{{item.first_name}}</td>
				<td class="md-cell">{{item.last_name}}</td>
				<td class="md-cell">{{item.cts_type}}</td>
				<td class="md-cell">{{item.status}}</td>
				<td class="md-cell">{{item.bkg_src}}</td>
				<td class="md-cell">{{item.pnr_id}}</td>
				<td class="md-cell">{{item.confirmation_nbr}}</td>
				<td class="md-cell">{{item.nights}}</td>
				<td class="md-cell">{{item.rate}}</td>
				
				<!-- Expeted commission -->
				<td class="md-cell">{{item.rate}}</td>

				<td class="md-cell">{{item.local_currency}}</td>
				<td class="md-cell">{{item.reference_doc}}</td>
				<td class="md-cell">{{item.batch_nbr}}</td>
				<td class="md-cell">{{item.deposit_date | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.check_num}}</td>

				<!-- Actual commission -->
				<td class="md-cell">123</td>
				<!-- Currency -->
				<td class="md-cell">556</td>
			</tr>
			<tr ng-repeat-end ng-show="false"></tr>
			<tr class="md-row" ng-if="!dunningActivityList.length && !accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="35">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="accountListLoading">
				<td class="text-center" style="padding: 10px" colspan="35">Loading....</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination ng-if="dunningActivityList.length" md-limit="query.limit" md-limit-options="limitOptions" md-page="query
.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>
