<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Extract Report - Xfire</h2>
		<span class="pull-right" style="color: red">* Required </span><br>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<form style="width: 100%;" name="xfire" novalidate="" ng-submit="callFiterData(true)">
					<div class="row custom-row">
						<div class="col-md-1 col-sm-1" style="padding-top: 20px;">
							<label>Deposit Date</label>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<md-datepicker class="start-calender" required ng-change="checkValidDate(commissionByAcountObj.fromDate,commissionByAcountObj.toDate)" ng-model="commissionByAcountObj.fromDate" md-placeholder="From*"></md-datepicker>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<md-datepicker class="start-calender" required md-min-date="commissionByAcountObj.fromDate" ng-model="commissionByAcountObj.toDate" md-placeholder="To*"></md-datepicker>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-2">	
							<md-button type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>
						</div>
						<div class="col-md-2 pull-right">						
							<a class="excel-custom" ng-click="getPDFLink(2)" href="javascript:void(0)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
							<a class="pdf-custom" ng-click="getPDFLink(1)" href="javascript:void(0)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
						</div>
					</div>
				</form>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead id="mainthead" ng-if="!options.decapitate" md-head md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th class="md-column text-center custom-pending"><span>Payment Id</span></th> 
				<th class="md-column text-center"><span>Cts Type</span></th>
				<th class="md-column text-center"><span>Last Name</span></th>
				<th class="md-column text-center"><span>First Name</span></th>
				<th class="md-column text-center"> <span>In Date</span></th>
				<th class="md-column text-center"><span>Out Date</span></th>
				<th class="md-column text-center"> <span>Confirmation</span></th>
				<th class="md-column text-center"><span>Status</span></th>
				<th class="md-column text-center"><span>Net Act Comm</span></th>
				<th class="md-column text-center"><span>Nights</span></th>
				<th class="md-column text-center"><span>Rooms</span></th>
				<th class="md-column text-center"><span>Prop name</span></th>
				<th class="md-column text-center"><span>Prop country</span></th>
				<th class="md-column text-center"><span>Prop address1</span></th>
				<th class="md-column text-center"><span>Prop city</span></th>
				<th class="md-column text-center"><span>Prop phone</span></th>
				<th class="md-column text-center"><span>Branch</span></th>
				<th class="md-column text-center"><span>Account</span></th>
				<th class="md-column text-center"><span>Agent</span></th>
				<th class="md-column text-center"><span>IATA</span></th>
				<th class="md-column text-center"><span>Booking Id</span></th>
				<th class="md-column text-center"><span>Extra1</span></th>
				<th class="md-column text-center"><span>Extra2</span></th>
				<th class="md-column text-center"><span>Extra3</span></th>
				<th class="md-column text-center"><span>Extra4</span></th>
				<th class="md-column text-center"><span>Extra5</span></th>
				<th class="md-column text-center"><span>Deposit date</span></th>
				<th class="md-column text-center"><span>Check Num</span></th>
				<th class="md-column text-center"><span>Check Date</span></th>
				<th class="md-column text-center"><span>Unmatched</span></th>
				<th class="md-column text-center"><span>Pay Start</span></th>
				<th class="md-column text-center"><span>Pay End</span></th>
				<th class="md-column text-center"><span>Pay Batch Id</span></th>
				<th class="md-column text-center"><span>Prop City Code</span></th>
				<th class="md-column text-center"><span>Prop Chain</span></th>
				<th class="md-column text-center"><span>Pay Source</span></th>
				<th class="md-column text-center"><span>Ta Sys Id</span></th>
				<th class="md-column text-center"><span>Bkg Src</span></th>
				<th class="md-column text-center"><span>Back Office</span></th>
				<th class="md-column text-center"><span>Invoice Num</span></th>
				<th class="md-column text-center"><span>Create Date</span></th>
				<th class="md-column text-center"><span>Net Pay Currency</span></th>
				<th class="md-column text-center"><span>Booking PCC</span></th>
				<th class="md-column text-center"><span>Agent PCC</span></th>
				<th class="md-column text-center"><span>Gds Status</span></th>
				<th class="md-column text-center"><span>Rate Code</span></th>
				<th class="md-column text-center"><span>Cd</span></th>
				<th class="md-column text-center"><span>City Code</span></th>
				<th class="md-column text-center"><span>Rate Currency</span></th>
				<th class="md-column text-center"><span>Pnr Id</span></th>
				<th class="md-column text-center"><span>Net Rate</span></th>
				<th class="md-column text-center"><span>Bkg Prop Chain</span></th>
				<th class="md-column text-center"><span>Hotel Id</span></th>
				<th class="md-column text-center"><span>Ta Id</span></th>
				<th class="md-column text-center"><span>Claim Date</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr ng-repeat-end class="md-row" ng-repeat="item in xfireList" ng-show="!xfireListLoading">
				<td class="md-cell">{{item.payment_id}}</td>
				<td class="md-cell">{{item.cts_type}}</td>
				<td class="md-cell">{{item.last_name}}</td>
				<td class="md-cell">{{item.first_name}}</td>
				<td class="md-cell">{{item.in_date | date : 'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.out_date | date : 'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.confirmation}}</td>
				<td class="md-cell">{{item.status}}</td>
				<td class="md-cell" style="text-align: right;">{{item.net_act_comm | number : 2}}</td>
				<td class="md-cell">{{item.nights}}</td>
				<td class="md-cell">{{item.rooms}}</td>
				<td class="md-cell">{{item.prop_name}}</td>
				<td class="md-cell">{{item.prop_country}}</td>
				<td class="md-cell">{{item.prop_address1}}</td>
				<td class="md-cell">{{item.prop_city}}</td>
				<td class="md-cell">{{item.prop_phone}}</td>
				<td class="md-cell">{{item.branch}}</td>
				<td class="md-cell">{{item.account}}</td>
				<td class="md-cell">{{item.agent}}</td>
				<td class="md-cell">{{item.iata}}</td>
				<td class="md-cell">{{item.booking_id}}</td>
				<td class="md-cell">{{item.extra1}}</td>
				<td class="md-cell">{{item.extra2}}</td>
				<td class="md-cell">{{item.extra3}}</td>
				<td class="md-cell">{{item.extra4}}</td>
				<td class="md-cell">{{item.extra5}}</td>
				<td class="md-cell">{{item.deposit_date | date : 'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.check_num}}</td>
				<td class="md-cell">{{item.check_date | date : 'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.unmatched}}</td>
				<td class="md-cell">{{item.pay_start | date : 'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.pay_end | date : 'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.pay_batch_id}}</td>
				<td class="md-cell">{{item.prop_city_code}}</td>
				<td class="md-cell">{{item.prop_chain}}</td>
				<td class="md-cell">{{item.pay_source}}</td>
				<td class="md-cell">{{item.ta_sys_id}}</td>
				<td class="md-cell">{{item.bkg_src}}</td>
				<td class="md-cell">{{item.back_office}}</td>
				<td class="md-cell">{{item.invoice_num}}</td>
				<td class="md-cell">{{item.create_date | date : 'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.net_pay_currency}}</td>
				<td class="md-cell">{{item.bookingPCC}}</td>
				<td class="md-cell">{{item.agentPCC}}</td>
				<td class="md-cell">{{item.gdsStatus}}</td>
				<td class="md-cell">{{item.rateCode}}</td>
				<td class="md-cell">{{item.cd}}</td>
				<td class="md-cell">{{item.cityCode}}</td>
				<td class="md-cell">{{item.rateCurrency}}</td>
				<td class="md-cell">{{item.pnr_id}}</td>
				<td class="md-cell" style="text-align: right;">{{item.net_rate | number:2}}</td>
				<td class="md-cell">{{item.bkg_prop_chain}}</td>
				<td class="md-cell">{{item.hotel_id}}</td>
				<td class="md-cell">{{item.ta_id}}</td>
				<td class="md-cell">{{item.claimDate | date:'MM/dd/yyyy'}}</td>


			</tr>
			<tr ng-repeat-end ng-show="false"></tr>
			<tr class="md-row" ng-if="!xfireList.length && !xfireListLoading">
				<td class="text-center" style="padding: 10px" colspan="55">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="xfireListLoading">
				<td class="text-center" style="padding: 10px" colspan="55">Loading....</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination ng-if="xfireList.length && !xfireListLoading" md-limit="query.limit" md-limit-options="limitOptions" md-page="query
.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-tab le-pagination>
</md-card>
</article>
</section>

<!-- <script>
	if($(".floatThead-wrapper .md-table").length > 0){
		$(".floatThead-wrapper .md-table").floatThead({ scrollingTop: 50 });
	}else{
		console.log("NOT FOUND ***** ");
	}
</script> -->