<toaster-container toaster-options="tosterOption"></toaster-container>
<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">House Bookings Report</h2>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<div class="col-md-12">						
					<a class="excel-custom" href="javascript:void(0)" ng-click="getPDFLink(2)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
					<a class="pdf-custom" href="javascript:void(0)" ng-click="getPDFLink(1)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
				</div>
			</md-card-title>
		</md-card>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th md-column class="text-center custom-pending"><span>Business Unit</span></th>
				<th md-column class="text-center"><span>Deposit Date</span></th> 
				<th md-column class="text-center"><span>Batch</span></th>
				<th md-column class="text-center"><span>ID</span></th>
				<th md-column class="text-center"><span>&nbsp;</span></th>
				<th md-column class="text-center"><span>Agent</span></th>
				<th md-column class="text-center"><span>Property Name</span></th> 
				<th md-column class="text-center"><span>Property Phone</span></th>
				<th md-column class="text-center"><span>Commission</span></th>
				<th md-column class="text-center"><span>Guest</span></th>
				<th md-column class="text-center"><span>Arrival Date</span></th> 
				<th md-column class="text-center"><span>Check Number</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row" md-select="houseBkReport" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="data in houseBkReport">
				<td md-cell>{{data.Business_Unit}}</td>
				<td md-cell>{{data.Deposit_Date | date:'MM/dd/yyyy'}}</td>
				<td md-cell>{{data.batch_id}}</td>
				<td md-cell class="text-center"><a href="#" title="{{data.id}}" ng-click="showConfirmPopup($event,data,'House Bookings Report')">{{data.id}}</a></td>
				<td class="md-cell"><a ng-if="getDocIdNumber(data.doc_id)" href="#" ng-click="GetControlData({'booking_id':data.booking_id,'payment_id':data.payment_id})"><i class="fa fa-eye" style="font-size: 17px; color: rgba(0,0,0,.87);" aria-hidden="true"></i></a></td>
				<td md-cell>{{data.Agent}}</td>
				<td md-cell>{{data.Property_Name}}</td>
				<td md-cell>{{data.Property_Phone}}</td>
				<td md-cell>{{data.Commission}}</td>
				<td md-cell>{{data.Guest}}</td>
				<td md-cell>{{data.Arrival_Date | date:'MM/dd/yyyy'}}</td>
				<td md-cell>{{data.Check_Number}}</td>
			</tr>
			<tr class="md-row" ng-if="!loadingData && !houseBkReport.length">
				<td md-cell colspan="12" class="text-center" style="padding: 10px; text-align: center;">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="loadingData">
				<td md-cell colspan="12" class="text-center" style="padding: 10px; text-align: center;">Loading...</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination md-limit="query.limit" ng-if="houseBkReport.length" md-limit-options="limitOptions" md-page="query
.page" md-total="{{houseBookingsReportLength}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>