<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Not Provided Report</h2>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<div class="row custom-row">
					<div class="col-md-12">						
						<a class="excel-custom" href="javascript:void(0)" ng-click="getPDFLink(2)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
						<a class="pdf-custom" href="javascript:void(0)" ng-click="getPDFLink(1)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
					</div>
				</div>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th class="md-column text-center custom-pending">
					<span>Business Unit</span>
				</th>
				<th class="md-column text-center"><span>Deposit Date</span></th> 
				<th class="md-column text-center"> <span>Batch</span></th>
				<th class="md-column text-center"><span>ID</span></th>
				<th class="md-column text-center"><span>&nbsp;</span></th>
				<th class="md-column text-center"><span>Agent</span></th>
				<th class="md-column text-center"> <span>Property Name</span></th>
				<th class="md-column text-center"><span>Property Phone</span></th>
				<th class="md-column text-center"> <span>Commission</span></th>
				<th class="md-column text-center"><span>Currency</span></th>
				<th class="md-column text-center"><span>Guest</span></th>
				<th class="md-column text-center"><span>Arrival Date</span></th>
				<th class="md-column text-center"><span>Check Number</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row customBGColor" ng-show="notProvidedList.length && !notProvidedListLoading" md-select="notProvidedList" ng-repeat-start="data in notProvidedList">
				<td class="md-cell" colspan="8"><i ng-init="selectRow[$index] = 'true'" ng-click="selectRow[$index] = !selectRow[$index]" ng-class="(selectRow[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{data.Bu}}</td>
				<!-- <td class="md-cell" style="text-align: right;" ng-init="finalTotal1 = totalCommission(data.list)">{{finalTotal | number:2}}</td> -->
				<td class="md-cell" style="text-align: right;" ng-init="ttlmain = 0">${{ttlmain | number : 2}}</td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
			</tr>
			<tr class="md-row customBGColor1" ng-show="selectRow[$index] && notProvidedList.length && !notProvidedListLoading">
				<td class="md-cell" colspan="2">{{data.list[0].businessUnit}}</td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<!-- <td class="md-cell" style="text-align: right;" ng-init="finalTotal = totalCommission(data.list)">{{finalTotal | number:2}}</td> -->
				<td class="md-cell" style="text-align: right;" ng-init="ttl = findTotal(data.Bu)">${{ttl | number : 2}}</td>
				<td class="md-cell" ng-init="ttlmain = ttlmain + ttl"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
			</tr>
			<tr ng-show="selectRow[$parent.$index] && notProvidedList.length && !notProvidedListLoading" class="md-row" ng-repeat="item in data.list | limitTo:(item.limitTo) ? item.limitTo : 50">
				<td class="md-cell">{{item.businessUnit}}</td>
				<td class="md-cell">{{item.Deposit_Date | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.batch_id}}</td>
				<td md-cell class="text-center"><a href="#" title="{{item.id}}" ng-click="showConfirmPopup($event,item,'Not Provided Report')">{{item.id}}</a></td>
				<td class="md-cell"><a ng-if="getDocIdNumber(item.doc_id)" href="#" ng-click="GetControlData({'booking_id':item.booking_id,'payment_id':item.payment_id})"><i class="fa fa-eye" style="font-size: 17px; color: rgba(0,0,0,.87);" aria-hidden="true"></i></a></td>
				<td class="md-cell">{{item.Agent}}</td>
				<td class="md-cell">{{item.prop_name}}</td>
				<td class="md-cell">{{item.prop_phone}}</td>
				<td class="md-cell" style="text-align: right;">{{item.Commission | number : 2}}</td>
				<td class="md-cell">{{item.currency}}</td>
				<td class="md-cell">{{item.Guest}}</td>
				<td class="md-cell">{{item.Arrival_Date | date:'MM/dd/yyyy'}}</td>
				<td class="md-cell" style="text-align: center;" ng-init="data.finalDataLen[$parent.$index] = (data.list).length">{{item.check_num}}</td>
			</tr>
			<tr>
				<td class="md-cell" ng-show="selectRow[$index] && ((item.limitTo) ? item.limitTo < data.finalDataLen[$index+''+$parent.$index] : data.finalDataLen[$index] > 50)" colspan="13">
					<md-button ng-click="item.limitTo = item.limitTo + 100" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Load More</md-button>
				</td>
			</td>
		</tr>
		<tr ng-repeat-end ng-show="false"></tr>
		<tr class="md-row" ng-if="!notProvidedList.length && !notProvidedListLoading">
			<td class="text-center" style="padding: 10px" colspan="13">{{noData}}</td>
		</tr>
		<tr class="md-row" ng-if="notProvidedListLoading">
			<td class="text-center" style="padding: 10px" colspan="13">Loading...</td>
		</tr>
	</tbody>
</table>
</md-table-container>
<md-table-pagination md-label="{rowsPerPage: 'Business Units Per Page:'}" ng-show="notProvidedList.length && !notProvidedListLoading" md-limit="query.limit" md-limit-options="limitOptions" md-page="query
.page" md-total="{{notProvidedListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>
