<!-- <toaster-container toaster-options="tosterOption"></toaster-container> -->

<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Change Password</h2>
		<span class="pull-right" style="color: red">* Required </span><br>
		<div ng-if="changePasswordMessage" style="text-align: center; color: red; margin: 11px 1px 20px;">{{changePasswordMessage}}</div>
		<div ng-cloak>
			<md-content>
				<form name="login_form" ng-submit="changePassword(user)" novalidate>
					<div class="col-md-12">
						<div class="col-md-6" style="padding-top: 10px;">
							<md-input-container class="md-block flex-gt-sm">
								<label>Current Password</label>
								<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
								<input required type="password" name="currentPassword" ng-model="user.currentPassword" limit-to="50"/>
								<div ng-messages="login_form.currentPassword.$error" multiple ng-if='login_form.currentPassword.$dirty'>
									<div ng-message="required">This is required.</div>
								</div>
							</md-input-container>
						</div>    
					</div>
					<div class="col-md-12">    
						<div class="col-md-6">
							<div layout-gt-sm="row" class="layout-gt-sm-row">
								<md-input-container class="md-block flex-gt-sm">
									<label>New Password</label>
									<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
									<input required type="password" name="password" ng-model="user.password" limit-to="50"/>
									<div ng-messages="login_form.password.$error" multiple ng-if='login_form.password.$dirty'>
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
							</div>  
						</div>  
			            <!-- </div>
			            <div layout-gt-sm="row" class="layout-gt-sm-row"> -->
			            	<div class="col-md-6">
			            		<md-input-container class="md-block flex-gt-sm">
			            			<label>ReEnter Password</label>
			            			<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
			            			<input required type="password" name="confirmPassword" ng-model="user.confirmPassword" limit-to="50"/>
			                    <!-- <div class="error" ng-show="login_form.confirmPassword.$error && login_form.confirmPassword.$dirty">
                                        {{getError(login_form.confirmPassword.$error)}}
                                    </div> -->
                                    <div required ng-messages="login_form.confirmPassword.$error" multiple ng-if='login_form.confirmPassword.$dirty'>
                                    	<div ng-message="required">This is required.</div>
                                    	<div style="font-size: 12px; padding-top: 5px;">{{checkPassword(user.password,user.confirmPassword)}}</div>
                                    	<!-- <div ng-message="required">{{checkPassword(user.password,user.confirmPassword)}}</div> -->
                                    </div>
                                </md-input-container>
                            </div>    
                        </div>
                        <div class="col-md-12">
                        	<div class="pull-right">
                        		<!-- ng-disabled="submitBtn" -->
                        		<md-button type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">{{updateLoading?'Saving...' : 'Save'}}</md-button>
                        		<md-button type="button" class="md-raised btn-w-md md-default md-button md-ink-ripple md-button" ng-click="redirectToHomePage()">Cancel</md-button>
                        	</div>
                        </div>

                    </div>
                </form>	
            </md-content>
        </div>
    </article>
</section>