<!-- <toaster-container toaster-options="tosterOption"></toaster-container> -->
<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">User Maintenance</h2>
		<div class="divider divider-md"></div>
		<fieldset>
			<div class="col-md-12 col-sm-12">
				<md-card class="no-margin-h">
					<md-card-title style="padding-top: 25px;">
						<div class="col-md-12">
							<div class="col-md-2" style="top: 5px; top: 20px">
								User id
							</div>	
							<div class="col-md-6" style="top: 20px">
								<md-select ng-model="userID" placeholder="{{userListLoding?'Loading...' : '--- Select User ---'}}" class="md-no-underline" ng-change="getUserData(this, true)">
									<md-option ng-value="select">--- Select User ---</md-option>
									<md-option ng-value="list.userID" ng-repeat="list in userList">{{list.userID}} - {{list.name}}</md-option><!-- | orderBy : 'userID' -->
								</md-select>
								<!-- <md-select ng-model="userID" placeholder="{{userListLoding?'Loading...' : 'User Id'}}" class="md-no-underline" ng-change="getUserData(this)"><md-option value="CTS">CTS</md-option></md-select> -->
							</div>	
							<div class="col-md-3" style="left: 5%; bottom: 5px; width: 30%">
								<md-input-container class="md-block flex-gt-sm custom-set-box">
									<md-autocomplete id="DeAcc" md-search-text="descriptionText" md-selected-item="selectedItem" md-item-text="item.selectedItemVal" md-min-length="0" md-no-asterisk="false" md-escape-options="blur" placeholder="Search user" md-items="item in querySearch(descriptionText) | limitTo:35" md-autoselect="true" md-select-on-match="true" md-selected-item-change="getUserData(item, null)">
										<md-item-template>
											<span md-highlight-text="descriptionText" md-highlight-flags="^i">{{item.selectedItemVal = item.userID + ' - ' + item.name}}</span>
										</md-item-template>
									</md-autocomplete>
								</md-input-container>
							</div>
						</div>	
					</md-card-title>	
				</md-card>
			</div>
		</fieldset>
		<div class="divider divider-md"></div>
		<div class="text-center">
			<span>{{loading?'Loading...' : ''}}</span>
		</div>
		<div ng-show="displayUserDetails && !loading">
			<span class="pull-right" style="color: red">* Required </span><br>
			<div ng-cloak>
				<md-content>
					<form name="login_form" ng-submit="updateUserData(userData)" novalidate>
						<md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab">
							<md-tab label="Information">
								<md-content class="md-padding">
									<!-- <h1 class="md-display-2">Information</h1> -->
									<!-- ***** Page content starts *****  -->
									<div class="col-md-12">
										<fieldset>
											<div layout-gt-sm="row" class="layout-gt-sm-row">
												<md-input-container class="md-block flex-gt-sm">
													<label>Name</label>
													<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
													<input required type="text" name="name" ng-model="userData.user.name" limit-to="50" style="width:300px" />
													<div ng-messages="login_form.name.$error" multiple ng-if='login_form.name.$dirty'>
														<div ng-message="required">This is required.</div>
													</div>
												</md-input-container>
											</div>
											<div layout-gt-sm="row" class="layout-gt-sm-row">
												<md-input-container class="md-block flex-gt-sm">
													<label>Address 1</label>
													<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
													<input type="text" name="address1" ng-model="userData.user.address1" limit-to="50" />
													<!-- <div ng-messages="login_form.address1.$error" multiple ng-if='login_form.address1.$dirty'>
														<div ng-message="required">This is required.</div>
													</div> -->
												</md-input-container>
												<md-input-container class="md-block flex-gt-sm">
													<label>Address 2</label>
													<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
													<input type="text" name="address2" ng-model="userData.user.address2" limit-to="50" />
													<!-- <div ng-messages="login_form.address2.$error" multiple ng-if='login_form.address2.$dirty'>
														<div ng-message="required">This is required.</div>
													</div> -->
												</md-input-container>
											</div>
											<div layout-gt-sm="row" class="layout-gt-sm-row">
												<md-input-container class="md-block flex-gt-sm md-input-has-value">
													<label>City</label>
													<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
													<input type="text" name="city" ng-model="userData.user.city" limit-to="30"/>
													<!-- <div ng-messages="login_form.city.$error" multiple ng-if='login_form.city.$dirty'>
														<div ng-message="required">This is required.</div>
													</div> -->
												</md-input-container>   
												<md-input-container class="md-block flex-gt-sm md-input-has-value" >
													<label>State</label>
													<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
													<input type="text" name="state" ng-model="userData.user.state" limit-to="2"/>
													<!-- <div ng-messages="login_form.state.$error" multiple ng-if='login_form.state.$dirty'>
														<div ng-message="required">This is required.</div>
													</div> -->
												</md-input-container>
												<md-input-container class="md-block flex-gt-sm md-input-has-value">
													<label>Zip</label>
													<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
													<input type="text" name="zip" ng-model="userData.user.zip" limit-to="10"/>
													<!-- <div ng-messages="login_form.zip.$error" multiple ng-if='login_form.zip.$dirty'>
														<div ng-message="required">This is required.</div>
													</div> -->
												</md-input-container>
											</div>
											<div layout-gt-sm="row" class="layout-gt-sm-row">
												<md-input-container class="md-block flex-gt-sm md-input-has-value">
													<label>Email</label>
													<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
													<input type="email" name="email" ng-model="userData.user.email" limit-to="128" required/>
													<!-- ng-pattern="/^.+@.+\..+$/" -->

													<!-- <div ng-messages="login_form.email.$error" multiple ng-if='login_form.email.$dirty'>
														<div ng-message="required">This is required.</div>
														<div ng-message="pattern">It must be an e-mail address.</div>
													</div> -->
													<div ng-messages="login_form.email.$error" multiple ng-if='login_form.email.$dirty'>
														<div ng-message="required">This is required.</div>
													</div>
													<div class="error" ng-show="login_form.email.$error.email">
														<div style="font-size: 12px; padding-top: 5px; color: #e14924;">Invalid Email.</div>
													</div>
												</md-input-container>
											</div>
											<div layout-gt-sm="row" class="layout-gt-sm-row">
												<md-input-container class="md-block flex-gt-sm md-input-has-value">
													<label>Phone</label>
													<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
													<input type="text" name="phone" ng-model="userData.user.phone"  style="width:300px" limit-to="30"/>
													<!-- <div ng-messages="login_form.phone.$error" multiple ng-if='login_form.phone.$dirty'>
														<div ng-message="required">This is required.</div>
													</div> -->
												</md-input-container>
											</div>
											<div layout-gt-sm="row" class="layout-gt-sm-row">
												<md-input-container class="md-block flex-gt-sm md-input-has-value">
													<label>Fax</label>
													<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
													<input type="text" name="fax" ng-model="userData.user.fax"  style="width:300px" limit-to="30"/>
													<!-- <div ng-messages="login_form.fax.$error" multiple ng-if='login_form.fax.$dirty'>
														<div ng-message="required">This is required.</div>
													</div> -->
												</md-input-container>
											</div>
											<div layout-gt-sm="row" class="layout-gt-sm-row">
												<md-input-container class="md-block flex-gt-sm md-input-has-value">
													<label>Password</label>
													<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
													<input type="password" name="password" ng-model="userData.user.password" limit-to="16" limit-to="16" placeholder="******" />
													<div ng-messages="login_form.password.$error" multiple ng-if='login_form.password.$dirty'>
														<div ng-message="required">This is required.</div>
														<div style="font-size: 12px; padding-top: 5px; color: red">{{checkPassword(userData.user.password, userData.user.reEnterPassword)}}</div>
													</div>
												</md-input-container>
												<md-input-container class="md-block flex-gt-sm md-input-has-value">
													<label>ReEnter Password</label>
													<input type="password" name="reEnterPassword" ng-model="userData.user.reEnterPassword" limit-to="16" limit-to="16" placeholder="******"/>
													<div ng-messages="login_form.reEnterPassword.$error" multiple ng-if='login_form.reEnterPassword.$dirty'>
														<div ng-message="required">This is required.</div>
														<div style="font-size: 12px; padding-top: 5px; color: red">{{checkPassword(userData.user.password, userData.user.reEnterPassword)}}</div>
													</div>
												</md-input-container>
											</div>
											<label>Active</label>
											<md-select ng-model="userData.user.active" placeholder="Active" class="md-no-underline" style="width: 300px;">
												<md-option ng-value="1">Yes</md-option>
												<md-option ng-value="0">No</md-option>
											</md-select>
										</fieldset>
									</div>
									<!-- ***** Page content ends *****  -->

								</md-content>
							</md-tab>
							<md-tab label="Reports">
								<md-content class="md-padding">
									<!-- <h1 class="md-display-2">Reports</h1> -->

									<!-- ***** Page content starts *****  -->

									<div class="col-md-12">
										<br>
										<fieldset>
											<div>
												<md-checkbox ng-model="userData.user_Permissions.enableQuickFind" aria-label="Checkbox 1">
													Enable Quick Find for user
												</md-checkbox><br>
												<md-checkbox ng-model="userData.user_Permissions.enableCTSLookup" aria-label="Checkbox 1">
													Enable Locate by CTS Payment ID
												</md-checkbox><br>
												<md-checkbox ng-model="userData.user_Permissions.enableCTSRecordLookup" aria-label="Checkbox 1">
													Enable Locate by Web ID
												</md-checkbox>
											</div>
										</fieldset>    

										<label>Viewable Reports:</label><br>
										<span ng-if="!userData.userReports">-- No Reports --</span>
										<fieldset>
											<div ng-repeat="userRpts in userData.userReports | orderBy : 'WebReportData.title'">
												<md-checkbox ng-model="userRpts.selected" aria-label="Checkbox 1">
													{{userRpts.WebReportData.title}}
												</md-checkbox><br>
											</div>
										</fieldset>
									</div>    

									<!-- ***** Page content ends *****  -->


								</md-content>
							</md-tab>
							<md-tab label="Permission">
								<md-content class="md-padding">
									<!-- <h1 class="md-display-2">Permission</h1> -->

									<!-- ***** Page content starts *****  -->

									<div class="col-md-12">
										<br>
										<label>Restrict user by:</label>
									</div>    
									<div class="col-md-12">
										<br>
										<!-- <label>Unit: </label> -->
										<md-select ng-model="userData.user.unit" placeholder="Unit" class="md-no-underline" style="width: 300px">
											<md-option ng-value="list.ta_id" ng-repeat="list in unitList">{{list.businessUnitDescription}}</md-option>
										</md-select>

										<!-- <md-input-container class="md-block"> -->
										<!-- <label>Branch</label> -->
										<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
										<!-- <input type="text" name="branch" ng-model="userData.user.branch" limit-to="500" style="width:300px" /> -->
											<!-- <div ng-messages="login_form.branch.$error" multiple ng-if='login_form.branch.$dirty'>
												<div ng-message="required">This is required.</div>
											</div> -->
											<!-- </md-input-container> -->

											<md-input-container class="md-block">
												<label>Agent</label>
												<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
												<input type="text" name="agent" ng-model="userData.user.agent" limit-to="500" style="width:300px" />
											<!-- <div ng-messages="login_form.agent.$error" multiple ng-if='login_form.agent.$dirty'>
												<div ng-message="required">This is required.</div>
											</div> -->
										</md-input-container>

										<md-input-container class="md-block">
											<label>IATA:</label>
											<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
											<input type="text" name="iata" ng-model="userData.user.iata" limit-to="500" style="width:300px" />
											<!-- <div ng-messages="login_form.iata.$error" multiple ng-if='login_form.iata.$dirty'>
												<div ng-message="required">This is required.</div>
											</div> -->
										</md-input-container>

										<md-input-container class="md-block">
											<label>Account:</label>
											<!-- <md-icon class="material-icons">mail_outline</md-icon> -->
											<input type="text" name="account" ng-model="userData.user.account" limit-to="500" style="width:300px" />
											<!-- <div ng-messages="login_form.account.$error" multiple ng-if='login_form.account.$dirty'>
												<div ng-message="required">This is required.</div>
											</div> -->
										</md-input-container>

										<label>User's claiming capacity is:</label>

										<md-radio-group ng-model="userData.user.capacity">
											<md-radio-button ng-value="0" class="md-primary">Does not claim</md-radio-button>
											<md-radio-button ng-value="1" class="md-primary">Agent</md-radio-button>
											<md-radio-button ng-value="2" class="md-primary">Accounting</md-radio-button>
										</md-radio-group>

										<label>Permissions:</label><br>
										<md-checkbox ng-model="userData.user_Permissions.allowBatchRelease" aria-label="Checkbox 1">
											Allow user to release batches

										</md-checkbox><br>
										<md-checkbox ng-model="userData.user.allowMaintainAllCustomReports" aria-label="Checkbox 1">
											Allow user to maintain custom reports for ALL users

										</md-checkbox><br>

										<md-checkbox ng-model="userData.user_Permissions.businessCalendar" aria-label="Checkbox 1">
											Allow user to maintain Business Calendar

										</md-checkbox><br>
										<div class='col-md-12'>
											<div class='col-md-3'>
												<md-checkbox ng-model="userData.user_Permissions.maintainBusinessCalendar_Dates" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.businessCalendar">
													Maintain calendar dates

												</md-checkbox><br>
											</div>	

										</div>
										<div class='col-md-12'>
											<div class='col-md-3'>
												<md-checkbox ng-model="userData.user_Permissions.maintainBusinessCalendar_Close" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.businessCalendar">
													Maintain calendar close

												</md-checkbox><br><br>
											</div>	
										</div>	

										<md-checkbox ng-model="userData.user_Permissions.paymentRecordupdate" aria-label="Checkbox 1">
											Allow payment record update
										</md-checkbox>
										<div class="col-md-12">
											<div class="col-md-12">
												<table class="md-table table table-bordered custom-margin" ng-disabled="!Parameters.paymentRecordupdate">
													<thead>
														<tr>

															<th class="mdl-data-table__cell--non-numeric">Travel</th>
															<th class="mdl-data-table__cell--non-numeric">Booking</th>
															<th>Property</th>
															<th>Commission</th>
														</tr>
													</thead>
													<tbody>
														<tr>

															<td class="mdl-data-table__cell--non-numeric">
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_Type" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																</md-checkbox>
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_Type" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																	Type
																</md-checkbox>
															</td>
															<td class="mdl-data-table__cell--non-numeric">
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_Confirmation" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																</md-checkbox>
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_Confirmation" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																	Confirmation
																</md-checkbox>
															</td>
															<td class="mdl-data-table__cell--non-numeric">
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyChain" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																</md-checkbox>
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_PropertyChain" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																	Chain
																</md-checkbox>
															</td>
															<td class="mdl-data-table__cell--non-numeric">
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_DepositDate" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																</md-checkbox>
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_DepositDate" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																	Deposit Date
																</md-checkbox>
															</td>
														</tr>
														<tr>

															<td class="mdl-data-table__cell--non-numeric">
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_LastName" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																</md-checkbox>
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_LastName" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																	Last Name
																</md-checkbox>
															</td>
															<td class="mdl-data-table__cell--non-numeric">
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_IATA" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																</md-checkbox>
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_IATA" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																	IATA
																</md-checkbox>
															</td>
															<td class="mdl-data-table__cell--non-numeric">
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyName" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																</md-checkbox>
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_PropertyName" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																	Name
																</md-checkbox>
															</td>
															<td class="mdl-data-table__cell--non-numeric">
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_CheckNo" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																</md-checkbox>
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_CheckNo" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																	Check No
																</md-checkbox>
															</td>
														</tr>
														<tr>
															<td class="mdl-data-table__cell--non-numeric">
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_FirstName" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																</md-checkbox>
																<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_FirstName" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
																	First Name
																</md-checkbox>
															</td>
                                        <!-- <td class="mdl-data-table__cell-non-numeric">
                                            <md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_Branch" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                                Branch
                                            </md-checkbox>
                                        </td> -->

                                        <td class="mdl-data-table__cell--non-numeric">
                                        	<md-checkbox ng-model="userData.user_Permissions.updatePayments_Agent" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                        	</md-checkbox>
                                        	<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_Agent" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                        		Agent
                                        	</md-checkbox>
                                        </td>
                                        <!-- <td class="mdl-data-table__cell--non-numeric">
                                        	<md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyCity" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                        	</md-checkbox>
                                        	<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_PropertyCity" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                        		City
                                        	</md-checkbox>
                                        </td> -->
                                        <td class="mdl-data-table__cell--non-numeric">
                                        	<md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyAddress" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                        	</md-checkbox>
                                        	<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_PropertyAddress" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                        		Address
                                        	</md-checkbox>
                                        </td>
                                        <td class="mdl-data-table__cell--non-numeric">
                                        	<md-checkbox ng-model="userData.user_Permissions.updatePayments_CheckDate" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                        	</md-checkbox>
                                        	<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_CheckDate" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                        		Check Date
                                        	</md-checkbox>
                                        </td>

                                    </tr>
                                    <tr>
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_InDate" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_InDate" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			In Date
                                    		</md-checkbox>
                                    	</td>
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_Account" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_Account" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Account
                                    		</md-checkbox>
                                    	</td>
                                    	<!-- <td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_Agent" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Agent
                                    		</md-checkbox>
                                    	</td> -->
                                    	<!-- <td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyState" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_PropertyState" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			State
                                    		</md-checkbox>
                                    	</td> -->
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyCity" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_PropertyCity" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			City
                                    		</md-checkbox>
                                    	</td> 
                                        <!-- <td class="mdl-data-table__cell--non-numeric">
                                            <md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyCity" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                                City
                                            </md-checkbox>
                                        </td> -->
                                        <td class="mdl-data-table__cell--non-numeric">
                                        	<md-checkbox ng-model="userData.user_Permissions.updatePayments_Commissions" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                        	</md-checkbox>
                                        	<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_Commissions" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                        		Commissions
                                        	</md-checkbox>
                                        </td>

                                    </tr>
                                    <tr>
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_OutDate" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_OutDate" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Out Date
                                    		</md-checkbox>
                                    	</td>
                                    	<!-- <td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_Account" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Account
                                    		</md-checkbox>
                                    	</td> -->
                                    	<td></td>
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyState" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_PropertyState" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			State
                                    		</md-checkbox>
                                    	</td> 
                                    	<!-- <td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyZip" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_PropertyZip" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Zip
                                    		</md-checkbox>
                                    	</td> -->
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_Tax1" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_Tax1" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			VAT
                                    		</md-checkbox>
                                    	</td>

                                    </tr>
                                    <tr>
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_Nights" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_Nights" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Nights
                                    		</md-checkbox>
                                    	</td>
                                    	<td></td>
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyZip" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_PropertyZip" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Zip
                                    		</md-checkbox>
                                    	</td>
                                    	<!-- <td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyCountry" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_PropertyCountry" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Country
                                    		</md-checkbox>
                                    	</td> -->
                                    	<td></td>
                                        <!-- <td class="mdl-data-table__cell--non-numeric">
                                            <md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyZip" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                                Zip
                                            </md-checkbox>
                                        </td> -->
                                    </tr>
                                    <tr>
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_Rooms" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_Rooms" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Rooms
                                    		</md-checkbox>
                                    	</td>
                                    	<td></td>
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyCountry" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_PropertyCountry" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Country
                                    		</md-checkbox>
                                    	</td>
                                    	<!-- <td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyPhone" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_PropertyPhone" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Phone
                                    		</md-checkbox>
                                    	</td> -->
                                        <!-- <td class="mdl-data-table__cell--non-numeric">
                                            <md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyCountry" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                                Country
                                            </md-checkbox>
                                        </td> -->
                                        <td></td>
                                    </tr>
                                    <tr>
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_Rate" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_Rate" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Rate
                                    		</md-checkbox>
                                    	</td>
                                    	<td></td>
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyPhone" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_PropertyPhone" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Phone
                                    		</md-checkbox>
                                    	</td>
                                    	<!-- <td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyFax" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_PropertyFax" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Fax
                                    		</md-checkbox>
                                    	</td> -->
                                        <!-- <td class="mdl-data-table__cell--non-numeric">
                                            <md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyPhone" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                                Phone
                                            </md-checkbox>
                                        </td> -->
                                        <td></td>
                                    </tr>
                                    <tr>
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_RateCode" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_RateCode" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Rate Code
                                    		</md-checkbox>
                                    	</td>
                                    	<td></td>
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyFax" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_PropertyFax" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Fax
                                    		</md-checkbox>
                                    	</td>
                                    	<!-- <td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_HotelID" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_HotelID" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Hotel ID
                                    		</md-checkbox>
                                    	</td> -->
                                        <!-- <td class="mdl-data-table__cell--non-numeric">
                                            <md-checkbox ng-model="userData.user_Permissions.updatePayments_PropertyFax" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                                Fax
                                            </md-checkbox>
                                        </td> -->
                                        <td></td>
                                    </tr>
                                    <tr>
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_CorporateDiscount" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_CorporateDiscount" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Corporate Discount
                                    		</md-checkbox>
                                    	</td>
                                    	<!-- <td>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_CityCode" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_CityCode" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			City Code
                                    		</md-checkbox>
                                    	</td> -->
                                    	<td></td>
                                    	<!-- <td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_BookingPCC" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_BookingPCC" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Booking PCC
                                    		</md-checkbox>
                                    	</td> -->
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_HotelID" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_HotelID" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Hotel ID
                                    		</md-checkbox>
                                    	</td>
                                    	<!-- <td>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_CityCode" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_CityCode" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			City Code
                                    		</md-checkbox>
                                    	</td> -->
                                        <!-- <td class="mdl-data-table__cell--non-numeric">
                                            <md-checkbox ng-model="userData.user_Permissions.updatePayments_HotelID" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                                Hotel ID
                                            </md-checkbox>
                                        </td> -->
                                        <td></td>
                                    </tr>
                                    <!-- <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <md-checkbox ng-model="userData.user_Permissions.updatePayments_BookingPCC" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                                Booking PCC
                                            </md-checkbox>
                                        </td>
                                    </tr> -->
                                    <tr>
                                    	<td></td>
                                    	<td></td>
                                    	<td>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_CityCode" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_CityCode" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			City Code
                                    		</md-checkbox>
                                    	</td>
                                    	
                                    	<td></td>
                                    </tr>

                                    <tr>
                                    	<td></td>	
                                    	<td></td>
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_AgentPCC" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_AgentPCC" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Agent PCC
                                    		</md-checkbox>
                                    	</td>
                                    	<td></td>
                                    </tr>
                                    <tr>
                                    	<td></td>	
                                    	<td></td>
                                    	<td class="mdl-data-table__cell--non-numeric">
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_BookingPCC" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    		</md-checkbox>
                                    		<md-checkbox ng-model="userData.user_Permissions.updatePayments_PostRelease_BookingPCC" aria-label="Checkbox 1" ng-disabled="!userData.user_Permissions.paymentRecordupdate">
                                    			Booking PCC
                                    		</md-checkbox>
                                    	</td>
                                    	<td></td>
                                    </tr>


                                </tbody>
                            </table><br>
                        </div>
                    </div>
                </div>      
                <!-- ***** Page content ends *****  -->
            </md-content>
        </md-tab>
    </md-tabs>
    <div class="pull-right">
    	<!-- ng-disabled="!canSubmit()" -->
    	<button type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple md-button">{{userUpdateLoding?'Updating...':'Update'}}</button>
    	<button type="button" class="md-raised btn-w-md md-default md-button md-ink-ripple md-button" ng-click="reDirectPage()">Cancel</button>
    </div>
</form>
</md-content>
</div>
</div>
</article>
</section>