<md-dialog aria-label="Mango (Fruit)" draggable>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Terms of Use</h2>
        <span flex></span>
        <md-button aria-label="menu" class="md-icon-button" style="font-size: 18px;" ng-click="cancel()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        Terms of Use
        <p>Your use of this Site signifies your agreement to these terms and conditions (“Terms”).  If you do not agree to these Terms, please do not use this Site.  We reserve the right to make changes and corrections at any time, without notice, to this Site. <br><br>

          Limitation on Use <br>
          The content and information on this Site, such as prices, and the infrastructure used to provide such content and information, is proprietary to Travel Leaders or its suppliers and providers. You agree not to use this Site or its contents or information for any commercial or non-personal purpose.  In addition, whether or not you have a commercial purpose, you agree not to: <br><br>

          i) access, monitor or copy any content from this Site using a robot, spider, scraper or other automated means or any manual process for any purpose;<br><br>

          ii) violate the restrictions in robot exclusion headers on this Site or bypass or circumvent other measures employed to prevent or limit access to this Site;<br><br>

          iii) take any action that, in Travel Leaders’ sole discretion, imposes an unreasonable or disproportionately large burden on the Site; or<br><br>

          iv) deep-link to any portion of this Site (including, without limitation, the purchase path for any travel services).<br><br>

          Limitation of Liability, No Representations <br>
          We expressly disclaim all liability for the use, reliability, or specific features of this Site, or the content or interpretation of content contained in this Site. A visitor who uses or makes decisions based on information contained on this Site does so at the visitor’s own risk. In exchange for using this Site, the visitor agrees to hold us and our affiliated companies harmless against any claims for damages arising from any decisions that the visitor makes based on such information or any use that the visitor makes on such information contained on this Site. While we have tried to provide accurate and timely information, this Site may contain inadvertent technical or factual inaccuracies and typographical errors. We do not represent or warrant that the information accessible via this site is accurate, complete or current.<br><br>

          INFORMATION ON THIS WEB SITE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS, WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. UNDER NO CIRCUMSTANCES, INCLUDING NEGLIGENCE, SHALL WE BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES THAT RESULT FROM THE USE OF OR INABILITY TO USE THIS SITE, NOR SHALL WE BE RESPONSIBLE FOR ANY DAMAGES WHATSOEVER THAT RESULT FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETION OF FILES, ERRORS, DEFECTS, DELAYS IN OPERATION OR TRANSMISSION, OR ANY FAILURE OF PERFORMANCE WHETHER OR NOT CAUSED BY EVENTS BEYOND OUR REASONABLE CONTROL, INCLUDING BUT NOT LIMITED TO ACTS OF GOD, COMMUNICATIONS LINE FAILURE, THEFT, DESTRUCTION, OR UNAUTHORIZED ACCESS TO THIS SITE’S RECORDS, PROGRAMS, OR SERVICES. IN NO EVENT SHALL OUR TOTAL LIABILITY FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION EXCEED FIVE DOLLARS (US $5.00). SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATIONS OF CERTAIN DAMAGES, SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU. THE AIRLINES, HOTELS AND OTHER SUPPLIERS WHOSE TRAVEL OR OTHER SERVICES ARE OFFERED ON THIS SITE ARE INDEPENDENT CONTRACTORS, NOT AGENTS OR EMPLOYEES OF TRAVEL LEADERS.  TRAVEL LEADERS IS NOT LIABLE FOR THE ACTS, ERRORS, OMISSIONS, REPRESENTATIONS, WARRANTIES, BREACHES, OR NEGLIGENCE OF THESE SUPPLIERS, OR FOR ANY PERSONAL INJURIES, DEATH, PROPERTY DAMAGE, OR OTHER DAMAGES OR EXPENSES RESULTING THEREFROM. TRAVEL LEADERS HAS NO LIABILITY FOR, AND WILL MAKE NO REFUND IN THE EVENT OF, ANY DELAY, CANCELLATION, OVERBOOKING, STRIKE, FORCE MAJEURE OR OTHER CAUSES BEYOND ITS DIRECT CONTROL.  TRAVEL LEADERS TAKES NO RESPONSIBILITY FOR ANY ADDITIONAL EXPENSE, OMISSIONS, DELAYS, RE-ROUTING OR ACTS OF ANY GOVERNMENT OR AUTHORITY. BY OFFERING FOR SALE TRAVEL TO PARTICULAR INTERNATIONAL DESTINATIONS, TRAVEL LEADERS DOES NOT REPRESENT OR WARRANT THAT SUCH TRAVEL IS WITHOUT RISK.<br><br>

          International Travel: You should read government-issued travel prohibitions, warnings, announcements and advisories before booking international travel.  This information can be obtained from www.state.gov, www.tsa.gov, www.dot.gov, www.faa.gov, www.cdc.gov, www.treas.gov/ofac and www.customs.gov.<br><br>

          Promotions and Pricing <br>
          Price and availability of all travel and other services offered on this Site is subject to change without notice.  Tax on hotel and car transactions is a recovery of all applicable transaction taxes (e.g. sales and use, occupancy, room tax, excise tax, value added tax, etc.) that Travel Leaders pays to suppliers in connection with your travel arrangements.  Taxes vary by location and type of service provided.  Travel Leaders is not a co-vendor, and is not the entity that collects and remits taxes to the tax authorities.<br><br>

          The information on this website may contain typographical errors or inaccuracies and may not be complete or current. We therefore reserve the right to correct any errors, inaccuracies or omissions and to change or update information at any time without prior notice. Please note that such errors, inaccuracies or omissions may relate to product/service description, pricing and availability.<br><br>

          Ownership <br>
          Except as otherwise noted, all names, logos and marks appearing on this Site, including, but not limited to: Travel Leaders, are trademarks or service marks owned or used under license by us or our affiliated companies.  The use or misuse of these trademarks or service marks or any other content on this Site, except as expressly permitted in writing by us, is strictly prohibited. The text, graphics and other works of art on this Site may not be reproduced in any medium for any purpose whatsoever. The copyright in the material contained in this Site belongs to and remains with us. Your access to it does not imply a license to reproduce and/or distribute this information and you are not allowed to do so without our prior written consent.<br><br>

          Third Party Links <br>
          This site may contain links to web sites and servers maintained by other persons or organizations.  These links are provided as a service to users and are not sponsored by or affiliated with us.  Information you submit at a third party site accessible from this Site is subject to the terms of that site’s privacy policy, and we have no control over how your information is collected, used, or otherwise handled.  We do not provide any warranty about the accuracy or source of information found on any of these third party sites or servers, or the content of any file the user might choose to download from these third parties.<br><br>

          Privacy/Children <br>
          Please read our Privacy Policy for more details regarding our information collection and use practices.<br><br>

          Miscellaneous <br>
          These Terms operate to the fullest extent permissible by law. If any provision of these Terms is unlawful, void or unenforceable, that provision is deemed severable from these Terms and does not affect the validity and enforceability of any remaining provisions.<br><br>

          These Terms constitute a binding agreement between you and Travel Leaders, and are accepted by you upon your use of the Site or your account. These Terms constitute the entire agreement between you and Travel Leaders regarding the use of the Site and your account.
        </p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('useful')">ok</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>