<section class="app-footer">
	<div class="container-fluid text-center">
		<span class="pull-left1">
			<!-- <span>Copyright © <a class="brand" target="_blank" ng-href="{{app.link}}">{{::app_brand}}</a> {{::app_year}}</span> -->
			<span>Copyright © 2017 PROTRAVEL INTERNATIONAL, LLC | 515 MADISON AVENUE, NYC 10022 | 212.755.4550 | 800.227.1059</span>
		</span>
		<span class="pull-right" ng-if="false">
			<span>Built with Love <i class="material-icons">favorite_border</i></span>
		</span>
	</div>
</section>
