<div class="app-header">
	<div class="app-header-inner bg-light">
		<div class="hidden-lg hidden-md pull-left">
			<a href="" toggle-sidebar class="header-icon toggle-sidebar-btn">
				<i class="material-icons">menu</i>
			</a>
		</div>
		<div class="brand hidden-xs hidden-sm">
			<!-- <h2><a href="#"><img src="{{app_logo}}" alt="{{app_brand}}" title="{{app_brand}}" /></a></h2> -->
			<!-- <h2><a href="#"><img src="src/assets/img/proTravelLogo.png" alt="ProTravel" title="ProTravel" /></a></h2> -->
			<h2><a href="#"><img src="build/assets/img/proTravelLogo.png" alt="ProTravel" title="ProTravel" /></a></h2>
		</div>
		<div class="top-nav-left hidden-xs hidden-sm" ng-if="false">
			<ul class="list-unstyled list-inline">
				<li><md-button class="header-btn" open-search-overlay><i class="material-icons">search</i></md-button></li>
			</ul>
		</div>
		<div class="top-nav-right">
			<ul class="list-unstyled pull-right">
				<li ng-if="false"><a href="" class="header-btn hidden-md hidden-lg" md-button open-search-overlay><i class="material-icons">search</i></a></li>
				<li><label class="userInfo">Welcome {{userDetails.name}} </label></li>
				<li style="margin-top: 5px; font-size: 16px;" class="logout-icons"><md-button style="display: inline-block;" ng-click="signout()"> <md-icon style="margin-right: 5px;" class="material-icons ng-scope">keyboard_tab</md-icon>Logout </md-button></li>
				<!-- <li>
					<md-menu md-position-mode="target-right target">
						<md-button class="header-btn md-button" aria-label="menu" ng-click="$mdOpenMenu($event)">
							<i class="material-icons">face</i>
						</md-button>						
						<md-menu-content>
							<md-menu-item>
								<md-button style="display: inline-block;" ng-click="signout()"> <md-icon class="material-icons ng-scope">keyboard_tab</md-icon>Logout </md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</li> -->
			</ul>
		</div>
	</div>
</div>
