<div class="custom-left-sidebar-contents">
	<nav class="app-sidebar bg-dark" auto-close-mobile-sidebar>
		<section class="sidebar-header bg-primary">
			<span ng-if="false" class="logo-icon material-icons">view_compact</span>
			<!-- <a href="#" class="app_brand"><img src="src/assets/img/proTravelLogoTransparent.png" alt="ProTravel" title="ProTravel" /></a> -->
			<a href="#" class="app_brand"><img src="build/assets/img/proTravelLogoTransparent.png" alt="ProTravel" title="ProTravel" /></a>
			<!-- <img src="{{app_logo}}" alt="{{app_brand}}" title="{{app_brand}}" /> -->
			<a href="" class="collapsednav-toggler" ng-click="toggleCollapsedNav()" ><i class="material-icons">{{togglerIconVal}}</i></a>
		</section>
		<!-- <section class="sidebar-content" ng-include src="'src/app/common/views/sidebar-content.html'"></section> -->
		<section class="sidebar-content" ng-include src="'build/app/common/views/sidebar-content.html'"></section>
		<div>
			<section class="sidebar-footer">
				<ul class="nav">
					<li>
						<a md-button aria-label="menu" target="_blank" ng-href="{{app.link}}" ng-click="showAlert($event)">
							<i class="nav-icon material-icons">help</i><span class="nav-text"><span>Terms of</span> <span>Use</span></span>
						</a>
					</li>
				</ul>
			</section>
		</div>
	</nav>
	<div class="sidebar-BG">
		<a md-button aria-label="menu" target="_blank" ng-href="{{app.link}}" ng-click="showAlert($event)">
			<i class="nav-icon material-icons">help</i><span class="nav-text"><span>Terms of</span> <span>Use</span></span>
		</a>
	</div>
</div>
