<div data-slim-scroll>
	<ul id="navLeftView" class="nav" data-accordion-nav data-highlight-active data-append-sub-menu-icon>
		<!--  data-slim-scroll <li class="nav-header"><span>Navigation</span></li> -->
		<li>
			<a md-button aria-label="menu" class="md-button" ui-sref-active="activeBG" ui-sref="main.home">
				<i class="nav-icon material-icons">home</i><span class="nav-text">Dashboard</span>
			</a>
		</li>
		<!-- ng-if="checkAccess({'menu_id':1,web_menus:true})" -->
		<!-- ng-if="checkMaintainanceShow(showMaintainace)" -->
		<li class="active custom">
			<a md-button aria-label="menu" ui-sref="main.maintenance">
				<i class="nav-icon material-icons">keyboard_arrow_right</i><span class="nav-text">Maintenance </span>
			</a>
			<ul id="scrollbox1">
				<!-- <li class="parent_div" ng-if="checkAccess({'report_id':4,web_menus:false})"> -->
				<li class="parent_div">
					<a class="prepend-icon" md-button aria-label="menu" href="#">
						<i class="material-icons">keyboard_arrow_right</i><span>Users</span>
					</a>
					<ul>
						<!-- <li ng-if="checkAccess({'report_id':42,web_menus:false})"> -->
						<li ng-if="userDetails.superUser">
							<a class="prepend-icon" ui-sref-active="activeBG" ui-sref="main.addUserProfile" md-button aria-label="menu" href="#">
								<i class="material-icons">keyboard_arrow_right</i><span>Add User Profile</span>
							</a>
						</li>
						
						<!-- <li ng-if="checkAccess({'report_id':44,web_menus:false})"> -->
						<li>
							<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.changePassword">
								<i class="material-icons">keyboard_arrow_right</i><span>Change Password</span>
							</a>
						</li>
						<!-- <li ng-if="checkAccess({'report_id':43,web_menus:false})">
							<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.userMaintenance">
								<i class="material-icons">keyboard_arrow_right</i><span>User maintenance</span>
							</a>
						</li> -->
						<li ng-if="userDetails.superUser">
							<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.userMaintenance">
								<i class="material-icons">keyboard_arrow_right</i><span>User maintenance</span>
							</a>
						</li>
					</ul>
				</li>
				<!-- <li ng-if="checkAccess({'report_id':28,web_menus:false})">
					<a class="prepend-icon" ui-sref-active="activeBG" ui-sref="main.resolvedbookingsmatrix" md-button aria-label="menu" href="#">
						<i class="material-icons">keyboard_arrow_right</i><span>Resolved Bookings Matrix</span>
					</a>
				</li> -->
				<li ng-if="checkAccess({'report_id':89,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" ui-sref-active="activeBG" ui-sref="main.extractReportTM1" href="#" title="Extract Report - TM1" >
						<i class="material-icons">keyboard_arrow_right</i><span>Extract Report - TM1</span>
					</a>
				</li>
				<!--
				<li ng-if="checkAccess({'report_id':91,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref="main.snapShotBookingReport" ui-sref-active="activeBG">
						<i class="material-icons">keyboard_arrow_right</i><span>SnapShot Bookings Report</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':3,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" ui-sref="main.unmatchedPayments" ui-sref-active="activeBG" title="Weekly or monthly you can pull a list of payments that were not matched to bookings, double click the payment and the check or file copies are displayed as a pdf. For agencies with Independent Travel Agent, it can reduce the workload and allows anyone the travel agent want to view all unmatched payments and possibly claim.">
						<i class="material-icons">keyboard_arrow_right</i><span>Unmatched Payments</span>
					</a>
				</li> -->
				<li ng-if="checkAccess({'report_id':130,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" ui-sref-active="activeBG" ui-sref="main.whoIsClaiming" href="#">
						<i class="material-icons">keyboard_arrow_right</i><span>Who Is Claiming?</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':19,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref="main.matureBookingsReport" ui-sref-active="activeBG" title="This report will list all bookings on record for the date period entered. Data is grouped by business unit then type.">
						<i class="material-icons">keyboard_arrow_right</i><span>Mature Bookings Report</span>
					</a>
				</li>
				<!--
				<li ng-if="checkAccess({'report_id':31,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref="main.accountSummary" ui-sref-active="activeBG">
						<i class="material-icons">keyboard_arrow_right</i><span>Account Summary</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':32,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref="main.agentSummary" ui-sref-active="activeBG">
						<i class="material-icons">keyboard_arrow_right</i><span>Agent Summary</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':39,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref="main.branchSummary" ui-sref-active="activeBG">
						<i class="material-icons">keyboard_arrow_right</i><span>Branch Summary</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':30,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.chainCodeSummary" title="Condensed status code format.">
						<i class="material-icons">keyboard_arrow_right</i><span>Chain Code Summary</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':54,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.chainCodeSummaryExpanded" title="Expanded status code format.">
						<i class="material-icons">keyboard_arrow_right</i><span>Chain Code Summary - Expanded</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':138,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref="main.dunningActivityDetail" ui-sref-active="activeBG">
						<i class="material-icons">keyboard_arrow_right</i><span>Dunning Activity Detail</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':33,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref="main.IATASummary" ui-sref-active="activeBG">
						<i class="material-icons">keyboard_arrow_right</i><span>IATA Summary</span>
					</a>
				</li> -->
				<li ng-if="checkAccess({'report_id':151,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref="main.CTSBatchMaintenance" ui-sref-active="activeBG" title="Allows the user to change the status of a batch or update and maintain individual payment records within a batch.">
						<i class="material-icons">keyboard_arrow_right</i><span>Batch Maintenance</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':41,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.accountMaintenance">
						<i class="material-icons">keyboard_arrow_right</i><span>Account Maintenance</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':46,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.agencyMaintenance">
						<i class="material-icons">keyboard_arrow_right</i><span>Agency Maintenance</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':40,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.agentMaintenance">
						<i class="material-icons">keyboard_arrow_right</i><span>Agent Maintenance</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':88,web_menus:false})">
					<a class="prepend-icon" ui-sref="main.commentMaintenance" md-button aria-label="menu" href="#" ui-sref-active="activeBG">
						<i class="material-icons">keyboard_arrow_right</i><span>Comment Maintenance</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':45,web_menus:false})">
					<a class="prepend-icon" ui-sref="main.corpMaintenance" ui-sref-active="activeBG" md-button aria-label="menu" href="#">
						<i class="material-icons">keyboard_arrow_right</i><span>Corp Maintenance</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':87,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.businessCalendar">
						<i class="material-icons">keyboard_arrow_right</i><span>Update Business Calendar</span>
					</a>
				</li>

				<!-- <li ng-if="checkAccess({'report_id':68,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref="main.userCreatedReportMaintenance" ui-sref-active="activeBG" title="Allows maintenance of user created custom reports.">
						<i class="material-icons">keyboard_arrow_right</i><span>User Created Report Maintenance</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':1,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.bookingAndPaymentsCombined" title="Is a report that is useful for both the travel agency and travel agencies customers. This reports allows you to: a. Show what you booked and what was received for the date ranged used and shows you differences in hotel payments and estimated commissions therefore making it easy to see if guest stayed longer or shorter amounts of time. b. This also allows the travel agency and corporate customer to view reservations by month and track payments and resolutions that the agency receives over the course of time. This a good report for an agency’` that has revenue share agreements with their corporate customers or agents. By using this reports an agency can show the client how it is working to resolve each booking over time and therefore illustrating to the customer its commitment to lower over costs to the client by collecting and resolving as many bookings made each month as possible.">
						<i class="material-icons">keyboard_arrow_right</i><span>Bookings & Payments Combined</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':4,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.commissionAnalysis" title="This report is a statistical analysis of payment patterns of hotels. It will illustrates the probability of getting paid along with the average length it takes to get paid. With the sorting functions, such as ZIP Code, an agency can view all it hotel vendors, within that ZIP has booked with, and see what hotel has the highest paying percentage or what hotel pay the quickest. It is very useful in directing business to top paying vendors.">
						<i class="material-icons">keyboard_arrow_right</i><span>Commission Analysis</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':9,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" ui-sref-active="activeBG" ui-sref="main.commissionbyaccount">
						<i class="material-icons">keyboard_arrow_right</i><span>Commission By Account</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':8,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" ui-sref-active="activeBG" ui-sref="main.commissionbyagent">
						<i class="material-icons">keyboard_arrow_right</i><span>Commission By Agent</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':38,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" ui-sref-active="activeBG" ui-sref="main.commissionbybranch">
						<i class="material-icons">keyboard_arrow_right</i><span>Commission By Branch</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':21,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" ui-sref-active="activeBG" ui-sref="main.commissionbyIATA">
						<i class="material-icons">keyboard_arrow_right</i><span>Commission By IATA</span>
					</a>
				</li>
				<li ng-if="checkAccess({'report_id':35,web_menus:false})">
					<a class="prepend-icon" md-button aria-label="menu" ui-sref-active="activeBG" ui-sref="main.hotelcommission">
						<i class="material-icons">keyboard_arrow_right</i><span>Hotel Commissions</span>
					</a>
				</li> -->
			</ul>
		</li>

		<!--  ng-if="checkAccess({'menu_id':2,web_menus:true})" -->
		<li class="parent_div" ng-if="checkMaintainanceShow(showReassignment) || checkMaintainanceShow(showBatchRelease) || checkMaintainanceShow(showlistByAccount) || checkMaintainanceShow(showlistByAgent)">
			<a md-button aria-label="menu" href="#">
				<i class="nav-icon material-icons">keyboard_arrow_right</i><span class="nav-text">Commission Payments</span>
			</a>
			<ul>
				<!-- ng-if="checkAccess({'menu_id':6,web_menus:true})" -->
				<li ng-if="checkMaintainanceShow(showReassignment)">
					<a class="prepend-icon" md-button aria-label="menu" href="#">
						<i class="material-icons">keyboard_arrow_right</i><span>Reassignment Reports</span>
					</a>
					<ul>
						<li ng-if="checkAccess({'report_id':17,web_menus:false})">
							<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.importReassignmentReport" title="Review data reassignments that have occured during import.">
								<i class="material-icons">keyboard_arrow_right</i><span>Import Reassignment Report</span>
							</a>
						</li>
					</ul>
				</li>
				<!--  ng-if="checkAccess({'menu_id':7,web_menus:true})" -->
				<li class="parent_div" ng-if="checkMaintainanceShow(showBatchRelease)">
					<a class="prepend-icon" md-button aria-label="menu" href="#">
						<i class="material-icons">keyboard_arrow_right</i><span>Batch Release Process</span>
					</a>
					<ul>
						<li ng-if="checkAccess({'report_id':20,web_menus:false})">
							<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref="main.extractReport" ui-sref-active="activeBG" title="Extract Report">
								<i class="material-icons">keyboard_arrow_right</i><span>Extract Report - Xfire</span>
							</a>
						</li>
						<!-- <li ng-if="checkAccess({'report_id':24,web_menus:false})">
							<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref="main.unmatchedPaymentRpt" ui-sref-active="activeBG" title="This report list payments that have not been matched to a booking with a commission value greater than $1000. Accounting pre-release report. The purpose of this report is to review those payments prior to releasing the batch.">
								<i class="material-icons">keyboard_arrow_right</i><span>Unmatched Payment Report</span>
							</a>
						</li> -->
						<!-- <li ng-if="checkAccess({'report_id':25,web_menus:false})">
							<a class="prepend-icon" md-button aria-label="menu" ui-sref="main.houseBookingsReport" ui-sref-active="activeBG" title="This is a pre-release report. It lists all payment records that are assigned to the default or 'house' agent. This report groups by business unit and allows editing of individual records according to the user's profile.">
								<i class="material-icons">keyboard_arrow_right</i><span>House Bookings Report</span>
							</a>
						</li> -->
						<li ng-if="checkAccess({'report_id':18,web_menus:false})">
							<a class="prepend-icon" md-button aria-label="menu" ui-sref="main.batchReleaseUtility" ui-sref-active="activeBG" title="Batch Release Utility">
								<i class="material-icons">keyboard_arrow_right</i><span>Batch Release Utility</span>
							</a>
						</li>
						<li ng-if="checkAccess({'report_id':23,web_menus:false})">
							<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref="main.notProvidedReport" ui-sref-active="activeBG" title="Accounting pre-release report. Shows payments that have NOTPROVIDED for the last name and have a commission greater than $150.">
								<i class="material-icons">keyboard_arrow_right</i><span>Not Provided Report</span>
							</a>
						</li>
					</ul>
				</li>
				<!-- ng-if="checkAccess({'menu_id':8,web_menus:true})" -->
				<li class="parent_div" ng-if="checkMaintainanceShow(showlistByAccount) || checkMaintainanceShow(showlistByAgent)">
					<a class="prepend-icon" md-button aria-label="menu" href="#">
						<i class="material-icons">keyboard_arrow_right</i><span>Commission Reports</span>
					</a>
					<ul>
						<!--  ng-if="checkAccess({'menu_id':10,web_menus:true})" -->
						<li class="parent_div" ng-if="checkMaintainanceShow(showlistByAccount)">
							<a class="prepend-icon" md-button aria-label="menu" href="#">
								<i class="material-icons">keyboard_arrow_right</i><span>List by Account</span>
							</a>
							<ul>
								<li ng-if="checkAccess({'report_id':65,web_menus:false})">
									<a class="prepend-icon" md-button aria-label="menu" ui-sref-active="activeBG" href="#" ui-sref="main.claimed-AllExcludingHotelAccount" ui-sref="main.claimed-AllExcludingHotelAccount">
										<i class="material-icons">keyboard_arrow_right</i><span>Claimed - All excluding Hotel - Account</span>
									</a>
								</li>
								<li ng-if="checkAccess({'report_id':67,web_menus:false})">
									<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.claimedAllTypeAccount">
										<i class="material-icons">keyboard_arrow_right</i><span>Claimed - All Types - Account</span>
									</a>
								</li>
								<li ng-if="checkAccess({'report_id':66,web_menus:false})">
									<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.claimed-AllHotelCarAndOther">
										<i class="material-icons">keyboard_arrow_right</i><span>Claimed - All Types: Hotel, Car - Account</span>
									</a>
								</li>
								<li ng-if="checkAccess({'report_id':64,web_menus:false})">
									<a class="prepend-icon" md-button aria-label="menu" href="#"  ui-sref="main.claimedAllExcludingHotel" ui-sref-active="activeBG">
										<i class="material-icons">keyboard_arrow_right</i><span>Claimed - Hotel Only - Account</span>
									</a>
								</li>
							</ul>
						</li>
						<!--  ng-if="checkAccess({'menu_id':11,web_menus:true})" -->
						<li class="parent_div" ng-if="checkMaintainanceShow(showlistByAgent)">
							<a class="prepend-icon" md-button aria-label="menu" href="#">
								<i class="material-icons">keyboard_arrow_right</i><span>List by Agent</span>
							</a>
							<ul id="booking_reports" ng-init="navLeftView('booking_reports')">
								<li ng-if="checkAccess({'report_id':10,web_menus:false})">
									<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.claimed-AllExcludingHotel-Agent" title="Filters: Claimed; Car/Other; Amount <> 0;">
										<i class="material-icons">keyboard_arrow_right</i><span>Claimed - All excluding Hotel</span>
									</a>
								</li>
								<li ng-if="checkAccess({'report_id':12,web_menus:false})">
									<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.claimed-AllTypes-Agent" title="Filters: Claimed; All Types; Amount <> 0">
										<i class="material-icons">keyboard_arrow_right</i><span>Claimed - All Types</span>
									</a>
								</li>
								<li ng-if="checkAccess({'report_id':11,web_menus:false})">
									<a class="prepend-icon" md-button aria-label="menu" href="#"  ui-sref-active="activeBG" ui-sref="main.claimed-AllHotelCarAndOther-Agent" title="Filters: Claimed; Other; Amount <> 0">
										<i class="material-icons">keyboard_arrow_right</i><span>Claimed - All Types: Hotel, Car</span>
									</a>
								</li>
								<li ng-if="checkAccess({'report_id':6,web_menus:false})">
									<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.claimed-hotelonly-Agent" title="Filters: Claimed; Hotel; Amount <> 0">
										<i class="material-icons">keyboard_arrow_right</i><span>Claimed - Hotel Only</span>
									</a>
								</li>
								<li ng-if="checkAccess({'report_id':14,web_menus:false})">
									<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.unclaimed-AllExcludingHotel-Agent" title="Filters: Unclaimed; Car/Other; Amount <> 0">
										<i class="material-icons">keyboard_arrow_right</i><span>Unclaimed - All Excluding Hotel</span>
									</a>
								</li>
								<li ng-if="checkAccess({'report_id':16,web_menus:false})">
									<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.unclaimed-AllTypes" title="Filters: Unclaimed; All Types; Amount <> 0">
										<i class="material-icons">keyboard_arrow_right</i><span>Unclaimed - All Types</span>
									</a>
								</li>
								<li ng-if="checkAccess({'report_id':15,web_menus:false})">
									<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.unclaimed-AllTypesHotelCarAndOther-Agent" title="Filters: Unclaimed; Other; Amount <> 0">
										<i class="material-icons">keyboard_arrow_right</i><span>Unclaimed - All Types Hotel Car</span>
									</a>
								</li>
								<li ng-if="checkAccess({'report_id':13,web_menus:false})">
									<a class="prepend-icon" md-button aria-label="menu" href="#" ui-sref-active="activeBG" ui-sref="main.unclaimed-hotelonly-Agent" title="Filters: Unclaimed; Hotel; Amount <> 0">
										<i class="material-icons">keyboard_arrow_right</i><span>Unclaimed - Hotel Only</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<!--  ng-if="checkAccess({'menu_id':3,web_menus:true})" -->
		<li class="parent_div" ng-if="checkMaintainanceShow(showBookingList)">
			<a md-button aria-label="menu" href="#">
				<i class="nav-icon material-icons">keyboard_arrow_right</i><span class="nav-text">Bookings</span>
			</a>
			<ul>
				<!--  ng-if="checkAccess({'menu_id':9,web_menus:true})" -->
				<li class="parent_div">
					<a class="prepend-icon" md-button aria-label="menu" href="#">
						<i class="material-icons">keyboard_arrow_right</i><span>Reports</span>
					</a>
					<ul>
						<li ng-if="checkAccess({'report_id':61,web_menus:false})">
							<a class="prepend-icon" md-button aria-label="menu" ui-sref-active="activeBG" ui-sref="main.matureBookingsReportByAgent-CarsOnly" title="This report will list all bookings on record for the date period entered of type CARS only. Data is grouped by agent, type and then business unit.">
								<i class="material-icons">keyboard_arrow_right</i><span>Mature Booking Report By Agent - Cars Only</span>
							</a>
						</li>
						<li ng-if="checkAccess({'report_id':60,web_menus:false})">
							<a class="prepend-icon" md-button aria-label="menu" ui-sref-active="activeBG" ui-sref="main.matureBookingsReportByAgent-HotelsOnly" title="This report will list all bookings on record for the date period entered of type HOTEL only. Data is grouped by agent, type and then business unit.">
								<i class="material-icons">keyboard_arrow_right</i><span>Mature Booking Report By Agent - Hotels Only</span>
							</a>
						</li>
						<!-- <li ng-if="checkAccess({'report_id':63,web_menus:false})">
							<a class="prepend-icon" md-button aria-label="menu" ui-sref-active="activeBG" ui-sref="main.outstandingBookingReport-CarsOnly">
								<i class="material-icons">keyboard_arrow_right</i><span>Outstanding Booking Report - Cars Only</span>
							</a>
						</li> -->
						<li ng-if="checkAccess({'report_id':62,web_menus:false})">
							<a class="prepend-icon" md-button aria-label="menu" ui-sref-active="activeBG" ui-sref="main.outstandingBookingReport-HotelsOnly">
								<i class="material-icons">keyboard_arrow_right</i><span>Outstanding Booking Report - Hotels Only</span>
							</a>
						</li>
					</ul>
				</li>

			</ul>
		</li>
		<li ng-init="navLeftView('scrollbox1')">
			<a ng-if="navCollapsed" md-button aria-label="menu" href="#" title="logout" ng-click="signout()">
				<i ng-if="navCollapsed" class="fa fa-power-off" aria-hidden="true"></i>
			</a>
			<a ng-if="!navCollapsed" md-button aria-label="menu" href="#" title="logout" ng-click="signout()">
				<i ng-if="!navCollapsed" class="nav-icon material-icons">keyboard_arrow_right</i><span class="nav-text">Logout</span>				
			</a>
		</li>
		<li class="nav-divider"></li>
	</ul>
	<label style="padding-left: 13px;" ng-if="$state.current.name != 'main.home' && $state.current.name != 'main.agentMaintenance' && $state.current.name != 'main.importReassignmentReport' && $state.current.name != 'main.addUserProfile' && $state.current.name != 'main.changePassword' && $state.current.name != 'main.userMaintenance' && $state.current.name != 'main.accountMaintenance' && $state.current.name != 'main.agencyMaintenance' && $state.current.name != 'main.commentMaintenance' && $state.current.name != 'main.corpMaintenance' && $state.current.name != 'main.businessCalendar'">Report Filters:</label>
	<div class="showSubFilterContents" ng-if="$state.current.name != 'main.changePassword' && $state.current.name != 'main.userMaintenance' && $state.current.name != 'main.addUserProfile' && $state.current.name != 'main.accountMaintenance' && $state.current.name != 'main.accountMaintenanceAdd' && $state.current.name != 'main.agencyMaintenance' && $state.current.name != 'main.agentMaintenance' && $state.current.name != 'main.agentMaintenanceAdd' && $state.current.name != 'main.agentMaintenanceUpdate' && $state.current.name != 'main.commentMaintenance' && $state.current.name != 'main.commentMaintenanceUpdate' && $state.current.name != 'main.commentMaintenanceAdd' && $state.current.name != 'main.corpMaintenance' && $state.current.name != 'main.businessCalendar' && $state.current.name != 'main.userCreatedReportMaintenance' && $state.current.name != 'main.importReassignmentReport'">
		<div class="quick-find commissionAnalysis" style="word-break: break-all;">
			<div class=" table-custom table-custom-border1">
				<div class="table-custom" ng-if="filterDataSelected.fromDate && filterDataSelected.toDate">
					<ul>
						<li ng-if="filterDataSelected.fromDate && filterDataSelected.toDate">Dates = </li>
						<li ng-if="filterDataSelected.fromDate && filterDataSelected.toDate">{{defaultSelectedParams.fromDate | date:'MM/dd/yyyy'}} - {{defaultSelectedParams.toDate | date:'MM/dd/yyyy'}}</li>	
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.dateSelect == '0' || filterDataSelected.dateSelect == '1' || filterDataSelected.dateSelect == '2' || filterDataSelected.dateSelect == '3'">
					<ul>
						<li>Type = {{(filterDataSelected.dateSelect == "0") ? 'Arrival' : (filterDataSelected.dateSelect == "1") ? 'Deposit' : (filterDataSelected.dateSelect == "2") ? 'Transaction' : 'Invoice'}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.claimingCapacity == 'ccd'">
					<ul>
						<li>Type = {{(filterDataSelected.claimingCapacity == "ccd") ? 'Create Claim' : ''}}</li>
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.unit">
					<ul>
						<li ng-if="filterDataSelected.unit">Unit = {{filterUnitName(filterDataSelected.unit)}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.branch">
					<ul>
						<li ng-if="filterDataSelected.branch">Branch = {{filterDataSelected.branch}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.agent">
					<ul>
						<li ng-if="filterDataSelected.agent">Agent = {{filterDataSelected.agent}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.account">
					<ul>
						<li ng-if="filterDataSelected.account">Account = {{filterDataSelected.account}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.iata">
					<ul>
						<li ng-if="filterDataSelected.iata">IATA = {{filterDataSelected.iata}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.propertyBrand || filterDataSelected.propertyChain || filterDataSelected.propertyName || filterDataSelected.propertyAddress || filterDataSelected.propertyState || filterDataSelected.propertyCity || filterDataSelected.propertyZip || filterDataSelected.propertyPhone || filterDataSelected.propertyPreferred">
					<ul>
						<li>Property =</li>
						<li ng-if="filterDataSelected.propertyBrand">Brand = {{filterDataSelected.propertyBrand}}</li>		
						<li ng-if="filterDataSelected.propertyChain">Chain = {{filterDataSelected.propertyChain}}</li>		
						<li ng-if="filterDataSelected.propertyName">Name = {{filterDataSelected.propertyName}}</li>		
						<li ng-if="filterDataSelected.propertyAddress">Address = {{filterDataSelected.propertyAddress}}</li>		
						<li ng-if="filterDataSelected.propertyCity">City = {{filterDataSelected.propertyCity}}</li>		
						<li ng-if="filterDataSelected.propertyState">State = {{filterDataSelected.propertyState}}</li>		
						<li ng-if="filterDataSelected.propertyZip">Zip = {{filterDataSelected.propertyZip}}</li>		
						<li ng-if="filterDataSelected.propertyPhone">Phone = {{filterDataSelected.propertyPhone}}</li>		
						<li ng-if="filterDataSelected.propertyPreferred">Preferred = {{filterDataSelected.propertyPreferred}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.type">
					<ul>
						<li>Type =</li>
						<li ng-if="checkOutValidType(list.type,filterDataSelected.type)" ng-repeat="list in bookingTypes | orderBy :'type'">{{list.type}} - {{list.description}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.status && $state.current.name != 'main.outstandingBookingReport-HotelsOnly'">
					<ul>
						<li>Status =</li>
						<li ng-if="checkOutValidType(list.statusCode,filterDataSelected.status)" ng-repeat="list in statusListView | orderBy :'statusCode' track by $index"><!-- {{list.statusCode}} -  -->{{list.description}}</li>
					</ul>
				</div>
				<div class="table-custom" ng-if="$state.current.name == 'main.outstandingBookingReport-HotelsOnly'">
					<ul>
						<li>Status =</li>
						<!-- <li>{{(reportFilterRoot.agentStatus == "O")?"O - Outstanding":"None"}}</li> -->
						<li>{{filteroutstandingStatusName(filterDataSelected.agentStatus)}}</li>
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.lastName">
					<ul>
						<li ng-if="filterDataSelected.lastName">Last Name = {{filterDataSelected.lastName}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.firstName">
					<ul>
						<li ng-if="filterDataSelected.firstName">First Name = {{filterDataSelected.firstName}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.amountSign">
					<ul>
						<li>Amount {{amountSelection[filterDataSelected.amountSign - 1].symbole}} {{(filterDataSelected.amountDollar) ? filterDataSelected.amountDollar : 0}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.confirmation">
					<ul>
						<li ng-if="filterDataSelected.confirmation">Confirmation = {{filterDataSelected.confirmation}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.payment_id">
					<ul>
						<li ng-if="filterDataSelected.payment_id">Payment Id = {{filterDataSelected.payment_id}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.inDate">
					<ul>
						<li ng-if="filterDataSelected.inDate">In Date = {{defaultSelectedParams.inDate | date:'MM/dd/yyyy'}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.bookingSource">
					<ul>
						<li ng-if="filterDataSelected.bookingSource">Booking Source = {{filterDataSelected.bookingSource}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.accountGroup">
					<ul>
						<li ng-if="filterDataSelected.accountGroup">Account Group = {{filterDataSelected.accountGroup}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.pnr">
					<ul>
						<li ng-if="filterDataSelected.pnr">PNR ID = {{filterDataSelected.pnr}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.rateCode">
					<ul>
						<li ng-if="filterDataSelected.rateCode">Rate Code = {{filterDataSelected.rateCode}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.batchNo">
					<ul>
						<li ng-if="filterDataSelected.batchNo">Batch No = {{filterDataSelected.batchNo}}</li>		
					</ul>
				</div>
				<div class="table-custom" ng-if="filterDataSelected.checkNo">
					<ul>
						<li ng-if="filterDataSelected.checkNo">Check No = {{filterDataSelected.checkNo}}</li>		
					</ul>
				</div>
				<!-- <div class="table-custom" ng-if="$state.current.name!='main.extractReport' && filterDataSelected.recordSelect">
					<ul>
						<li ng-if="filterDataSelected.recordSelect == '001'">Record = Pmt.unmatched</li>
						<li ng-if="filterDataSelected.recordSelect == '010'">Record = Bkg.unmatched</li>
						<li ng-if="filterDataSelected.recordSelect == '100'">Record = Matched</li>
						<li ng-if="filterDataSelected.recordSelect == '011'">Record = Bkg.unmatched, Pmt.unmatched</li>
						<li ng-if="filterDataSelected.recordSelect == '101'">Record = Matched, Pmt.unmatched</li>
						<li ng-if="filterDataSelected.recordSelect == '110'">Record = Matched, Bkg.unmatched</li>
						<li ng-if="filterDataSelected.recordSelect == '111'">Record = Matched, Bkg.unmatched, Pmt.unmatched</li>
					</ul>
				</div> -->
				<div class="table-custom" ng-if="$state.current.name == 'main.claimed-AllExcludingHotelAccount' || $state.current.name == 'main.claimedAllTypeAccount' || $state.current.name == 'main.claimed-AllHotelCarAndOther' || $state.current.name == 'main.claimedAllExcludingHotel' || $state.current.name == 'main.claimed-AllExcludingHotel-Agent' || $state.current.name == 'main.claimed-AllTypes-Agent' || $state.current.name == 'main.claimed-AllHotelCarAndOther-Agent' || $state.current.name == 'main.claimed-hotelonly-Agent' || $state.current.name == 'main.unclaimed-AllExcludingHotel-Agent' || $state.current.name == 'main.unclaimed-AllTypes' || $state.current.name == 'main.unclaimed-AllTypesHotelCarAndOther-Agent' || $state.current.name == 'main.unclaimed-hotelonly-Agent'">
					<ul>

						<li ng-if="$state.current.name == 'main.claimed-AllExcludingHotelAccount' || $state.current.name == 'main.claimedAllTypeAccount' || $state.current.name == 'main.claimed-AllHotelCarAndOther' || $state.current.name == 'main.claimedAllExcludingHotel' || $state.current.name == 'main.claimed-AllExcludingHotel-Agent' || $state.current.name == 'main.claimed-AllTypes-Agent' || $state.current.name == 'main.claimed-AllHotelCarAndOther-Agent' || $state.current.name == 'main.claimed-hotelonly-Agent'">Claimed = {{(filterDataSelected.claimed)?'Yes':''}}</li>

						<li ng-if="$state.current.name == 'main.unclaimed-AllExcludingHotel-Agent' || $state.current.name == 'main.unclaimed-AllTypes' || $state.current.name == 'main.unclaimed-AllType sHotelCarAndOther-Agent' || $state.current.name == 'main.unclaimed-hotelonly-Agent'">Claimed = {{(filterDataSelected.unclaimed)?'Exclude claimed':'All unclaimed'}}</li>
					</ul>
				</div>
				<!-- <div class="table-custom" ng-if="filterDataSelected.unclaimed">
					<ul>
						<li ng-if="filterDataSelected.unclaimed">Claimed = {{(filterDataSelected.unclaimed)?'Exclude claimed':''}}</li>		
					</ul>
				</div> -->
			</div>
		</div>
		
		<div class="quick-find">
			<label style="font-size:15px; padding-left: 60px" ng-if="$state.current.name == 'main.home' && GetUserPermissionsData.enableQuickFind">Quick Find</label><br>
			<!-- <label ng-if="$state.current.name != 'main.home'">Report Filters:</label> -->
			<md-button ng-if="$state.current.name != 'main.home' || GetUserPermissionsData.enableQuickFind" ng-click="leftPanelCommonFilter($event)" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Select Criteria</md-button>
			<!-- <md-button ng-click="applyFiltersRoot()" ng-if="(GetUserPermissionsData.enableQuickFind) && ($state.current.name == 'main.home' || $state.current.name == 'main.quickFindView')" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Find Records</md-button> -->
			<!-- <md-button ng-click="applyFiltersRoot()" ng-if="$state.current.name != 'main.home' || GetUserPermissionsData.enableQuickFind" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Find Records</md-button> -->
			
			<md-button ng-if="(GetUserPermissionsData.enableQuickFind) && ($state.current.name == 'main.home' || $state.current.name == 'main.quickFindView')" class="md-raised btn-w-md md-primary md-button md-ink-ripple" ng-click="callSaveReports()" ng-disabled="allowSaveReport">Save as a Report</md-button>
			<div ng-if="$state.current.name == 'main.home' || $state.current.name == 'main.quickFindView'">
				<form name="ctsNumber" ng-if="GetUserPermissionsData.enableCTSLookup" ng-submit="ctsFormSubmit($event, searchCTS)" novalidate=""> <!-- userDetails.superUser ||  -->
					<label>Locate by CTS Payment ID:</label>
					<input required="" type="text" name="CTSsearch" ng-model="searchCTS" class="form-control" />
					<md-button type="submit" ng-disabled="ctsNumber.$invalid" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Search</md-button>
				</form>
				<form name="ctsRecord" ng-if="GetUserPermissionsData.enableCTSRecordLookup" ng-submit="ctsRecordSubmit($event,searchRecord)" novalidate=""> <!-- userDetails.superUser ||  -->
					<label>Locate by Web ID:</label>
					<input required="" type="text" name="search" ng-model="searchRecord" class="form-control" />
					<md-button type="submit" ng-disabled="ctsRecord.$invalid" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Search</md-button>
				</form>
			</div>
		</div>

		<div class="quick-find commissionAnalysis" ng-if="$state.current.name == 'main.commissionAnalysis'">
			<label>Report Key: </label>
			<div class="table-custom table-custom-border">
				<div class="rowT"><div>Pmt</div><div>-</div><div>Payments</div></div>
				<div class="rowT"><div>CXL</div><div>-</div><div>Canceled</div></div> 
				<div class="rowT"><div>Due</div><div>-</div><div>Payment Owed</div></div> 
				<div class="rowT"><div>N/C</div><div>-</div><div>Non-Commissionable</div> </div>
				<div class="rowT"><div>PP</div><div>-</div><div>Previously Paid</div></div>
				<div class="rowT"><div>NS</div><div>-</div><div>No Show</div></div> 
				<div class="rowT"><div>Other</div><div>-</div><div>No record of stay </div></div>
				<div class="rowT"><div>UnAns</div><div>-</div><div>Unanswered</div> </div>
				<div class="rowT"><div>UnColl</div><div>-</div><div>Uncollectable</div></div>
			</div>
		</div>
		<div class="quick-find commissionAnalysis" ng-if="($state.current.name == 'main.home' || $state.current.name == 'main.quickFindView') && allowShowCTSNumber">
			<label>Status Key: </label>
			<div class="table-custom table-custom-border">
				<div class="rowT"><div>A</div><div>-</div><div>Active</div></div>
				<div class="rowT"><div>C</div><div>-</div><div>Cancellation</div></div> 
				<div class="rowT"><div>D</div><div>-</div><div>Commission Due</div></div> 
				<div class="rowT"><div>J</div><div>-</div><div>Remitted to agency</div> </div>
				<div class="rowT"><div>K</div><div>-</div><div>Sent to CommTrak</div></div>
				<div class="rowT"><div>N</div><div>-</div><div>Non-Commissionable</div></div> 
				<div class="rowT"><div>O</div><div>-</div><div>Outstanding</div></div>
				<div class="rowT"><div>P</div><div>-</div><div>Previously Paid</div> </div>
				<div class="rowT"><div>S</div><div>-</div><div>No Show</div></div>
				<div class="rowT"><div>T</div><div>-</div><div>Too old</div></div>
				<div class="rowT"><div>U</div><div>-</div><div>Unanswered</div></div>
				<div class="rowT"><div>X</div><div>-</div><div>No record of stay/Other</div></div>
				<div class="rowT"><div>Z</div><div>-</div><div>Uncollectable</div></div>
			</div>
		</div>
	</div>

	<div class="quick-find commissionAnalysis" ng-if="$state.current.name == 'main.notProvidedReport' || $state.current.name == 'main.houseBookingsReport' || $state.current.name == 'main.unmatchedPaymentRpt'">
		<form name="goRecordsFrm" ng-submit="goRecordSubmit($event,goRecord)" novalidate="">
			<label>Edit Record:</label>
			<input required="" type="text" name="go" ng-model="goRecord" class="form-control" />
			<md-button type="submit" ng-disabled="goRecordsFrm.$invalid" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>
		</form>
	</div>

	<div class="quick-find" ng-if="$state.current.name == 'main.batchReleaseUtility'">
		<label>Batches Released</label>
		<table class="md-table table table-bordered">
			<tbody class="md-body" style="border: 2px solid #ccc;">
	    		<!-- <tr>
	    			<th>Batch Id</th>
	    			<th></th>
	    		</tr> -->
	    		<tr ng-if="unmatchedPaymentList.length>0" ng-repeat="list in unmatchedPaymentList">
	    			<td style="padding-top: 18px; ">{{list}}</td>
	    			<td style="padding-left: 15px;"><md-button type="button" style="padding:0 12px;" ng-click="removeRelease(list, $index)" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Remove</md-button></td>
	    		</tr>
	    		<tr ng-if="unmatchedPaymentList.length<=0">
	    			<td>No batches</td>
	    		</tr>
	    	</tbody>
	    </table>
	</div>
</div>