<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Importer Run Log</h2>
		<div ng-if="stateName!='viewBatch'">
			<div class="divider divider-md"></div>
			<md-card class="no-margin-h">
				<md-table-container>
					<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
				}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
				<thead ng-if="!options.decapitate" md-head md-on-reorder="logOrder"
				>
				<tr class="md-row">
					<th md-column class="text-center"><span>Time Stamp (Date)</span></th> 
					<th md-column class="text-center"><span>Time Stamp (Time)</span></th> 
				</thead>
				<tbody class="md-body">
					<tr class="md-row" md-select="accountList" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="data in accountList" ng-if="!accountListLoading"><!-- | orderBy: query.order -->
						<td md-cell class="text-center" style="text-align: center;">{{data.timestamp | date:'MM/dd/yyyy'}}</td>
						<td md-cell class="text-center" style="text-align: center;">{{data.timestamp | date : 'hh:mm:ss a'}}</td>
					</tr>
					<tr class="md-row" ng-if="!accountList.length && !accountListLoading">
						<td colspan="2" md-cell class="text-center" style="padding: 10px; text-align: center;">{{noData}}</td>
					</tr>
					<tr class="md-row" ng-if="accountListLoading">
						<td colspan="2" md-cell class="text-center" style="padding: 10px; text-align: center;">Loading...</td>
					</tr>
				</tbody>
			</table>
		</md-table-container>
		<md-table-pagination md-limit="query.limit" ng-if="accountList.length && !accountListLoading" md-limit-options="limitOptions" md-page="query
		.page" md-total="{{accountListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
	</md-card>
</article>
</section>
