<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Report: Branch Summary</h2>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<div class="row custom-row">
					<div class="col-md-2 pull-right">						
						<a class="excel-custom" ng-click="getPDFLink(2)" href="javascript:void(0)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
						<a class="pdf-custom" ng-click="getPDFLink(1)" href="javascript:void(0)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
					</div>
				</div>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th class="md-column text-center custom-pending"><span>Branch Code</span></th> 
				<th class="md-column text-center"><span>Booking Count</span></th>
				<th class="md-column text-center"><span>Estimated Commission</span></th>
				<th class="md-column text-center" colspan="2"> <span>Payments</span></th>
				<th class="md-column text-center" colspan="2"><span>Cancellations/No Shows</span></th>
				<th class="md-column text-center" colspan="2"> <span>Non-Commissionable</span></th>
				<th class="md-column text-center" colspan="2"><span>Other</span></th>
				<th class="md-column text-center"><span>Payment</span></th>
				<th class="md-column text-center"><span>Payment</span></th>
				<th class="md-column text-center" colspan="2"><span>Resolved</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row">
				<th class="md-column text-center"></th>
				<th class="md-column text-center"></th>
				<th class="md-column text-center"></th>
				<th class="md-column text-center">Count</th>
				<th class="md-column text-center">Act. Amount</th>
				<th class="md-column text-center">Count</th>
				<th class="md-column text-center">Est. Amount</th>
				<th class="md-column text-center">Count</th>
				<th class="md-column text-center">Est. Amount</th>
				<th class="md-column text-center">Count</th>
				<th class="md-column text-center">Est. Amount</th>
				<th class="md-column text-center">%</th>
				<th class="md-column text-center">Days</th>
				<th class="md-column text-center">%</th>
			</tr>
			
			<tr ng-repeat-end class="md-row" ng-repeat="item in branchList" ng-show="!branchListLoading">
				<td class="md-cell"><a ui-sref="main.commissionbybranchById({fromdate:frmDateID, todate:toDateID, id:item.chain})">{{(item.chain)?item.chain:'---'}}</a></td>
				<td class="md-cell">{{item.bookingCount}}</td>
				<td class="md-cell" style="text-align: right">${{item.est_comm | number : 2}}</td>
				<td class="md-cell">{{item.count_A}}</td>
				<td class="md-cell" style="text-align: right">${{item.amount_A | number : 2}}</td>
				<td class="md-cell">{{item.count_C}}</td>
				<td class="md-cell" style="text-align: right">${{item.amount_C | number : 2}}</td>
				<td class="md-cell">{{item.count_N}}</td>
				<td class="md-cell" style="text-align: right">${{item.amount_N | number : 2}}</td>
				<td class="md-cell">{{item.count_Other}}</td>
				<td class="md-cell" style="text-align: right">${{item.amount_Other | number : 2}}</td>
				<td class="md-cell">{{item.paymentPercent | number : 2}}%</td>
				<td class="md-cell">{{item.averagePaymentDays}}</td>
				<td class="md-cell">{{item.resolvedPercent | number : 2}}%</td>
			</tr>
			<tr ng-repeat-end ng-show="false"></tr>
			<tr class="md-row" ng-if="!branchList.length && !branchListLoading">
				<td class="text-center" style="padding: 10px" colspan="35">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="branchListLoading">
				<td class="text-center" style="padding: 10px" colspan="35">Loading....</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination ng-if="branchList.length && !branchListLoading" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>