<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Report: Commission Analysis</h2>
		<span class="pull-right" style="color: red">* Required </span><br>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<form style="width: 100%;" name="commisAnays" novalidate="" ng-submit="callFiterData(true)">
					<div class="row custom-row">
						<div class="col-md-6 col-sm-6">
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<md-datepicker class="start-calender" required ng-change="checkValidDate(unmatchedPaymentRpt.fromDate,unmatchedPaymentRpt.toDate)" ng-model="unmatchedPaymentRpt.fromDate" md-placeholder="From*"></md-datepicker>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div flex-gt-xs="" class="custom-datePicker">
									<!-- ng-disabled="!unmatchedPaymentRpt.fromDate" -->
									<md-datepicker class="start-calender" required md-min-date="unmatchedPaymentRpt.fromDate" ng-model="unmatchedPaymentRpt.toDate" md-placeholder="To*"></md-datepicker>
								</div>
							</div>
						</div>			
						<div class="col-md-4 col-sm-4 column-btn-go">
							<div layout-gt-sm="row" class="layout-gt-sm-row">
								<md-input-container class="md-block flex-gt-sm custom-display" style="margin:5px 0;">
									<md-button type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>	
								</md-input-container>
								<md-input-container class="md-block flex-gt-sm custom-display">
									<md-radio-group ng-model="unmatchedPaymentRpt.selectedDate" ng-selected>
										<md-radio-button value="0" class="md-primary">Arrival Date</md-radio-button>
									</md-radio-group>
									<md-radio-group ng-model="unmatchedPaymentRpt.selectedDate">
										<md-radio-button value="1" class="md-primary">Deposit Date</md-radio-button>
									</md-radio-group>
									<md-radio-group ng-model="unmatchedPaymentRpt.selectedDate">
										<md-radio-button value="2" class="md-primary">Transaction Date</md-radio-button>
									</md-radio-group>
								</md-input-container>
							</div>
						</div>
						<div class="col-md-2 col-sm-2">						
							<a class="excel-custom" ng-click="getPDFLink(2)" href="javascript:void(0)" title="Excel" style="padding-top: 18px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
							<a class="pdf-custom" ng-click="getPDFLink(1)" href="javascript:void(0)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
						</div>
					</div>
				</form>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th class="md-column text-center"> <span>Type</span></th>
				<th md-column class="text-center" md-order-by="PropertyName"><span>Property Name</span></th>
				<th md-column class="text-center" md-order-by="PropertyCity"> <span>Property City</span></th>
				<th md-column class="text-center" md-order-by="Bookings"><span>Bookings</span></th>
				<th md-column class="text-center" md-order-by="roomNights"> <span>Room/Nights</span></th>
				<th md-column class="text-center" md-order-by="ExpectedCommission"><span>Expected Commission</span></th>
				<th md-column class="text-center" md-order-by="ActualCommission"><span>Actual Commission</span></th>
				<th md-column class="text-center" md-order-by="Pmt"><span>Pmt</span></th>
				<th md-column class="text-center" md-order-by="CXL"><span>CXL</span></th>
				<th md-column class="text-center" md-order-by="DUE"><span>DUE</span></th>
				<th md-column class="text-center" md-order-by="NC"><span>N/C</span></th>
				<th md-column class="text-center" md-order-by="PP"><span>PP</span></th>
				<th md-column class="text-center" md-order-by="NS"><span>NS</span></th>
				<th md-column class="text-center" md-order-by="Other"><span>Other</span></th>
				<th md-column class="text-center" md-order-by="UnAns"><span>UnAns</span></th>
				<th md-column class="text-center" md-order-by="UnColl"><span>UnColl</span></th>
				<th md-column class="text-center" md-order-by="paymentPercent"><span>Pmt %</span></th>
				<th md-column class="text-center" md-order-by="PaymentDays"><span>Payment Days</span></th>
				<th md-column class="text-center" md-order-by="resolvedPercent"><span>Resolved %</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row customBGColor" ng-show="unmatchedPayment.length && !unmatchedPaymentLoading" md-select="unmatchedPayment" ng-repeat-start="data in bookingToFilter() | filter:filterTeams">
				<td md-cell class="md-cell" colspan="3"><i ng-click="selectRow[$index] = !selectRow[$index]" ng-class="(!selectRow[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{data.typeDescription}}</td>
				<td md-cell class="text-center" style="text-align: right;" ng-init="totalAV = totalAvailableCommsion(unmatchedPayment)">{{totalAV.Bookings | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{totalAV.roomNights | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">${{totalAV.ExpectedCommission | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">${{totalAV.ActualCommission | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{totalAV.Pmt | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{totalAV.CXL | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{totalAV.DUE | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{totalAV.NC | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{totalAV.PP | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{totalAV.NS | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{totalAV.Other | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{totalAV.UnAns | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{totalAV.UnColl | number:2}}</td>
				<td md-cell class="text-center"></td>
				<td md-cell class="text-center"></td>
				<td md-cell class="text-center"></td>
			</tr>
			<tr ng-repeat-end ng-show="!selectRow[$parent.$index] && !unmatchedPaymentLoading" class="md-row" ng-repeat="item in unmatchedPayment | filter:{typeDescription:data.typeDescription}:true"> <!-- | orderBy: query.order -->
				<td md-cell class="text-center">{{item.typeDescription}}</td>
				<td md-cell class="text-center">{{item.PropertyName}}</td>
				<td md-cell class="text-center">{{item.PropertyCity}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{item.Bookings | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{item.roomNights | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">${{item.ExpectedCommission | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">${{item.ActualCommission | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{item.Pmt | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{item.CXL | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{item.DUE | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{item.NC | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{item.PP | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{item.NS | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{item.Other | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{item.UnAns | number:2}}</td>
				<td md-cell class="text-center" style="text-align: right;">{{item.UnColl | number:2}}</td>
				<td md-cell class="text-center">{{item.paymentPercent}}%</td>
				<td md-cell class="text-center">{{item.PaymentDays}}</td>
				<td md-cell class="text-center">{{item.resolvedPercent}}%</td>
				<!-- <td class="md-cell" ng-init="data.finalTotal = data.finalTotal + item.net_act_comm" style="text-align: right;">{{item.net_act_comm | number : 2}}</td> -->
			</tr>
			<tr class="md-row" ng-if="!unmatchedPayment.length && !unmatchedPaymentLoading">
				<td class="text-center" style="padding: 10px" colspan="19">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="unmatchedPaymentLoading">
				<td class="text-center" style="padding: 10px" colspan="19">Loading...</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination ng-show="unmatchedPayment.length && !unmatchedPaymentLoading" md-limit="query.limit" md-limit-options="limitOptions" md-page="query
.page" md-total="{{unmatchedPaymentTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>