<toaster-container toaster-options="tosterOption"></toaster-container>
<section class="container-fluid chapter">
	<article class="article">
		<h2 class="article-title">Import Reassignment Report</h2>
		<span class="pull-right" style="color: red">* Required </span><br>
		<md-card class="no-margin-h">
			<md-card-title style="padding-top: 25px;">
				<div class="row custom-row">
					<!-- <div class="col-md-8"> -->
					
					<form style="width: 100%;" name="importReassReport" novalidate="" ng-submit="callFiterData(true)">
						<div class="row custom-row">
							<div class="col-md-12">
								<div class="col-lg-6 col-md-12">
									<div class="row">
										<div class="col-lg-3 col-md-2 col-sm-3">
											<label style="margin-top: 21px;">Deposit Date</label>
										</div>		
										<div class="col-lg-4 col-md-5 col-sm-4">
											<div flex-gt-xs="" class="custom-datePicker">
												<md-datepicker class="start-calender" ng-change="checkValidDate(report.fromDate,report.toDate)" ng-model="report.fromDate" md-placeholder="From*" required></md-datepicker>
											</div>
										</div>
										<div class="col-lg-4 col-md-5 col-sm-4">
											<div flex-gt-xs="" class="custom-datePicker">
												<md-datepicker class="start-calender" md-min-date="report.fromDate" ng-model="report.toDate" md-placeholder="To*" required></md-datepicker>
											</div>
										</div>
									</div>
								</div>			
								<div class="col-lg-6 col-md-12">
									<div class="row">
										<div class="col-lg-5 col-md-3 col-sm-3 col-xs-12">
											<md-button style="margin-top: 15px;" type="submit" class="md-raised btn-w-md md-primary md-button md-ink-ripple">Go</md-button>
										</div>
										<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
											<a class="excel-custom" style="margin: 14px 10px;" href="javascript:void(0)" ng-click="getPDFLink(2)" title="Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
											<a class="pdf-custom" style="margin: 14px 10px;" href="javascript:void(0)" ng-click="getPDFLink(1)" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</md-card-title>
		</md-card>
		<div class="divider divider-md"></div>
		<md-card class="no-margin-h">
			<md-table-container>
				<table class="md-table" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect
			}}" ng-model="selected" md-progress="promise" cellspacing="10" cellpadding="10">
			<thead ng-if="!options.decapitate" md-head md-on-reorder="logOrder"
			>
			<tr class="md-row">
				<th class="md-column text-center"><span>Deposit Date</span></th>
				<th class="md-column text-center"><span>Business Units</span></th>
				<th class="md-column text-center"><span>Rule Description</span></th>
				<th class="md-column text-center"><span>ID</span></th>
				<th class="md-column text-center"><span>Gross Amount</span></th>
				<th class="md-column text-center"><span>Field Name</span></th>
				<th class="md-column text-center"><span>Old Value</span></th>
				<th class="md-column text-center"><span>New Value</span></th>
			</tr>
		</thead>
		<tbody class="md-body">
			<tr class="md-row customBGColor" ng-repeat-start="data in reassignmentList">
				<td class="md-cell">{{data.changeDate | date: 'MM/dd/yyyy'}}</td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
			</tr>
			<tr ng-repeat-start="data1 in GroupFilterData(data.list) | filter:createFilterForChild" class="md-row customBGColor1">
				<td class="md-cell"></td>
				<td class="md-cell">{{data1.businessUnit}}</td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
			</tr>
			<tr ng-repeat-start="data2 in GroupFilterData1(data.list) | filter:{businessUnit:data.businessUnit}:true | filter:createFilterForChildForRuledesc" class="md-row customBGColor2">
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"><i ng-click="selectRow[$index] = !selectRow[$index]" ng-class="(selectRow[$index]) ? 'fa-minus' : 'fa-plus'" class="fa fa-plus"></i> {{data2.ruleDescription}}</td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
				<td class="md-cell"></td>
			</tr>
			<tr ng-repeat-end ng-show="selectRow[$parent.$index]" class="md-row" ng-repeat="item in data.list | filter:{businessUnit: data1.businessUnit,ruleDescription:data2.ruleDescription}">
				<td class="md-cell">{{item.changeDate | date: 'MM/dd/yyyy'}}</td>
				<td class="md-cell">{{item.businessUnit}}</td>
				<td class="md-cell">{{item.ruleDescription}}</td>
				<td class="md-cell"><a href="#" title="{{item.id}}" ng-click="showConfirmPopup($event,item,'Import Reassignment Report')">{{item.id}}</a></td>
				<td class="md-cell" style="text-align: right">${{item.gross_amt | number : 2}}</td>
				<td class="md-cell">{{item.fieldName}}</td>
				<td class="md-cell" >{{item.oldValue}}</td>
				<td class="md-cell">{{item.newValue}}</td>
			</tr>
			<tr ng-repeat-end ng-show="false"></tr>
			<tr ng-repeat-end ng-show="false"></tr>
			<tr class="md-row" ng-if="!reassignmentList.length && !reportLoading">
				<td class="text-center" style="padding: 10px" colspan="8">{{noData}}</td>
			</tr>
			<tr class="md-row" ng-if="reportLoading">
				<td class="text-center" style="padding: 10px" colspan="8">Loading....</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
<md-table-pagination md-label="{rowsPerPage: 'Deposit Date Per Page:'}" ng-if="reassignmentList.length" md-limit="query.limit" md-limit-options="limitOptions" md-page="query
.page" md-total="{{bookingListTotal}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
</article>
</section>
</div>